<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Master</key>
	<array>
		<dict>
			<key>attack</key>
			<integer>1</integer>
			<key>gainmakeup</key>
			<integer>1</integer>
			<key>release</key>
			<integer>300</integer>
			<key>threshold</key>
			<integer>-4</integer>
			<key>type</key>
			<string>compressor</string>
		</dict>
	</array>
	<key>Samples</key>
	<array>
		<array>
			<integer>-7</integer>
			<string>Dogs</string>
		</array>
		<array>
			<string>D</string>
			<integer>-7</integer>
		</array>
		<array>
			<dict>
				<key>level</key>
				<real>0.7</real>
				<key>type</key>
				<string>distortion</string>
			</dict>
			<string>D 1</string>
			<integer>-17</integer>
			<dict>
				<key>cutoff</key>
				<integer>1000</integer>
				<key>resonance</key>
				<integer>2</integer>
				<key>type</key>
				<string>highpass</string>
			</dict>
		</array>
		<array>
			<integer>-7</integer>
			<string>O</string>
		</array>
		<array>
			<dict>
				<key>cutoff</key>
				<integer>1000</integer>
				<key>resonance</key>
				<integer>2</integer>
				<key>type</key>
				<string>highpass</string>
			</dict>
			<dict>
				<key>level</key>
				<real>0.7</real>
				<key>type</key>
				<string>distortion</string>
			</dict>
			<integer>-6</integer>
			<string>O 1</string>
		</array>
		<array>
			<integer>-8</integer>
			<string>G</string>
		</array>
		<array>
			<dict>
				<key>cutoff</key>
				<integer>1000</integer>
				<key>resonance</key>
				<integer>2</integer>
				<key>type</key>
				<string>highpass</string>
			</dict>
			<dict>
				<key>level</key>
				<real>0.7</real>
				<key>type</key>
				<string>distortion</string>
			</dict>
			<integer>-17</integer>
			<string>G 1</string>
		</array>
		<array>
			<string>S</string>
			<integer>-8</integer>
		</array>
		<array>
			<string>S 1</string>
			<integer>-17</integer>
			<dict>
				<key>level</key>
				<real>0.7</real>
				<key>type</key>
				<string>distortion</string>
			</dict>
			<dict>
				<key>cutoff</key>
				<integer>1000</integer>
				<key>resonance</key>
				<integer>2</integer>
				<key>type</key>
				<string>highpass</string>
			</dict>
		</array>
		<array>
			<string>Bark</string>
			<integer>-7</integer>
		</array>
	</array>
</dict>
</plist>
