<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>dc_bg06.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>78.99771118164062</real>
					<key>y</key>
					<real>388.66643676757815</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>78.04771118164062</real>
					<key>y</key>
					<real>674.5664367675781</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>80.94771118164063</real>
					<key>y</key>
					<real>104.91643676757815</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>655.2977111816406</real>
					<key>y</key>
					<real>103.9664367675781</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_pink.png</string>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>226.64771118164063</real>
					<key>y</key>
					<real>681.1164367675781</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_pink.png</string>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>799.9977111816406</real>
					<key>y</key>
					<real>104.91643676757815</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>945.7977111816406</real>
					<key>y</key>
					<real>394.4664367675781</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>372.4477111816406</real>
					<key>y</key>
					<real>683.0664367675781</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>945.7977111816406</real>
					<key>y</key>
					<real>106.86643676757808</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>945.7977111816406</real>
					<key>y</key>
					<real>680.1664367675781</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_pink.png</string>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>78.99771118164062</real>
					<key>y</key>
					<real>532.4664367675781</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_pink.png</string>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>804.8977111816406</real>
					<key>y</key>
					<real>682.1164367675781</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_pink.png</string>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>79.99771118164062</real>
					<key>y</key>
					<real>246.7664367675781</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_pink.png</string>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>510.4977111816406</real>
					<key>y</key>
					<real>102.01643676757817</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>661.9977111816406</real>
					<key>y</key>
					<real>682.1164367675781</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>367.59771118164065</real>
					<key>y</key>
					<real>102.01643676757817</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_pink.png</string>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>945.7977111816406</real>
					<key>y</key>
					<real>538.3164367675781</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_pink.png</string>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>945.7977111816406</real>
					<key>y</key>
					<real>250.66643676757815</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_pink.png</string>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>520.1477111816406</real>
					<key>y</key>
					<real>682.1164367675781</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_pink.png</string>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>225.64771118164063</real>
					<key>y</key>
					<real>102.7164367675781</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
