<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>dc_bg04.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>478.9805603027344</real>
					<key>height</key>
					<real>478.7017822265625</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>478.9805603027344</real>
					<key>height</key>
					<real>478.7017822265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>759.8402801513672</real>
					<key>y</key>
					<real>502.0991088867188</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_pink.png</string>
					<key>width</key>
					<real>245.88226318359375</real>
					<key>height</key>
					<real>245.88226318359375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>245.88226318359375</real>
					<key>height</key>
					<real>245.88226318359375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>392.84113159179685</real>
					<key>y</key>
					<real>624.6588684082031</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_pink.png</string>
					<key>width</key>
					<real>245.88226318359375</real>
					<key>height</key>
					<real>245.88226318359375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>245.88226318359375</real>
					<key>height</key>
					<real>245.88226318359375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>392.84113159179685</real>
					<key>y</key>
					<real>384.2088684082031</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>245.88226318359375</real>
					<key>height</key>
					<real>245.88226318359375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>245.88226318359375</real>
					<key>height</key>
					<real>245.88226318359375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>148.09113159179688</real>
					<key>y</key>
					<real>624.6588684082031</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>245.88226318359375</real>
					<key>height</key>
					<real>245.88226318359375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>245.88226318359375</real>
					<key>height</key>
					<real>245.88226318359375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>150.09113159179688</real>
					<key>y</key>
					<real>384.2088684082031</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_pink.png</string>
					<key>width</key>
					<real>245.88226318359375</real>
					<key>height</key>
					<real>245.88226318359375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>245.88226318359375</real>
					<key>height</key>
					<real>245.88226318359375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>394.9911315917969</real>
					<key>y</key>
					<real>135.0088684082031</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_pink.png</string>
					<key>width</key>
					<real>245.88226318359375</real>
					<key>height</key>
					<real>245.88226318359375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>245.88226318359375</real>
					<key>height</key>
					<real>245.88226318359375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>635.4411315917969</real>
					<key>y</key>
					<real>135.0088684082031</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_pink.png</string>
					<key>width</key>
					<real>245.88226318359375</real>
					<key>height</key>
					<real>245.88226318359375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>245.88226318359375</real>
					<key>height</key>
					<real>245.88226318359375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>152.39113159179686</real>
					<key>y</key>
					<real>135.0088684082031</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
