<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>dc_bg04.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>371.06689453125</real>
					<key>height</key>
					<real>371.0270690917969</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>371.06689453125</real>
					<key>height</key>
					<real>371.0270690917969</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>342.733447265625</real>
					<key>y</key>
					<real>575.4864654541016</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_pink.png</string>
					<key>width</key>
					<real>371.06689453125</real>
					<key>height</key>
					<real>370.98724365234375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>371.06689453125</real>
					<key>height</key>
					<real>370.98724365234375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>716.083447265625</real>
					<key>y</key>
					<real>575.5063781738281</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>371.06689453125</real>
					<key>height</key>
					<real>370.98724365234375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>371.06689453125</real>
					<key>height</key>
					<real>370.98724365234375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>342.733447265625</real>
					<key>y</key>
					<real>196.4063781738281</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_pink.png</string>
					<key>width</key>
					<real>371.06689453125</real>
					<key>height</key>
					<real>371.0005187988281</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>371.06689453125</real>
					<key>height</key>
					<real>371.0005187988281</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>716.083447265625</real>
					<key>y</key>
					<real>196.39974060058591</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
