<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>dc_bg04.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>182.74566650390625</real>
					<key>height</key>
					<real>182.666015625</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>182.74566650390625</real>
					<key>height</key>
					<real>182.666015625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>928.3728332519531</real>
					<key>y</key>
					<real>476.36699218750005</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>182.7191162109375</real>
					<key>height</key>
					<real>182.69256591796875</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>182.7191162109375</real>
					<key>height</key>
					<real>182.69256591796875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>99.85955810546875</real>
					<key>y</key>
					<real>672.5037170410156</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>182.7191162109375</real>
					<key>height</key>
					<real>182.7191162109375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>182.7191162109375</real>
					<key>height</key>
					<real>182.7191162109375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>99.85955810546875</real>
					<key>y</key>
					<real>477.2404418945313</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>182.74566650390625</real>
					<key>height</key>
					<real>182.666015625</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>182.74566650390625</real>
					<key>height</key>
					<real>182.666015625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>928.3728332519531</real>
					<key>y</key>
					<real>671.6169921875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_pink.png</string>
					<key>width</key>
					<real>182.74566650390625</real>
					<key>height</key>
					<real>182.7191162109375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>182.74566650390625</real>
					<key>height</key>
					<real>182.7191162109375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>311.6228332519531</real>
					<key>y</key>
					<real>476.39044189453125</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_pink.png</string>
					<key>width</key>
					<real>182.74566650390625</real>
					<key>height</key>
					<real>182.7191162109375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>182.74566650390625</real>
					<key>height</key>
					<real>182.7191162109375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>311.6228332519531</real>
					<key>y</key>
					<real>671.6904418945312</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_pink.png</string>
					<key>width</key>
					<real>182.74566650390625</real>
					<key>height</key>
					<real>182.7191162109375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>182.74566650390625</real>
					<key>height</key>
					<real>182.7191162109375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>99.62283325195312</real>
					<key>y</key>
					<real>89.8404418945313</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_pink.png</string>
					<key>width</key>
					<real>182.75894165039062</real>
					<key>height</key>
					<real>182.70584106445312</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>182.75894165039062</real>
					<key>height</key>
					<real>182.70584106445312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>99.62947082519531</real>
					<key>y</key>
					<real>285.0970794677734</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>182.74566650390625</real>
					<key>height</key>
					<real>182.666015625</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>182.74566650390625</real>
					<key>height</key>
					<real>182.666015625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>523.3728332519531</real>
					<key>y</key>
					<real>476.4169921875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>182.75894165039062</real>
					<key>height</key>
					<real>182.7191162109375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>182.75894165039062</real>
					<key>height</key>
					<real>182.7191162109375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>523.3794708251953</real>
					<key>y</key>
					<real>671.6904418945312</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>182.75894165039062</real>
					<key>height</key>
					<real>182.7191162109375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>182.75894165039062</real>
					<key>height</key>
					<real>182.7191162109375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>311.3794708251953</real>
					<key>y</key>
					<real>89.8404418945313</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_pink.png</string>
					<key>width</key>
					<real>182.74566650390625</real>
					<key>height</key>
					<real>182.666015625</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>182.74566650390625</real>
					<key>height</key>
					<real>182.666015625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>523.1228332519531</real>
					<key>y</key>
					<real>285.1669921875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_pink.png</string>
					<key>width</key>
					<real>182.75894165039062</real>
					<key>height</key>
					<real>182.7191162109375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>182.75894165039062</real>
					<key>height</key>
					<real>182.7191162109375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>735.1294708251953</real>
					<key>y</key>
					<real>476.39044189453125</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>182.75894165039062</real>
					<key>height</key>
					<real>182.7191162109375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>182.75894165039062</real>
					<key>height</key>
					<real>182.7191162109375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>311.3794708251953</real>
					<key>y</key>
					<real>285.14044189453125</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_pink.png</string>
					<key>width</key>
					<real>182.75894165039062</real>
					<key>height</key>
					<real>182.7191162109375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>182.75894165039062</real>
					<key>height</key>
					<real>182.7191162109375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>523.1794708251953</real>
					<key>y</key>
					<real>90.64044189453125</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_pink.png</string>
					<key>width</key>
					<real>182.75894165039062</real>
					<key>height</key>
					<real>182.7191162109375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>182.75894165039062</real>
					<key>height</key>
					<real>182.7191162109375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>735.1294708251953</real>
					<key>y</key>
					<real>671.6904418945312</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
