<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>dc_bg03.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>946.4862274169922</real>
					<key>y</key>
					<real>82.71377258300777</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>946.4862274169922</real>
					<key>y</key>
					<real>677.7137725830078</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>946.4862274169922</real>
					<key>y</key>
					<real>528.7637725830078</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>946.4862274169922</real>
					<key>y</key>
					<real>380.2137725830078</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>946.4862274169922</real>
					<key>y</key>
					<real>231.46377258300782</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>82.93622741699218</real>
					<key>y</key>
					<real>82.71377258300777</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>82.93622741699218</real>
					<key>y</key>
					<real>231.46377258300782</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>143.51760864257812</real>
					<key>height</key>
					<real>143.265380859375</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.51760864257812</real>
					<key>height</key>
					<real>143.265380859375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>82.45880432128907</real>
					<key>y</key>
					<real>677.7173095703125</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>82.93622741699218</real>
					<key>y</key>
					<real>528.7637725830078</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>82.93622741699218</real>
					<key>y</key>
					<real>380.2137725830078</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_pink.png</string>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>298.8362274169922</real>
					<key>y</key>
					<real>82.71377258300777</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_pink.png</string>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>298.8362274169922</real>
					<key>y</key>
					<real>528.7637725830078</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_pink.png</string>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>298.48622741699216</real>
					<key>y</key>
					<real>677.7137725830078</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_pink.png</string>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>298.8362274169922</real>
					<key>y</key>
					<real>231.46377258300782</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_pink.png</string>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>298.8362274169922</real>
					<key>y</key>
					<real>380.2137725830078</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>514.4862274169922</real>
					<key>y</key>
					<real>677.7137725830078</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>514.7362274169922</real>
					<key>y</key>
					<real>528.7637725830078</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>514.7362274169922</real>
					<key>y</key>
					<real>82.71377258300777</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>514.7362274169922</real>
					<key>y</key>
					<real>231.46377258300782</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_blue.png</string>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>514.7362274169922</real>
					<key>y</key>
					<real>380.2137725830078</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_pink.png</string>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>730.6362274169921</real>
					<key>y</key>
					<real>380.2137725830078</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_pink.png</string>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>730.6362274169921</real>
					<key>y</key>
					<real>528.7637725830078</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_pink.png</string>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>730.6362274169921</real>
					<key>y</key>
					<real>231.46377258300782</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_pink.png</string>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>730.6362274169921</real>
					<key>y</key>
					<real>82.71377258300777</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>DC_frame_pink.png</string>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>DC_frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.17245483398438</real>
					<key>height</key>
					<real>143.17245483398438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>730.4862274169922</real>
					<key>y</key>
					<real>677.7137725830078</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
