<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame01.png</string>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>433.459521484375</real>
					<key>y</key>
					<real>382.540478515625</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame01.png</string>
					<key>width</key>
					<real>300.87890625</real>
					<key>height</key>
					<real>300.87890625</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>300.87890625</real>
					<key>height</key>
					<real>300.87890625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>806.239453125</real>
					<key>y</key>
					<real>609.860546875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame01.png</string>
					<key>width</key>
					<real>300.87158203125</real>
					<key>height</key>
					<real>300.87158203125</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>300.87158203125</real>
					<key>height</key>
					<real>300.87158203125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>514.735791015625</real>
					<key>y</key>
					<real>160.71420898437498</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame02.png</string>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>433.459521484375</real>
					<key>y</key>
					<real>681.290478515625</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame02.png</string>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>583.459521484375</real>
					<key>y</key>
					<real>681.290478515625</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame02.png</string>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>583.459521484375</real>
					<key>y</key>
					<real>532.090478515625</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame02.png</string>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>433.459521484375</real>
					<key>y</key>
					<real>532.090478515625</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame03.png</string>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>135.359521484375</real>
					<key>y</key>
					<real>86.09047851562502</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame03.png</string>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>135.359521484375</real>
					<key>y</key>
					<real>235.690478515625</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame03.png</string>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>284.609521484375</real>
					<key>y</key>
					<real>235.690478515625</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame03.png</string>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>284.609521484375</real>
					<key>y</key>
					<real>86.09047851562502</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame04.png</string>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>743.259521484375</real>
					<key>y</key>
					<real>84.39047851562498</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame04.png</string>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>743.259521484375</real>
					<key>y</key>
					<real>233.64047851562498</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame04.png</string>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>893.559521484375</real>
					<key>y</key>
					<real>233.64047851562498</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame04.png</string>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>893.559521484375</real>
					<key>y</key>
					<real>84.39047851562498</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame01.png</string>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>583.459521484375</real>
					<key>y</key>
					<real>382.840478515625</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame01.png</string>
					<key>width</key>
					<real>300.87890625</real>
					<key>height</key>
					<real>300.87890625</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>300.87890625</real>
					<key>height</key>
					<real>300.87890625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>198.939453125</real>
					<key>y</key>
					<real>609.860546875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame05.png</string>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>892.809521484375</real>
					<key>y</key>
					<real>382.740478515625</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame05.png</string>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>743.259521484375</real>
					<key>y</key>
					<real>382.640478515625</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame05.png</string>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>135.359521484375</real>
					<key>y</key>
					<real>382.590478515625</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame05.png</string>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>132.01904296875</real>
					<key>height</key>
					<real>132.01904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>286.809521484375</real>
					<key>y</key>
					<real>382.240478515625</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
