<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame01.png</string>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>86.35078125</real>
					<key>y</key>
					<real>697.652880859375</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame01.png</string>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>938.05078125</real>
					<key>y</key>
					<real>697.652880859375</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame01.png</string>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>370.25078125</real>
					<key>y</key>
					<real>697.652880859375</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame01.png</string>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>654.15078125</real>
					<key>y</key>
					<real>697.652880859375</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame02.png</string>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>653.65078125</real>
					<key>y</key>
					<real>540.452880859375</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame02.png</string>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>937.30078125</real>
					<key>y</key>
					<real>540.452880859375</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame02.png</string>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>86.35078125</real>
					<key>y</key>
					<real>540.452880859375</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame02.png</string>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>370.00078125</real>
					<key>y</key>
					<real>540.452880859375</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame03.png</string>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>653.65078125</real>
					<key>y</key>
					<real>383.202880859375</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame03.png</string>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>86.35078125</real>
					<key>y</key>
					<real>383.202880859375</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame03.png</string>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>370.00078125</real>
					<key>y</key>
					<real>383.202880859375</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame03.png</string>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>937.30078125</real>
					<key>y</key>
					<real>383.202880859375</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame04.png</string>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>938.05078125</real>
					<key>y</key>
					<real>226.002880859375</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame04.png</string>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>654.15078125</real>
					<key>y</key>
					<real>226.002880859375</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame04.png</string>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>86.35078125</real>
					<key>y</key>
					<real>226.60288085937498</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame04.png</string>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>370.25078125</real>
					<key>y</key>
					<real>226.002880859375</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame05.png</string>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>938.05078125</real>
					<key>y</key>
					<real>68.75288085937495</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame05.png</string>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>654.15078125</real>
					<key>y</key>
					<real>68.75288085937495</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame05.png</string>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>86.35078125</real>
					<key>y</key>
					<real>69.40288085937505</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame05.png</string>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.1015625</real>
					<key>height</key>
					<real>139.09423828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>370.25078125</real>
					<key>y</key>
					<real>68.75288085937495</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
