<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame01.png</string>
					<key>width</key>
					<real>500.25146484375</real>
					<key>height</key>
					<real>500.244140625</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>500.25146484375</real>
					<key>height</key>
					<real>500.244140625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>252.125732421875</real>
					<key>y</key>
					<real>275.32792968750005</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame02.png</string>
					<key>width</key>
					<real>250.078125</real>
					<key>height</key>
					<real>250.078125</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>250.078125</real>
					<key>height</key>
					<real>250.078125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>639.0390625</real>
					<key>y</key>
					<real>634.8609375</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame02.png</string>
					<key>width</key>
					<real>250.078125</real>
					<key>height</key>
					<real>250.078125</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>250.078125</real>
					<key>height</key>
					<real>250.078125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>639.0390625</real>
					<key>y</key>
					<real>374.9609375</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame03.png</string>
					<key>width</key>
					<real>250.078125</real>
					<key>height</key>
					<real>250.078125</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>250.078125</real>
					<key>height</key>
					<real>250.078125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>896.9890625</real>
					<key>y</key>
					<real>634.8609375</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame03.png</string>
					<key>width</key>
					<real>250.078125</real>
					<key>height</key>
					<real>250.078125</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.jpg</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>250.078125</real>
					<key>height</key>
					<real>250.078125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>896.9890625</real>
					<key>y</key>
					<real>374.9609375</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
