<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Master</key>
	<array>
		<dict>
			<key>preset</key>
			<string>room</string>
			<key>type</key>
			<string>reverb</string>
		</dict>
		<dict>
			<key>attack</key>
			<integer>1</integer>
			<key>gainmakeup</key>
			<integer>2</integer>
			<key>release</key>
			<integer>300</integer>
			<key>threshold</key>
			<integer>-3</integer>
			<key>type</key>
			<string>compressor</string>
		</dict>
	</array>
	<key>Samples</key>
	<array>
		<array>
			<string>Kick</string>
			<integer>-5</integer>
		</array>
		<array>
			<string>Kick low</string>
			<integer>-16</integer>
			<dict>
				<key>level</key>
				<real>0.5</real>
				<key>type</key>
				<string>distortion</string>
			</dict>
			<dict>
				<key>cutoff</key>
				<integer>2000</integer>
				<key>resonance</key>
				<integer>4</integer>
				<key>type</key>
				<string>lowpass</string>
			</dict>
			<dict>
				<key>bandwidth</key>
				<real>0.5</real>
				<key>center</key>
				<integer>200</integer>
				<key>gain</key>
				<integer>2</integer>
				<key>type</key>
				<string>eq</string>
			</dict>
		</array>
		<array>
			<string>Snare</string>
			<integer>-5</integer>
		</array>
		<array>
			<string>Melody</string>
			<integer>-7</integer>
		</array>
		<array>
			<string>&quot;par-&quot;</string>
			<integer>-7</integer>
		</array>
		<array>
			<string>&quot;-ty&quot;</string>
			<integer>-7</integer>
		</array>
		<array>
			<string>&quot;rock&quot;</string>
			<integer>-7</integer>
		</array>
	</array>
</dict>
</plist>
