<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>cat_bg05.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>115.50041122436524</real>
					<key>height</key>
					<real>115.50704956054688</real>
					<key>x offset</key>
					<real>-0.0033191680908188914</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>115.50704956054688</real>
					<key>height</key>
					<real>115.50704956054688</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>540.5035247802734</real>
					<key>y</key>
					<real>406.5964752197266</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>115.50041122436524</real>
					<key>height</key>
					<real>115.50704956054688</real>
					<key>x offset</key>
					<real>-0.0033191680908188914</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>115.50704956054688</real>
					<key>height</key>
					<real>115.50704956054688</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>771.1535247802734</real>
					<key>y</key>
					<real>518.1464752197265</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>115.50041122436524</real>
					<key>height</key>
					<real>115.50704956054688</real>
					<key>x offset</key>
					<real>-0.0033191680908188914</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>115.50704956054688</real>
					<key>height</key>
					<real>115.50704956054688</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>771.1535247802734</real>
					<key>y</key>
					<real>404.64647521972654</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>115.50041122436524</real>
					<key>height</key>
					<real>115.50704956054688</real>
					<key>x offset</key>
					<real>-0.0033191680908188914</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>115.50704956054688</real>
					<key>height</key>
					<real>115.50704956054688</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>771.1535247802734</real>
					<key>y</key>
					<real>291.49647521972656</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>115.50041122436524</real>
					<key>height</key>
					<real>115.50704956054688</real>
					<key>x offset</key>
					<real>-0.0033191680908188914</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>115.50704956054688</real>
					<key>height</key>
					<real>115.50704956054688</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>771.1535247802734</real>
					<key>y</key>
					<real>178.04647521972652</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>115.51368789672851</real>
					<key>height</key>
					<real>115.50704956054688</real>
					<key>x offset</key>
					<real>0.0033191680908188914</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>115.50704956054688</real>
					<key>height</key>
					<real>115.50704956054688</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>306.9035247802734</real>
					<key>y</key>
					<real>177.64647521972654</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>115.51368789672851</real>
					<key>height</key>
					<real>115.50704956054688</real>
					<key>x offset</key>
					<real>0.0033191680908188914</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>115.50704956054688</real>
					<key>height</key>
					<real>115.50704956054688</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>306.9035247802734</real>
					<key>y</key>
					<real>291.14647521972654</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>269.6868240356445</real>
					<key>height</key>
					<real>269.5783996582031</real>
					<key>x offset</key>
					<real>0.007749176025384941</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>269.67132568359375</real>
					<key>height</key>
					<real>269.5783996582031</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>348.73566284179685</real>
					<key>y</key>
					<real>485.1108001708984</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>115.50041122436524</real>
					<key>height</key>
					<real>115.50704956054688</real>
					<key>x offset</key>
					<real>-0.0033191680908188914</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>115.50704956054688</real>
					<key>height</key>
					<real>115.50704956054688</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>423.75352478027344</real>
					<key>y</key>
					<real>177.64647521972654</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>115.50041122436524</real>
					<key>height</key>
					<real>115.50704956054688</real>
					<key>x offset</key>
					<real>-0.0033191680908188914</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>115.50704956054688</real>
					<key>height</key>
					<real>115.50704956054688</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>423.75352478027344</real>
					<key>y</key>
					<real>291.14647521972654</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>115.50041122436524</real>
					<key>height</key>
					<real>115.50704956054688</real>
					<key>x offset</key>
					<real>-0.0033191680908188914</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>115.50704956054688</real>
					<key>height</key>
					<real>115.50704956054688</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>540.5035247802734</real>
					<key>y</key>
					<real>177.64647521972654</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>115.50041122436524</real>
					<key>height</key>
					<real>115.50704956054688</real>
					<key>x offset</key>
					<real>-0.0033191680908188914</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>115.50704956054688</real>
					<key>height</key>
					<real>115.50704956054688</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>540.5035247802734</real>
					<key>y</key>
					<real>291.14647521972654</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>115.50041122436524</real>
					<key>height</key>
					<real>115.50704956054688</real>
					<key>x offset</key>
					<real>-0.0033191680908188914</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>115.50704956054688</real>
					<key>height</key>
					<real>115.50704956054688</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>655.6535247802734</real>
					<key>y</key>
					<real>291.49647521972656</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>115.50041122436524</real>
					<key>height</key>
					<real>115.50704956054688</real>
					<key>x offset</key>
					<real>-0.0033191680908188914</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>115.50704956054688</real>
					<key>height</key>
					<real>115.50704956054688</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>655.6535247802734</real>
					<key>y</key>
					<real>404.99647521972656</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>115.50041122436524</real>
					<key>height</key>
					<real>115.50704956054688</real>
					<key>x offset</key>
					<real>-0.0033191680908188914</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>115.50704956054688</real>
					<key>height</key>
					<real>115.50704956054688</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>655.6535247802734</real>
					<key>y</key>
					<real>178.04647521972652</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>115.50041122436524</real>
					<key>height</key>
					<real>115.50704956054688</real>
					<key>x offset</key>
					<real>-0.0033191680908188914</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>115.50704956054688</real>
					<key>height</key>
					<real>115.50704956054688</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>541.4535247802735</real>
					<key>y</key>
					<real>519.0964752197266</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>115.50041122436524</real>
					<key>height</key>
					<real>115.50704956054688</real>
					<key>x offset</key>
					<real>-0.0033191680908188914</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>115.50704956054688</real>
					<key>height</key>
					<real>115.50704956054688</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>655.6535247802734</real>
					<key>y</key>
					<real>518.4464752197266</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
