<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>cat_bg05.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>189.87205657958984</real>
					<key>height</key>
					<real>189.92752075195312</real>
					<key>x offset</key>
					<real>0.005455780029294033</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>189.86114501953125</real>
					<key>height</key>
					<real>189.92752075195312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>540.9805725097656</real>
					<key>y</key>
					<real>529.0362396240234</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>189.89005661010742</real>
					<key>height</key>
					<real>189.90097045898438</real>
					<key>x offset</key>
					<real>-0.0054569244384765625</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>189.90097045898438</real>
					<key>height</key>
					<real>189.90097045898438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>733.0504852294922</real>
					<key>y</key>
					<real>526.8495147705078</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>189.89005661010742</real>
					<key>height</key>
					<real>189.90097045898438</real>
					<key>x offset</key>
					<real>-0.0054569244384765625</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>189.90097045898438</real>
					<key>height</key>
					<real>189.90097045898438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>540.9504852294922</real>
					<key>y</key>
					<real>339.0995147705078</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>189.89005661010742</real>
					<key>height</key>
					<real>189.90097045898438</real>
					<key>x offset</key>
					<real>-0.0054569244384765625</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>189.90097045898438</real>
					<key>height</key>
					<real>189.90097045898438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>733.0504852294922</real>
					<key>y</key>
					<real>336.9495147705078</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>189.89005661010742</real>
					<key>height</key>
					<real>189.90097045898438</real>
					<key>x offset</key>
					<real>-0.0054569244384765625</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>189.90097045898438</real>
					<key>height</key>
					<real>189.90097045898438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>638.1004852294922</real>
					<key>y</key>
					<real>149.0495147705078</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
