<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>cat_bg05.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>200.01841125488284</real>
					<key>height</key>
					<real>200.0299072265625</real>
					<key>x offset</key>
					<real>-0.005747985839832381</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>200.0299072265625</real>
					<key>height</key>
					<real>200.0299072265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>928.0149536132812</real>
					<key>y</key>
					<real>667.9850463867188</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>200.01841125488284</real>
					<key>height</key>
					<real>200.0299072265625</real>
					<key>x offset</key>
					<real>-0.005747985839832381</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>200.0299072265625</real>
					<key>height</key>
					<real>200.0299072265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>928.0149536132812</real>
					<key>y</key>
					<real>382.23504638671875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>200.01841125488284</real>
					<key>height</key>
					<real>200.0299072265625</real>
					<key>x offset</key>
					<real>-0.005747985839832381</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>200.0299072265625</real>
					<key>height</key>
					<real>200.0299072265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>928.0149536132812</real>
					<key>y</key>
					<real>96.48504638671875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>200.0148513793945</real>
					<key>height</key>
					<real>200.06973266601562</real>
					<key>x offset</key>
					<real>0.0057472229003820985</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>200.00335693359375</real>
					<key>height</key>
					<real>200.06973266601562</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>100.00167846679688</real>
					<key>y</key>
					<real>667.9651336669922</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>199.92192001342772</real>
					<key>height</key>
					<real>199.96353149414062</real>
					<key>x offset</key>
					<real>0.005744552612299003</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>199.91043090820312</real>
					<key>height</key>
					<real>199.96353149414062</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>96.00521545410156</real>
					<key>y</key>
					<real>382.2182342529297</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>199.92192001342772</real>
					<key>height</key>
					<real>199.96353149414062</real>
					<key>x offset</key>
					<real>0.005744552612299003</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>199.91043090820312</real>
					<key>height</key>
					<real>199.96353149414062</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>99.95521545410156</real>
					<key>y</key>
					<real>96.41823425292966</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>197.73521728515627</real>
					<key>height</key>
					<real>197.74658203125</real>
					<key>x offset</key>
					<real>-0.0056823730468664735</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>197.74658203125</real>
					<key>height</key>
					<real>197.74658203125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>305.173291015625</real>
					<key>y</key>
					<real>381.126708984375</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>197.73521728515627</real>
					<key>height</key>
					<real>197.74658203125</real>
					<key>x offset</key>
					<real>-0.0056823730468664735</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>197.74658203125</real>
					<key>height</key>
					<real>197.74658203125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>308.173291015625</real>
					<key>y</key>
					<real>666.876708984375</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>197.73521728515627</real>
					<key>height</key>
					<real>197.74658203125</real>
					<key>x offset</key>
					<real>-0.0056823730468664735</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>197.74658203125</real>
					<key>height</key>
					<real>197.74658203125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>308.123291015625</real>
					<key>y</key>
					<real>95.32670898437505</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>200.08478317260744</real>
					<key>height</key>
					<real>200.09628295898438</real>
					<key>x offset</key>
					<real>-0.005749893188465194</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>200.09628295898438</real>
					<key>height</key>
					<real>200.09628295898438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>513.9981414794922</real>
					<key>y</key>
					<real>667.9518585205078</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>200.08478317260744</real>
					<key>height</key>
					<real>200.09628295898438</real>
					<key>x offset</key>
					<real>-0.005749893188465194</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>200.09628295898438</real>
					<key>height</key>
					<real>200.09628295898438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>511.9981414794922</real>
					<key>y</key>
					<real>382.2518585205078</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>200.08478317260744</real>
					<key>height</key>
					<real>200.09628295898438</real>
					<key>x offset</key>
					<real>-0.005749893188465194</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>200.09628295898438</real>
					<key>height</key>
					<real>200.09628295898438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>513.9481414794922</real>
					<key>y</key>
					<real>96.50185852050777</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>200.01841125488284</real>
					<key>height</key>
					<real>200.0299072265625</real>
					<key>x offset</key>
					<real>-0.005747985839832381</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>200.0299072265625</real>
					<key>height</key>
					<real>200.0299072265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>720.9649536132813</real>
					<key>y</key>
					<real>96.48504638671875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>200.01841125488284</real>
					<key>height</key>
					<real>200.0299072265625</real>
					<key>x offset</key>
					<real>-0.005747985839832381</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>200.0299072265625</real>
					<key>height</key>
					<real>200.0299072265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>720.0149536132812</real>
					<key>y</key>
					<real>382.23504638671875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>200.01841125488284</real>
					<key>height</key>
					<real>200.0299072265625</real>
					<key>x offset</key>
					<real>-0.005747985839832381</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>200.0299072265625</real>
					<key>height</key>
					<real>200.0299072265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>721.0149536132812</real>
					<key>y</key>
					<real>667.9850463867188</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
