<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>cat_bg02.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame2.png</string>
					<key>width</key>
					<real>296.5838165283203</real>
					<key>height</key>
					<real>296.513671875</real>
					<key>x offset</key>
					<real>0.00852203369140625</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>296.5667724609375</real>
					<key>height</key>
					<real>296.513671875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>148.28338623046875</real>
					<key>y</key>
					<real>148.2431640625</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame2.png</string>
					<key>width</key>
					<real>296.5497283935547</real>
					<key>height</key>
					<real>296.513671875</real>
					<key>x offset</key>
					<real>-0.00852203369140625</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>296.5667724609375</real>
					<key>height</key>
					<real>296.513671875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>875.7333862304688</real>
					<key>y</key>
					<real>616.3431640625</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
