<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>cat_bg03.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>500.14333572387693</real>
					<key>height</key>
					<real>500.0083923339844</real>
					<key>x offset</key>
					<real>0.014371109008777694</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>500.1145935058594</real>
					<key>height</key>
					<real>500.0083923339844</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>512.2572967529297</real>
					<key>y</key>
					<real>501.44580383300786</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>253.2221405029297</real>
					<key>height</key>
					<real>253.11721801757812</real>
					<key>x offset</key>
					<real>-0.0072769165038977235</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>253.2366943359375</real>
					<key>height</key>
					<real>253.11721801757812</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>145.46834716796874</real>
					<key>y</key>
					<real>126.54139099121096</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>256.10268173217776</real>
					<key>height</key>
					<real>255.9979248046875</real>
					<key>x offset</key>
					<real>-0.007359695434558944</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>256.1174011230469</real>
					<key>height</key>
					<real>255.9979248046875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>896.0087005615235</real>
					<key>y</key>
					<real>128.00103759765625</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
