<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>cat_bg06.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.50361175537108</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>0.004094696044916191</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>72.04771118164062</real>
					<key>y</key>
					<real>383.5664367675781</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.50361175537108</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>0.004094696044916191</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>72.04771118164062</real>
					<key>y</key>
					<real>695.0664367675781</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.50361175537108</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>0.004094696044916191</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>72.04771118164062</real>
					<key>y</key>
					<real>72.01643676757817</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.50361175537108</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>0.004094696044916191</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>659.8477111816406</real>
					<key>y</key>
					<real>72.01643676757817</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.48723297119142</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>-0.004094696044916191</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>219.84771118164062</real>
					<key>y</key>
					<real>693.4164367675781</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.48723297119142</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>-0.004094696044916191</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>807.6477111816406</real>
					<key>y</key>
					<real>72.01643676757817</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.48723297119142</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>-0.004094696044916191</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>953.7977111816406</real>
					<key>y</key>
					<real>383.5664367675781</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.48723297119142</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>-0.004094696044916191</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>365.9477111816406</real>
					<key>y</key>
					<real>695.0664367675781</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.48723297119142</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>-0.004094696044916191</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>953.7977111816406</real>
					<key>y</key>
					<real>72.01643676757817</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.48723297119142</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>-0.004094696044916191</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>953.7977111816406</real>
					<key>y</key>
					<real>695.0664367675781</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.48723297119142</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>-0.004094696044916191</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>72.04771118164062</real>
					<key>y</key>
					<real>539.3164367675781</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.48723297119142</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>-0.004094696044916191</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>806.7977111816406</real>
					<key>y</key>
					<real>695.0664367675781</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.48723297119142</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>-0.004094696044916191</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>72.04771118164062</real>
					<key>y</key>
					<real>227.81643676757812</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.48723297119142</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>-0.004094696044916191</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>512.8977111816406</real>
					<key>y</key>
					<real>72.01643676757817</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.48723297119142</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>-0.004094696044916191</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>659.8477111816406</real>
					<key>y</key>
					<real>695.0664367675781</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.48723297119142</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>-0.004094696044916191</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>365.9477111816406</real>
					<key>y</key>
					<real>72.01643676757817</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.48723297119142</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>-0.004094696044916191</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>953.7977111816406</real>
					<key>y</key>
					<real>539.3164367675781</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.48723297119142</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>-0.004094696044916191</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>953.7977111816406</real>
					<key>y</key>
					<real>227.81643676757812</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.48723297119142</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>-0.004094696044916191</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>512.8977111816406</real>
					<key>y</key>
					<real>695.0664367675781</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.48723297119142</real>
					<key>height</key>
					<real>142.86712646484375</real>
					<key>x offset</key>
					<real>-0.004094696044916191</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>142.49542236328125</real>
					<key>height</key>
					<real>142.86712646484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>218.99771118164062</real>
					<key>y</key>
					<real>72.01643676757817</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
