<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>cat_bg03.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>299.000032043457</real>
					<key>height</key>
					<real>298.9695739746094</real>
					<key>x offset</key>
					<real>0.008591461181623572</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>298.98284912109375</real>
					<key>height</key>
					<real>298.9695739746094</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>516.2414245605469</real>
					<key>y</key>
					<real>574.8652130126953</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>298.9125686645508</real>
					<key>height</key>
					<real>298.9031982421875</real>
					<key>x offset</key>
					<real>-0.008589935302723006</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>298.92974853515625</real>
					<key>height</key>
					<real>298.9031982421875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>246.31487426757812</real>
					<key>y</key>
					<real>227.79840087890625</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>298.9125686645508</real>
					<key>height</key>
					<real>298.9031982421875</real>
					<key>x offset</key>
					<real>-0.008589935302723006</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>298.92974853515625</real>
					<key>height</key>
					<real>298.9031982421875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>784.0148742675781</real>
					<key>y</key>
					<real>229.54840087890625</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
