<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>fishmcgill-vrbg04.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-01.png</string>
					<key>width</key>
					<real>215.03258209228517</real>
					<key>height</key>
					<real>214.51977996826173</real>
					<key>x offset</key>
					<real>2.709741973876959</real>
					<key>y offset</key>
					<real>-1.3851516723632855</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>134.36737060546875</real>
					<key>height</key>
					<real>134.04693603515625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>373.4336853027344</real>
					<key>y</key>
					<real>158.67653198242192</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-01.png</string>
					<key>width</key>
					<real>215.03258209228517</real>
					<key>height</key>
					<real>214.51977996826173</real>
					<key>x offset</key>
					<real>2.709741973876959</real>
					<key>y offset</key>
					<real>-1.3851516723632855</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>134.36737060546875</real>
					<key>height</key>
					<real>134.04693603515625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>142.83368530273438</real>
					<key>y</key>
					<real>636.4265319824219</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-01.png</string>
					<key>width</key>
					<real>215.03258209228517</real>
					<key>height</key>
					<real>214.51977996826173</real>
					<key>x offset</key>
					<real>2.709741973876959</real>
					<key>y offset</key>
					<real>-1.3851516723632855</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>134.36737060546875</real>
					<key>height</key>
					<real>134.04693603515625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>142.83368530273438</real>
					<key>y</key>
					<real>401.12653198242185</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-01.png</string>
					<key>width</key>
					<real>214.82013549804688</real>
					<key>height</key>
					<real>214.72490081787112</real>
					<key>x offset</key>
					<real>2.7070648193359403</real>
					<key>y offset</key>
					<real>-1.3864761352539148</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>134.234619140625</real>
					<key>height</key>
					<real>134.17510986328125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>142.8673095703125</real>
					<key>y</key>
					<real>158.66244506835938</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-02.png</string>
					<key>width</key>
					<real>215.03258209228517</real>
					<key>height</key>
					<real>214.51977996826173</real>
					<key>x offset</key>
					<real>2.709741973876959</real>
					<key>y offset</key>
					<real>-1.3851516723632855</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>134.36737060546875</real>
					<key>height</key>
					<real>134.04693603515625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>373.4336853027344</real>
					<key>y</key>
					<real>401.12653198242185</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-02.png</string>
					<key>width</key>
					<real>215.03258209228517</real>
					<key>height</key>
					<real>214.51977996826173</real>
					<key>x offset</key>
					<real>2.709741973876959</real>
					<key>y offset</key>
					<real>-1.3851516723632855</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>134.36737060546875</real>
					<key>height</key>
					<real>134.04693603515625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>373.4336853027344</real>
					<key>y</key>
					<real>636.4265319824219</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-02.png</string>
					<key>width</key>
					<real>128.39100036621093</real>
					<key>height</key>
					<real>128.09064483642578</real>
					<key>x offset</key>
					<real>1.617924499511716</real>
					<key>y offset</key>
					<real>-0.8270797729492188</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>80.2276611328125</real>
					<key>height</key>
					<real>80.03997802734375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>575.2138305664063</real>
					<key>y</key>
					<real>78.83001098632815</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-02.png</string>
					<key>width</key>
					<real>128.39100036621093</real>
					<key>height</key>
					<real>128.09064483642578</real>
					<key>x offset</key>
					<real>1.617924499511716</real>
					<key>y offset</key>
					<real>-0.8270797729492188</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>80.2276611328125</real>
					<key>height</key>
					<real>80.03997802734375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>575.2138305664063</real>
					<key>y</key>
					<real>216.6300109863281</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-03.png</string>
					<key>width</key>
					<real>215.03258209228517</real>
					<key>height</key>
					<real>214.51977996826173</real>
					<key>x offset</key>
					<real>-4.008626556396479</real>
					<key>y offset</key>
					<real>-1.3851516723632855</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>134.36737060546875</real>
					<key>height</key>
					<real>134.04693603515625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>606.7836853027344</real>
					<key>y</key>
					<real>401.12653198242185</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-03.png</string>
					<key>width</key>
					<real>215.03258209228517</real>
					<key>height</key>
					<real>214.51977996826173</real>
					<key>x offset</key>
					<real>-4.008626556396479</real>
					<key>y offset</key>
					<real>-1.3851516723632855</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>134.36737060546875</real>
					<key>height</key>
					<real>134.04693603515625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>606.7836853027344</real>
					<key>y</key>
					<real>636.4265319824219</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-03.png</string>
					<key>width</key>
					<real>128.39100036621093</real>
					<key>height</key>
					<real>128.09064483642578</real>
					<key>x offset</key>
					<real>-2.393458557128909</real>
					<key>y offset</key>
					<real>-0.8270797729492188</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>80.2276611328125</real>
					<key>height</key>
					<real>80.03997802734375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>715.0638305664063</real>
					<key>y</key>
					<real>78.83001098632815</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-04.png</string>
					<key>width</key>
					<real>128.39100036621093</real>
					<key>height</key>
					<real>128.09064483642578</real>
					<key>x offset</key>
					<real>1.617924499511716</real>
					<key>y offset</key>
					<real>-0.8270797729492188</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>80.2276611328125</real>
					<key>height</key>
					<real>80.03997802734375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>846.8138305664063</real>
					<key>y</key>
					<real>216.6300109863281</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-04.png</string>
					<key>width</key>
					<real>215.03258209228517</real>
					<key>height</key>
					<real>214.51977996826173</real>
					<key>x offset</key>
					<real>2.709741973876959</real>
					<key>y offset</key>
					<real>-1.3851516723632855</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>134.36737060546875</real>
					<key>height</key>
					<real>134.04693603515625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>828.6836853027344</real>
					<key>y</key>
					<real>401.12653198242185</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-03.png</string>
					<key>width</key>
					<real>128.39100036621093</real>
					<key>height</key>
					<real>128.09064483642578</real>
					<key>x offset</key>
					<real>-2.393458557128909</real>
					<key>y offset</key>
					<real>-0.8270797729492188</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>80.2276611328125</real>
					<key>height</key>
					<real>80.03997802734375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>715.0638305664063</real>
					<key>y</key>
					<real>216.6300109863281</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-04.png</string>
					<key>width</key>
					<real>128.39100036621093</real>
					<key>height</key>
					<real>128.09064483642578</real>
					<key>x offset</key>
					<real>1.617924499511716</real>
					<key>y offset</key>
					<real>-0.8270797729492188</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>80.2276611328125</real>
					<key>height</key>
					<real>80.03997802734375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>846.8138305664063</real>
					<key>y</key>
					<real>78.83001098632815</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-04.png</string>
					<key>width</key>
					<real>215.03258209228517</real>
					<key>height</key>
					<real>214.51977996826173</real>
					<key>x offset</key>
					<real>2.709741973876959</real>
					<key>y offset</key>
					<real>-1.3851516723632855</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>134.36737060546875</real>
					<key>height</key>
					<real>134.04693603515625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>828.6836853027344</real>
					<key>y</key>
					<real>636.4265319824219</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
