<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>fishmcgill-vrbg06.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-01.png</string>
					<key>width</key>
					<real>149.7895004272461</real>
					<key>height</key>
					<real>149.7895004272461</real>
					<key>x offset</key>
					<real>1.8875785827636804</real>
					<key>y offset</key>
					<real>-0.9671890258789126</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>93.59893798828125</real>
					<key>height</key>
					<real>93.59893798828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>88.64946899414062</real>
					<key>y</key>
					<real>663.8505310058594</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-01.png</string>
					<key>width</key>
					<real>149.7895004272461</real>
					<key>height</key>
					<real>149.7895004272461</real>
					<key>x offset</key>
					<real>1.8875785827636804</real>
					<key>y offset</key>
					<real>-0.9671890258789126</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>93.59893798828125</real>
					<key>height</key>
					<real>93.59893798828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>598.1994689941406</real>
					<key>y</key>
					<real>663.8505310058594</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-01.png</string>
					<key>width</key>
					<real>149.7895004272461</real>
					<key>height</key>
					<real>149.7895004272461</real>
					<key>x offset</key>
					<real>1.8875785827636804</real>
					<key>y offset</key>
					<real>-0.9671890258789126</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>93.59893798828125</real>
					<key>height</key>
					<real>93.59893798828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>88.64946899414062</real>
					<key>y</key>
					<real>297.9505310058594</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-01.png</string>
					<key>width</key>
					<real>149.7895004272461</real>
					<key>height</key>
					<real>149.7895004272461</real>
					<key>x offset</key>
					<real>1.8875785827636804</real>
					<key>y offset</key>
					<real>-0.9671890258789126</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>93.59893798828125</real>
					<key>height</key>
					<real>93.59893798828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>598.1994689941406</real>
					<key>y</key>
					<real>298.0505310058594</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-02.png</string>
					<key>width</key>
					<real>149.7895004272461</real>
					<key>height</key>
					<real>149.7895004272461</real>
					<key>x offset</key>
					<real>1.8875785827636804</real>
					<key>y offset</key>
					<real>-0.9671890258789126</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>93.59893798828125</real>
					<key>height</key>
					<real>93.59893798828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>258.4994689941406</real>
					<key>y</key>
					<real>663.8505310058594</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-02.png</string>
					<key>width</key>
					<real>149.7895004272461</real>
					<key>height</key>
					<real>149.7895004272461</real>
					<key>x offset</key>
					<real>1.8875785827636804</real>
					<key>y offset</key>
					<real>-0.9671890258789126</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>93.59893798828125</real>
					<key>height</key>
					<real>93.59893798828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>768.0494689941406</real>
					<key>y</key>
					<real>663.8505310058594</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-02.png</string>
					<key>width</key>
					<real>149.7895004272461</real>
					<key>height</key>
					<real>149.7895004272461</real>
					<key>x offset</key>
					<real>1.8875785827636804</real>
					<key>y offset</key>
					<real>-0.9671890258789126</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>93.59893798828125</real>
					<key>height</key>
					<real>93.59893798828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>258.4994689941406</real>
					<key>y</key>
					<real>298.0505310058594</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-02.png</string>
					<key>width</key>
					<real>149.7895004272461</real>
					<key>height</key>
					<real>149.7895004272461</real>
					<key>x offset</key>
					<real>1.8875785827636804</real>
					<key>y offset</key>
					<real>-0.9671890258789126</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>93.59893798828125</real>
					<key>height</key>
					<real>93.59893798828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>768.0494689941406</real>
					<key>y</key>
					<real>298.0505310058594</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-03.png</string>
					<key>width</key>
					<real>149.7895004272461</real>
					<key>height</key>
					<real>149.7895004272461</real>
					<key>x offset</key>
					<real>-2.792368316650382</real>
					<key>y offset</key>
					<real>-0.9671890258789126</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>93.59893798828125</real>
					<key>height</key>
					<real>93.59893798828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>938.0994689941406</real>
					<key>y</key>
					<real>663.8505310058594</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-03.png</string>
					<key>width</key>
					<real>149.7895004272461</real>
					<key>height</key>
					<real>149.7895004272461</real>
					<key>x offset</key>
					<real>-2.792368316650382</real>
					<key>y offset</key>
					<real>-0.9671890258789126</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>93.59893798828125</real>
					<key>height</key>
					<real>93.59893798828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>428.34946899414064</real>
					<key>y</key>
					<real>298.0505310058594</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-03.png</string>
					<key>width</key>
					<real>149.7895004272461</real>
					<key>height</key>
					<real>149.7895004272461</real>
					<key>x offset</key>
					<real>-2.792368316650382</real>
					<key>y offset</key>
					<real>-0.9671890258789126</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>93.59893798828125</real>
					<key>height</key>
					<real>93.59893798828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>938.0994689941406</real>
					<key>y</key>
					<real>298.0505310058594</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-03.png</string>
					<key>width</key>
					<real>149.7895004272461</real>
					<key>height</key>
					<real>149.7895004272461</real>
					<key>x offset</key>
					<real>-2.792368316650382</real>
					<key>y offset</key>
					<real>-0.9671890258789126</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>93.59893798828125</real>
					<key>height</key>
					<real>93.59893798828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>428.34946899414064</real>
					<key>y</key>
					<real>663.8505310058594</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-04.png</string>
					<key>width</key>
					<real>149.7895004272461</real>
					<key>height</key>
					<real>149.7895004272461</real>
					<key>x offset</key>
					<real>1.8875785827636804</real>
					<key>y offset</key>
					<real>-0.9671890258789126</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>93.59893798828125</real>
					<key>height</key>
					<real>93.59893798828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>88.64946899414062</real>
					<key>y</key>
					<real>480.9005310058594</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-04.png</string>
					<key>width</key>
					<real>149.7895004272461</real>
					<key>height</key>
					<real>149.7895004272461</real>
					<key>x offset</key>
					<real>1.8875785827636804</real>
					<key>y offset</key>
					<real>-0.9671890258789126</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>93.59893798828125</real>
					<key>height</key>
					<real>93.59893798828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>598.1994689941406</real>
					<key>y</key>
					<real>480.9505310058594</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-04.png</string>
					<key>width</key>
					<real>149.97264404296877</real>
					<key>height</key>
					<real>150.0165985107422</real>
					<key>x offset</key>
					<real>1.8898864746093835</real>
					<key>y offset</key>
					<real>-0.9686553955078168</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>93.71337890625</real>
					<key>height</key>
					<real>93.7408447265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>88.656689453125</real>
					<key>y</key>
					<real>115.02957763671873</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-04.png</string>
					<key>width</key>
					<real>149.7895004272461</real>
					<key>height</key>
					<real>149.7895004272461</real>
					<key>x offset</key>
					<real>1.8875785827636804</real>
					<key>y offset</key>
					<real>-0.9671890258789126</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>93.59893798828125</real>
					<key>height</key>
					<real>93.59893798828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>598.1994689941406</real>
					<key>y</key>
					<real>115.00053100585933</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-05.png</string>
					<key>width</key>
					<real>149.7895004272461</real>
					<key>height</key>
					<real>149.7895004272461</real>
					<key>x offset</key>
					<real>-2.168375396728507</real>
					<key>y offset</key>
					<real>-0.9671890258789126</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>93.59893798828125</real>
					<key>height</key>
					<real>93.59893798828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>258.4994689941406</real>
					<key>y</key>
					<real>480.9505310058594</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-05.png</string>
					<key>width</key>
					<real>149.7895004272461</real>
					<key>height</key>
					<real>149.7895004272461</real>
					<key>x offset</key>
					<real>-2.168375396728507</real>
					<key>y offset</key>
					<real>-0.9671890258789126</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>93.59893798828125</real>
					<key>height</key>
					<real>93.59893798828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>768.0494689941406</real>
					<key>y</key>
					<real>480.9505310058594</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-05.png</string>
					<key>width</key>
					<real>149.7895004272461</real>
					<key>height</key>
					<real>149.7895004272461</real>
					<key>x offset</key>
					<real>-2.168375396728507</real>
					<key>y offset</key>
					<real>-0.9671890258789126</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>93.59893798828125</real>
					<key>height</key>
					<real>93.59893798828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>258.4994689941406</real>
					<key>y</key>
					<real>115.00053100585933</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-05.png</string>
					<key>width</key>
					<real>149.7895004272461</real>
					<key>height</key>
					<real>149.7895004272461</real>
					<key>x offset</key>
					<real>-2.168375396728507</real>
					<key>y offset</key>
					<real>-0.9671890258789126</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>93.59893798828125</real>
					<key>height</key>
					<real>93.59893798828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>768.0494689941406</real>
					<key>y</key>
					<real>115.00053100585933</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>6</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-06.png</string>
					<key>width</key>
					<real>149.7895004272461</real>
					<key>height</key>
					<real>149.7895004272461</real>
					<key>x offset</key>
					<real>1.8875785827636804</real>
					<key>y offset</key>
					<real>-0.9671890258789126</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>93.59893798828125</real>
					<key>height</key>
					<real>93.59893798828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>428.34946899414064</real>
					<key>y</key>
					<real>480.9505310058594</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>6</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-06.png</string>
					<key>width</key>
					<real>149.7895004272461</real>
					<key>height</key>
					<real>149.7895004272461</real>
					<key>x offset</key>
					<real>1.8875785827636804</real>
					<key>y offset</key>
					<real>-0.9671890258789126</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>93.59893798828125</real>
					<key>height</key>
					<real>93.59893798828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>938.0994689941406</real>
					<key>y</key>
					<real>480.9505310058594</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>6</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-06.png</string>
					<key>width</key>
					<real>149.7895004272461</real>
					<key>height</key>
					<real>149.7895004272461</real>
					<key>x offset</key>
					<real>1.8875785827636804</real>
					<key>y offset</key>
					<real>-0.9671890258789126</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>93.59893798828125</real>
					<key>height</key>
					<real>93.59893798828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>428.34946899414064</real>
					<key>y</key>
					<real>115.00053100585933</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>6</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-06.png</string>
					<key>width</key>
					<real>149.7895004272461</real>
					<key>height</key>
					<real>149.7895004272461</real>
					<key>x offset</key>
					<real>1.8875785827636804</real>
					<key>y offset</key>
					<real>-0.9671890258789126</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>93.59893798828125</real>
					<key>height</key>
					<real>93.59893798828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>938.0994689941406</real>
					<key>y</key>
					<real>115.00053100585933</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
