<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>fishmcgill-vrbg05.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-05.png</string>
					<key>width</key>
					<real>139.7019500732422</real>
					<key>height</key>
					<real>139.7019500732422</real>
					<key>x offset</key>
					<real>-2.0223464965820312</real>
					<key>y offset</key>
					<real>-0.9020538330078125</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>87.2955322265625</real>
					<key>height</key>
					<real>87.2955322265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>944.6977661132812</real>
					<key>y</key>
					<real>80.95223388671877</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-05.png</string>
					<key>width</key>
					<real>139.7019500732422</real>
					<key>height</key>
					<real>139.7019500732422</real>
					<key>x offset</key>
					<real>-2.0223464965820312</real>
					<key>y offset</key>
					<real>-0.9020538330078125</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>87.2955322265625</real>
					<key>height</key>
					<real>87.2955322265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>944.6977661132812</real>
					<key>y</key>
					<real>687.4022338867187</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-05.png</string>
					<key>width</key>
					<real>139.7019500732422</real>
					<key>height</key>
					<real>139.7019500732422</real>
					<key>x offset</key>
					<real>-2.0223464965820312</real>
					<key>y offset</key>
					<real>-0.9020538330078125</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>87.2955322265625</real>
					<key>height</key>
					<real>87.2955322265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>944.6977661132812</real>
					<key>y</key>
					<real>534.7522338867187</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-05.png</string>
					<key>width</key>
					<real>139.7019500732422</real>
					<key>height</key>
					<real>139.7019500732422</real>
					<key>x offset</key>
					<real>-2.0223464965820312</real>
					<key>y offset</key>
					<real>-0.9020538330078125</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>87.2955322265625</real>
					<key>height</key>
					<real>87.2955322265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>944.6977661132812</real>
					<key>y</key>
					<real>383.40223388671876</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-05.png</string>
					<key>width</key>
					<real>139.7019500732422</real>
					<key>height</key>
					<real>139.7019500732422</real>
					<key>x offset</key>
					<real>-2.0223464965820312</real>
					<key>y offset</key>
					<real>-0.9020538330078125</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>87.2955322265625</real>
					<key>height</key>
					<real>87.2955322265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>944.6977661132812</real>
					<key>y</key>
					<real>232.20223388671877</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-01.png</string>
					<key>width</key>
					<real>140.01695709228517</real>
					<key>height</key>
					<real>139.65799560546876</real>
					<key>x offset</key>
					<real>1.7644294738769588</real>
					<key>y offset</key>
					<real>-0.9017700195312521</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>87.49237060546875</real>
					<key>height</key>
					<real>87.26806640625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>75.74618530273438</real>
					<key>y</key>
					<real>80.91596679687495</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-01.png</string>
					<key>width</key>
					<real>140.01695709228517</real>
					<key>height</key>
					<real>139.65799560546876</real>
					<key>x offset</key>
					<real>1.7644294738769588</real>
					<key>y offset</key>
					<real>-0.9017700195312521</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>87.49237060546875</real>
					<key>height</key>
					<real>87.26806640625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>75.74618530273438</real>
					<key>y</key>
					<real>232.165966796875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-01.png</string>
					<key>width</key>
					<real>139.92904815673828</real>
					<key>height</key>
					<real>139.63601837158203</real>
					<key>x offset</key>
					<real>1.7633216857910128</real>
					<key>y offset</key>
					<real>-0.9016281127929666</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>87.43743896484375</real>
					<key>height</key>
					<real>87.25433349609375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>75.76871948242187</real>
					<key>y</key>
					<real>687.3728332519531</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-01.png</string>
					<key>width</key>
					<real>140.01695709228517</real>
					<key>height</key>
					<real>139.65799560546876</real>
					<key>x offset</key>
					<real>1.7644294738769588</real>
					<key>y offset</key>
					<real>-0.9017700195312521</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>87.49237060546875</real>
					<key>height</key>
					<real>87.26806640625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>75.74618530273438</real>
					<key>y</key>
					<real>534.715966796875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-01.png</string>
					<key>width</key>
					<real>140.01695709228517</real>
					<key>height</key>
					<real>139.65799560546876</real>
					<key>x offset</key>
					<real>1.7644294738769588</real>
					<key>y offset</key>
					<real>-0.9017700195312521</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>87.49237060546875</real>
					<key>height</key>
					<real>87.26806640625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>75.74618530273438</real>
					<key>y</key>
					<real>383.365966796875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-02.png</string>
					<key>width</key>
					<real>139.7019500732422</real>
					<key>height</key>
					<real>139.7019500732422</real>
					<key>x offset</key>
					<real>1.7604598999023438</real>
					<key>y offset</key>
					<real>-0.9020538330078125</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>87.2955322265625</real>
					<key>height</key>
					<real>87.2955322265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>292.94776611328126</real>
					<key>y</key>
					<real>80.95223388671877</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-02.png</string>
					<key>width</key>
					<real>139.7019500732422</real>
					<key>height</key>
					<real>139.7019500732422</real>
					<key>x offset</key>
					<real>1.7604598999023438</real>
					<key>y offset</key>
					<real>-0.9020538330078125</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>87.2955322265625</real>
					<key>height</key>
					<real>87.2955322265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>292.94776611328126</real>
					<key>y</key>
					<real>534.7522338867187</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-02.png</string>
					<key>width</key>
					<real>139.7019500732422</real>
					<key>height</key>
					<real>139.7019500732422</real>
					<key>x offset</key>
					<real>1.7604598999023438</real>
					<key>y offset</key>
					<real>-0.9020538330078125</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>87.2955322265625</real>
					<key>height</key>
					<real>87.2955322265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>292.94776611328126</real>
					<key>y</key>
					<real>687.4022338867187</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-02.png</string>
					<key>width</key>
					<real>139.7019500732422</real>
					<key>height</key>
					<real>139.7019500732422</real>
					<key>x offset</key>
					<real>1.7604598999023438</real>
					<key>y offset</key>
					<real>-0.9020538330078125</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>87.2955322265625</real>
					<key>height</key>
					<real>87.2955322265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>292.94776611328126</real>
					<key>y</key>
					<real>232.20223388671877</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-02.png</string>
					<key>width</key>
					<real>139.7019500732422</real>
					<key>height</key>
					<real>139.7019500732422</real>
					<key>x offset</key>
					<real>1.7604598999023438</real>
					<key>y offset</key>
					<real>-0.9020538330078125</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>87.2955322265625</real>
					<key>height</key>
					<real>87.2955322265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>292.94776611328126</real>
					<key>y</key>
					<real>383.40223388671876</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-03.png</string>
					<key>width</key>
					<real>139.7019500732422</real>
					<key>height</key>
					<real>139.7019500732422</real>
					<key>x offset</key>
					<real>-2.6043167114257812</real>
					<key>y offset</key>
					<real>-0.9020538330078125</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>87.2955322265625</real>
					<key>height</key>
					<real>87.2955322265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>510.14776611328125</real>
					<key>y</key>
					<real>687.4022338867187</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-03.png</string>
					<key>width</key>
					<real>139.7019500732422</real>
					<key>height</key>
					<real>139.7019500732422</real>
					<key>x offset</key>
					<real>-2.6043167114257812</real>
					<key>y offset</key>
					<real>-0.9020538330078125</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>87.2955322265625</real>
					<key>height</key>
					<real>87.2955322265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>510.14776611328125</real>
					<key>y</key>
					<real>534.7522338867187</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-03.png</string>
					<key>width</key>
					<real>139.7019500732422</real>
					<key>height</key>
					<real>139.7019500732422</real>
					<key>x offset</key>
					<real>-2.6043167114257812</real>
					<key>y offset</key>
					<real>-0.9020538330078125</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>87.2955322265625</real>
					<key>height</key>
					<real>87.2955322265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>510.14776611328125</real>
					<key>y</key>
					<real>80.95223388671877</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-03.png</string>
					<key>width</key>
					<real>139.7019500732422</real>
					<key>height</key>
					<real>139.7019500732422</real>
					<key>x offset</key>
					<real>-2.6043167114257812</real>
					<key>y offset</key>
					<real>-0.9020538330078125</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>87.2955322265625</real>
					<key>height</key>
					<real>87.2955322265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>510.14776611328125</real>
					<key>y</key>
					<real>232.20223388671877</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-03.png</string>
					<key>width</key>
					<real>139.7019500732422</real>
					<key>height</key>
					<real>139.7019500732422</real>
					<key>x offset</key>
					<real>-2.6043167114257812</real>
					<key>y offset</key>
					<real>-0.9020538330078125</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>87.2955322265625</real>
					<key>height</key>
					<real>87.2955322265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>510.14776611328125</real>
					<key>y</key>
					<real>383.40223388671876</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-04.png</string>
					<key>width</key>
					<real>139.7019500732422</real>
					<key>height</key>
					<real>139.7019500732422</real>
					<key>x offset</key>
					<real>1.7604598999023438</real>
					<key>y offset</key>
					<real>-0.9020538330078125</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>87.2955322265625</real>
					<key>height</key>
					<real>87.2955322265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>727.3477661132813</real>
					<key>y</key>
					<real>383.40223388671876</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-04.png</string>
					<key>width</key>
					<real>139.7019500732422</real>
					<key>height</key>
					<real>139.7019500732422</real>
					<key>x offset</key>
					<real>1.7604598999023438</real>
					<key>y offset</key>
					<real>-0.9020538330078125</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>87.2955322265625</real>
					<key>height</key>
					<real>87.2955322265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>727.3477661132813</real>
					<key>y</key>
					<real>534.7522338867187</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-04.png</string>
					<key>width</key>
					<real>139.7019500732422</real>
					<key>height</key>
					<real>139.7019500732422</real>
					<key>x offset</key>
					<real>1.7604598999023438</real>
					<key>y offset</key>
					<real>-0.9020538330078125</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>87.2955322265625</real>
					<key>height</key>
					<real>87.2955322265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>727.3477661132813</real>
					<key>y</key>
					<real>232.20223388671877</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-04.png</string>
					<key>width</key>
					<real>139.7019500732422</real>
					<key>height</key>
					<real>139.7019500732422</real>
					<key>x offset</key>
					<real>1.7604598999023438</real>
					<key>y offset</key>
					<real>-0.9020538330078125</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>87.2955322265625</real>
					<key>height</key>
					<real>87.2955322265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>727.3477661132813</real>
					<key>y</key>
					<real>80.95223388671877</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-04.png</string>
					<key>width</key>
					<real>139.7019500732422</real>
					<key>height</key>
					<real>139.7019500732422</real>
					<key>x offset</key>
					<real>1.7604598999023438</real>
					<key>y offset</key>
					<real>-0.9020538330078125</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>87.2955322265625</real>
					<key>height</key>
					<real>87.2955322265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>727.3477661132813</real>
					<key>y</key>
					<real>687.4022338867187</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
