<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>fishmcgill-vrbg05.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-05.png</string>
					<key>width</key>
					<real>170.25030517578125</real>
					<key>height</key>
					<real>170.26495666503908</real>
					<key>x offset</key>
					<real>-2.464569091796875</real>
					<key>y offset</key>
					<real>-1.099398803710944</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>106.38427734375</real>
					<key>height</key>
					<real>106.3934326171875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>513.592138671875</real>
					<key>y</key>
					<real>457.9032836914063</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-05.png</string>
					<key>width</key>
					<real>170.25030517578125</real>
					<key>height</key>
					<real>170.26495666503908</real>
					<key>x offset</key>
					<real>-2.464569091796875</real>
					<key>y offset</key>
					<real>-1.099398803710944</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>106.38427734375</real>
					<key>height</key>
					<real>106.3934326171875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>903.142138671875</real>
					<key>y</key>
					<real>639.8032836914062</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-05.png</string>
					<key>width</key>
					<real>170.25030517578125</real>
					<key>height</key>
					<real>170.26495666503908</real>
					<key>x offset</key>
					<real>-2.464569091796875</real>
					<key>y offset</key>
					<real>-1.099398803710944</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>106.38427734375</real>
					<key>height</key>
					<real>106.3934326171875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>903.142138671875</real>
					<key>y</key>
					<real>458.05328369140625</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-05.png</string>
					<key>width</key>
					<real>170.25030517578125</real>
					<key>height</key>
					<real>170.26495666503908</real>
					<key>x offset</key>
					<real>-2.464569091796875</real>
					<key>y offset</key>
					<real>-1.099398803710944</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>106.38427734375</real>
					<key>height</key>
					<real>106.3934326171875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>903.142138671875</real>
					<key>y</key>
					<real>276.4532836914062</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-05.png</string>
					<key>width</key>
					<real>170.25030517578125</real>
					<key>height</key>
					<real>170.26495666503908</real>
					<key>x offset</key>
					<real>-2.464569091796875</real>
					<key>y offset</key>
					<real>-1.099398803710944</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>106.38427734375</real>
					<key>height</key>
					<real>106.3934326171875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>903.142138671875</real>
					<key>y</key>
					<real>94.70328369140623</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-01.png</string>
					<key>width</key>
					<real>170.25030517578125</real>
					<key>height</key>
					<real>170.26495666503908</real>
					<key>x offset</key>
					<real>2.145416259765625</real>
					<key>y offset</key>
					<real>-1.099398803710944</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>106.38427734375</real>
					<key>height</key>
					<real>106.3934326171875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>121.442138671875</real>
					<key>y</key>
					<real>94.30328369140625</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-01.png</string>
					<key>width</key>
					<real>170.25030517578125</real>
					<key>height</key>
					<real>170.26495666503908</real>
					<key>x offset</key>
					<real>2.145416259765625</real>
					<key>y offset</key>
					<real>-1.099398803710944</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>106.38427734375</real>
					<key>height</key>
					<real>106.3934326171875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>121.442138671875</real>
					<key>y</key>
					<real>286.60328369140626</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-01.png</string>
					<key>width</key>
					<real>370.2138305664063</real>
					<key>height</key>
					<real>370.1112701416016</real>
					<key>x offset</key>
					<real>4.665264892578136</real>
					<key>y offset</key>
					<real>-2.3898040771484546</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>231.33544921875</real>
					<key>height</key>
					<real>231.2713623046875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>215.367724609375</real>
					<key>y</key>
					<real>580.4143188476562</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-02.png</string>
					<key>width</key>
					<real>170.25030517578125</real>
					<key>height</key>
					<real>170.26495666503908</real>
					<key>x offset</key>
					<real>2.145416259765625</real>
					<key>y offset</key>
					<real>-1.099398803710944</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>106.38427734375</real>
					<key>height</key>
					<real>106.3934326171875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>316.892138671875</real>
					<key>y</key>
					<real>94.30328369140625</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-02.png</string>
					<key>width</key>
					<real>170.25030517578125</real>
					<key>height</key>
					<real>170.26495666503908</real>
					<key>x offset</key>
					<real>2.145416259765625</real>
					<key>y offset</key>
					<real>-1.099398803710944</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>106.38427734375</real>
					<key>height</key>
					<real>106.3934326171875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>316.892138671875</real>
					<key>y</key>
					<real>286.60328369140626</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-03.png</string>
					<key>width</key>
					<real>170.25030517578125</real>
					<key>height</key>
					<real>170.26495666503908</real>
					<key>x offset</key>
					<real>-3.173797607421875</real>
					<key>y offset</key>
					<real>-1.099398803710944</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>106.38427734375</real>
					<key>height</key>
					<real>106.3934326171875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>512.242138671875</real>
					<key>y</key>
					<real>94.30328369140625</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-03.png</string>
					<key>width</key>
					<real>170.25030517578125</real>
					<key>height</key>
					<real>170.26495666503908</real>
					<key>x offset</key>
					<real>-3.173797607421875</real>
					<key>y offset</key>
					<real>-1.099398803710944</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>106.38427734375</real>
					<key>height</key>
					<real>106.3934326171875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>512.242138671875</real>
					<key>y</key>
					<real>276.05328369140625</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-04.png</string>
					<key>width</key>
					<real>170.25030517578125</real>
					<key>height</key>
					<real>170.26495666503908</real>
					<key>x offset</key>
					<real>2.145416259765625</real>
					<key>y offset</key>
					<real>-1.099398803710944</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>106.38427734375</real>
					<key>height</key>
					<real>106.3934326171875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>707.642138671875</real>
					<key>y</key>
					<real>276.4532836914062</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-04.png</string>
					<key>width</key>
					<real>170.25030517578125</real>
					<key>height</key>
					<real>170.26495666503908</real>
					<key>x offset</key>
					<real>2.145416259765625</real>
					<key>y offset</key>
					<real>-1.099398803710944</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>106.38427734375</real>
					<key>height</key>
					<real>106.3934326171875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>708.442138671875</real>
					<key>y</key>
					<real>458.05328369140625</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-04.png</string>
					<key>width</key>
					<real>170.25030517578125</real>
					<key>height</key>
					<real>170.26495666503908</real>
					<key>x offset</key>
					<real>2.145416259765625</real>
					<key>y offset</key>
					<real>-1.099398803710944</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>106.38427734375</real>
					<key>height</key>
					<real>106.3934326171875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>707.642138671875</real>
					<key>y</key>
					<real>94.70328369140623</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-04.png</string>
					<key>width</key>
					<real>170.10379028320312</real>
					<key>height</key>
					<real>170.12576751708986</real>
					<key>x offset</key>
					<real>2.1435699462890625</real>
					<key>y offset</key>
					<real>-1.0985000610351605</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>106.292724609375</real>
					<key>height</key>
					<real>106.30645751953125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>513.5463623046875</real>
					<key>y</key>
					<real>639.7967712402344</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>fishmcgill-vrframes-04.png</string>
					<key>width</key>
					<real>170.25030517578125</real>
					<key>height</key>
					<real>170.26495666503908</real>
					<key>x offset</key>
					<real>2.145416259765625</real>
					<key>y offset</key>
					<real>-1.099398803710944</real>
				</dict>
				<key>mask</key>
				<string>fishmcgill-vrframes-01mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>106.38427734375</real>
					<key>height</key>
					<real>106.3934326171875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>708.442138671875</real>
					<key>y</key>
					<real>639.8032836914062</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
