<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Samples</key>
	<array>
		<array>
			<dict>
				<key>brightness</key>
				<real>0.3</real>
				<key>contrast</key>
				<real>0.2</real>
				<key>type</key>
				<string>levels</string>
			</dict>
			<dict>
				<key>blue</key>
				<integer>1</integer>
				<key>green</key>
				<integer>1</integer>
				<key>red</key>
				<integer>1</integer>
				<key>type</key>
				<string>colorize</string>
			</dict>
			<dict>
				<key>magnitude</key>
				<real>0.2</real>
				<key>type</key>
				<string>horizontal_displace</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>brightness</key>
				<real>0.3</real>
				<key>contrast</key>
				<real>0.2</real>
				<key>type</key>
				<string>levels</string>
			</dict>
			<dict>
				<key>blue</key>
				<integer>1</integer>
				<key>green</key>
				<integer>1</integer>
				<key>red</key>
				<integer>1</integer>
				<key>type</key>
				<string>colorize</string>
			</dict>
			<dict>
				<key>magnitude</key>
				<real>0.2</real>
				<key>type</key>
				<string>horizontal_displace</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>brightness</key>
				<real>0.3</real>
				<key>contrast</key>
				<real>0.2</real>
				<key>type</key>
				<string>levels</string>
			</dict>
			<dict>
				<key>blue</key>
				<integer>1</integer>
				<key>green</key>
				<integer>1</integer>
				<key>red</key>
				<integer>1</integer>
				<key>type</key>
				<string>colorize</string>
			</dict>
			<dict>
				<key>magnitude</key>
				<real>0.2</real>
				<key>type</key>
				<string>horizontal_displace</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>brightness</key>
				<real>0.3</real>
				<key>contrast</key>
				<real>0.2</real>
				<key>type</key>
				<string>levels</string>
			</dict>
			<dict>
				<key>blue</key>
				<integer>1</integer>
				<key>green</key>
				<integer>1</integer>
				<key>red</key>
				<integer>1</integer>
				<key>type</key>
				<string>colorize</string>
			</dict>
			<dict>
				<key>magnitude</key>
				<real>0.2</real>
				<key>type</key>
				<string>horizontal_displace</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>brightness</key>
				<real>0.3</real>
				<key>contrast</key>
				<real>0.2</real>
				<key>type</key>
				<string>levels</string>
			</dict>
			<dict>
				<key>blue</key>
				<integer>1</integer>
				<key>green</key>
				<integer>1</integer>
				<key>red</key>
				<integer>1</integer>
				<key>type</key>
				<string>colorize</string>
			</dict>
			<dict>
				<key>magnitude</key>
				<real>0.2</real>
				<key>type</key>
				<string>horizontal_displace</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>brightness</key>
				<real>0.3</real>
				<key>contrast</key>
				<real>0.2</real>
				<key>type</key>
				<string>levels</string>
			</dict>
			<dict>
				<key>blue</key>
				<integer>1</integer>
				<key>green</key>
				<integer>1</integer>
				<key>red</key>
				<integer>1</integer>
				<key>type</key>
				<string>colorize</string>
			</dict>
			<dict>
				<key>magnitude</key>
				<real>0.2</real>
				<key>type</key>
				<string>horizontal_displace</string>
			</dict>
		</array>
	</array>
</dict>
</plist>
