<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>50s_tv_background.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>682.7471694946289</real>
					<key>height</key>
					<real>512.0181091308594</real>
					<key>x offset</key>
					<real>78.46072769165039</real>
					<key>y offset</key>
					<real>-4.0625610351562855</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>411.77490234375</real>
					<key>height</key>
					<real>411.6728515625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>437.587451171875</real>
					<key>y</key>
					<real>515.06357421875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>341.3658935546875</real>
					<key>height</key>
					<real>255.9859771728516</real>
					<key>x offset</key>
					<real>39.22947998046874</real>
					<key>y offset</key>
					<real>-2.0310974121093928</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>205.8828125</real>
					<key>height</key>
					<real>205.81787109375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>306.79140625</real>
					<key>y</key>
					<real>130.091064453125</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>341.3658935546875</real>
					<key>height</key>
					<real>255.9859771728516</real>
					<key>x offset</key>
					<real>39.22947998046874</real>
					<key>y offset</key>
					<real>-2.0310974121093928</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>205.8828125</real>
					<key>height</key>
					<real>205.81787109375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>648.14140625</real>
					<key>y</key>
					<real>130.091064453125</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
