<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>50s_tv_background.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.64725341796876</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.517889404296877</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.42578125</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>898.162890625</real>
					<key>y</key>
					<real>77.99174804687505</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.64725341796876</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.517889404296877</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.42578125</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>898.162890625</real>
					<key>y</key>
					<real>691.491748046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.64725341796876</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.517889404296877</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.42578125</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>898.162890625</real>
					<key>y</key>
					<real>537.991748046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.64725341796876</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.517889404296877</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.42578125</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>898.162890625</real>
					<key>y</key>
					<real>384.991748046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.64725341796876</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.517889404296877</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.42578125</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>898.162890625</real>
					<key>y</key>
					<real>231.491748046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.64725341796876</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.517889404296877</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.42578125</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>79.712890625</real>
					<key>y</key>
					<real>77.99174804687505</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.64725341796876</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.517889404296877</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.42578125</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>79.712890625</real>
					<key>y</key>
					<real>231.491748046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>205.12410736083984</real>
					<key>height</key>
					<real>153.59158630371095</real>
					<key>x offset</key>
					<real>23.572689056396484</real>
					<key>y offset</key>
					<real>-1.2186584472656339</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.71337890625</real>
					<key>height</key>
					<real>123.49072265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>79.006689453125</real>
					<key>y</key>
					<real>692.404638671875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.64725341796876</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.517889404296877</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.42578125</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>79.712890625</real>
					<key>y</key>
					<real>538.491748046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.64725341796876</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.517889404296877</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.42578125</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>79.712890625</real>
					<key>y</key>
					<real>384.991748046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.64725341796876</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.517889404296877</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.42578125</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>284.312890625</real>
					<key>y</key>
					<real>77.99174804687505</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.64725341796876</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.517889404296877</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.42578125</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>284.312890625</real>
					<key>y</key>
					<real>538.491748046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.64725341796876</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.517889404296877</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.42578125</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>283.812890625</real>
					<key>y</key>
					<real>692.391748046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.64725341796876</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.517889404296877</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.42578125</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>284.312890625</real>
					<key>y</key>
					<real>231.491748046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.64725341796876</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.517889404296877</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.42578125</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>284.312890625</real>
					<key>y</key>
					<real>384.991748046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.64725341796876</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.517889404296877</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.42578125</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>488.912890625</real>
					<key>y</key>
					<real>691.991748046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.64725341796876</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.517889404296877</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.42578125</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>488.912890625</real>
					<key>y</key>
					<real>538.491748046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.64725341796876</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.517889404296877</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.42578125</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>488.912890625</real>
					<key>y</key>
					<real>77.99174804687505</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.64725341796876</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.517889404296877</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.42578125</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>488.912890625</real>
					<key>y</key>
					<real>231.491748046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.64725341796876</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.517889404296877</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.42578125</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>488.912890625</real>
					<key>y</key>
					<real>384.991748046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.64725341796876</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.517889404296877</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.42578125</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>693.562890625</real>
					<key>y</key>
					<real>384.991748046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.64725341796876</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.517889404296877</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.42578125</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>693.562890625</real>
					<key>y</key>
					<real>538.491748046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.64725341796876</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.517889404296877</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.42578125</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>693.562890625</real>
					<key>y</key>
					<real>231.491748046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.64725341796876</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.517889404296877</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.42578125</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>693.562890625</real>
					<key>y</key>
					<real>77.99174804687505</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.64725341796876</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.517889404296877</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.42578125</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>693.562890625</real>
					<key>y</key>
					<real>691.991748046875</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
