<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>50s_tv_background.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>1024.0976806640626</real>
					<key>height</key>
					<real>768.0271636962891</real>
					<key>x offset</key>
					<real>117.68843994140632</real>
					<key>y offset</key>
					<real>-6.093841552734403</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>617.6484375</real>
					<key>height</key>
					<real>617.50927734375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>394.82421875</real>
					<key>y</key>
					<real>390.345361328125</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
