<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>50s_tv_background.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>512.0180755615235</real>
					<key>height</key>
					<real>384.0078125</real>
					<key>x offset</key>
					<real>58.84068450927735</real>
					<key>y offset</key>
					<real>-3.046875</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>308.8056640625</real>
					<key>height</key>
					<real>308.75</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>197.15283203125</real>
					<key>y</key>
					<real>579.025</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>512.0026931762695</real>
					<key>height</key>
					<real>383.97319641113285</real>
					<key>x offset</key>
					<real>58.83891677856445</real>
					<key>y offset</key>
					<real>-3.0466003417968963</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>308.79638671875</real>
					<key>height</key>
					<real>308.72216796875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>709.148193359375</real>
					<key>y</key>
					<real>579.038916015625</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>512.0026931762695</real>
					<key>height</key>
					<real>383.97319641113285</real>
					<key>x offset</key>
					<real>58.83891677856445</real>
					<key>y offset</key>
					<real>-3.0466003417968963</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>308.79638671875</real>
					<key>height</key>
					<real>308.72216796875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>197.148193359375</real>
					<key>y</key>
					<real>195.03891601562498</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>512.0026931762695</real>
					<key>height</key>
					<real>383.9847351074219</real>
					<key>x offset</key>
					<real>58.83891677856445</real>
					<key>y offset</key>
					<real>-3.046691894531264</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>308.79638671875</real>
					<key>height</key>
					<real>308.7314453125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>709.148193359375</real>
					<key>y</key>
					<real>195.03427734374998</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
