<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>50s_tv_background.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>256.02442016601566</real>
					<key>height</key>
					<real>191.9462127685547</real>
					<key>x offset</key>
					<real>29.42210998535158</real>
					<key>y offset</key>
					<real>-1.522979736328125</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>154.412109375</real>
					<key>height</key>
					<real>154.32861328125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>98.6060546875</real>
					<key>y</key>
					<real>97.585693359375</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>255.962890625</real>
					<key>height</key>
					<real>191.96929016113282</real>
					<key>x offset</key>
					<real>29.4150390625</real>
					<key>y offset</key>
					<real>-1.5231628417968786</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>154.375</real>
					<key>height</key>
					<real>154.34716796875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>98.5875</real>
					<key>y</key>
					<real>673.526416015625</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>255.99365539550783</real>
					<key>height</key>
					<real>191.99236755371095</real>
					<key>x offset</key>
					<real>29.418574523925788</real>
					<key>y offset</key>
					<real>-1.523345947265632</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>154.3935546875</real>
					<key>height</key>
					<real>154.36572265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>98.59677734375</real>
					<key>y</key>
					<real>481.51713867187505</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>256.02442016601566</real>
					<key>height</key>
					<real>191.9462127685547</real>
					<key>x offset</key>
					<real>29.42210998535158</real>
					<key>y offset</key>
					<real>-1.522979736328125</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>154.412109375</real>
					<key>height</key>
					<real>154.32861328125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>98.6060546875</real>
					<key>y</key>
					<real>289.535693359375</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>256.02442016601566</real>
					<key>height</key>
					<real>191.99236755371095</real>
					<key>x offset</key>
					<real>29.42210998535158</real>
					<key>y offset</key>
					<real>-1.523345947265632</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>154.412109375</real>
					<key>height</key>
					<real>154.36572265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>354.5560546875</real>
					<key>y</key>
					<real>480.51713867187505</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>256.02442016601566</real>
					<key>height</key>
					<real>191.99236755371095</real>
					<key>x offset</key>
					<real>29.42210998535158</real>
					<key>y offset</key>
					<real>-1.523345947265632</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>154.412109375</real>
					<key>height</key>
					<real>154.36572265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>354.5560546875</real>
					<key>y</key>
					<real>672.517138671875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>256.02442016601566</real>
					<key>height</key>
					<real>191.99236755371095</real>
					<key>x offset</key>
					<real>29.42210998535158</real>
					<key>y offset</key>
					<real>-1.523345947265632</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>154.412109375</real>
					<key>height</key>
					<real>154.36572265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>354.5560546875</real>
					<key>y</key>
					<real>96.51713867187505</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>256.03980255126953</real>
					<key>height</key>
					<real>191.9808288574219</real>
					<key>x offset</key>
					<real>29.423877716064453</real>
					<key>y offset</key>
					<real>-1.5232543945312642</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>154.42138671875</real>
					<key>height</key>
					<real>154.3564453125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>354.560693359375</real>
					<key>y</key>
					<real>288.52177734375</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>256.02442016601566</real>
					<key>height</key>
					<real>191.9462127685547</real>
					<key>x offset</key>
					<real>29.42210998535158</real>
					<key>y offset</key>
					<real>-1.522979736328125</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>154.412109375</real>
					<key>height</key>
					<real>154.32861328125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>610.5560546875</real>
					<key>y</key>
					<real>480.53569335937505</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>256.03980255126953</real>
					<key>height</key>
					<real>191.99236755371095</real>
					<key>x offset</key>
					<real>29.423877716064453</real>
					<key>y offset</key>
					<real>-1.523345947265632</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>154.42138671875</real>
					<key>height</key>
					<real>154.36572265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>610.560693359375</real>
					<key>y</key>
					<real>672.517138671875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>256.03980255126953</real>
					<key>height</key>
					<real>191.99236755371095</real>
					<key>x offset</key>
					<real>29.423877716064453</real>
					<key>y offset</key>
					<real>-1.523345947265632</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>154.42138671875</real>
					<key>height</key>
					<real>154.36572265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>610.560693359375</real>
					<key>y</key>
					<real>96.51713867187505</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>256.02442016601566</real>
					<key>height</key>
					<real>191.9462127685547</real>
					<key>x offset</key>
					<real>29.42210998535158</real>
					<key>y offset</key>
					<real>-1.522979736328125</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>154.412109375</real>
					<key>height</key>
					<real>154.32861328125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>866.6060546875</real>
					<key>y</key>
					<real>288.585693359375</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>256.03980255126953</real>
					<key>height</key>
					<real>191.99236755371095</real>
					<key>x offset</key>
					<real>29.423877716064453</real>
					<key>y offset</key>
					<real>-1.523345947265632</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>154.42138671875</real>
					<key>height</key>
					<real>154.36572265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>866.610693359375</real>
					<key>y</key>
					<real>480.51713867187505</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>256.03980255126953</real>
					<key>height</key>
					<real>191.99236755371095</real>
					<key>x offset</key>
					<real>29.423877716064453</real>
					<key>y offset</key>
					<real>-1.523345947265632</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>154.42138671875</real>
					<key>height</key>
					<real>154.36572265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>610.560693359375</real>
					<key>y</key>
					<real>288.567138671875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>256.03980255126953</real>
					<key>height</key>
					<real>191.99236755371095</real>
					<key>x offset</key>
					<real>29.423877716064453</real>
					<key>y offset</key>
					<real>-1.523345947265632</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>154.42138671875</real>
					<key>height</key>
					<real>154.36572265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>866.660693359375</real>
					<key>y</key>
					<real>97.51713867187505</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>256.03980255126953</real>
					<key>height</key>
					<real>191.99236755371095</real>
					<key>x offset</key>
					<real>29.423877716064453</real>
					<key>y offset</key>
					<real>-1.523345947265632</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>154.42138671875</real>
					<key>height</key>
					<real>154.36572265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>866.610693359375</real>
					<key>y</key>
					<real>672.517138671875</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
