<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>50s_tv_background.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.63187103271486</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.51612167358399</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.41650390625</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>897.258251953125</real>
					<key>y</key>
					<real>77.291748046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.63187103271486</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.51612167358399</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.41650390625</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>897.258251953125</real>
					<key>y</key>
					<real>690.791748046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.63187103271486</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.51612167358399</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.41650390625</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>897.258251953125</real>
					<key>y</key>
					<real>537.291748046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.63187103271486</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.51612167358399</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.41650390625</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>897.258251953125</real>
					<key>y</key>
					<real>384.291748046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.63187103271486</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.51612167358399</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.41650390625</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>897.258251953125</real>
					<key>y</key>
					<real>230.791748046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.63187103271486</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.51612167358399</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.41650390625</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>78.858251953125</real>
					<key>y</key>
					<real>77.291748046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.63187103271486</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.51612167358399</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.41650390625</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>78.858251953125</real>
					<key>y</key>
					<real>230.791748046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>614.8185562133789</real>
					<key>height</key>
					<real>461.0286102294922</real>
					<key>x offset</key>
					<real>70.65442886352537</real>
					<key>y offset</key>
					<real>-3.657989501953125</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>370.80615234375</real>
					<key>height</key>
					<real>370.67626953125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>235.903076171875</real>
					<key>y</key>
					<real>539.711865234375</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.63187103271486</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.51612167358399</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.41650390625</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>283.458251953125</real>
					<key>y</key>
					<real>77.291748046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.63187103271486</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.51612167358399</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.41650390625</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>283.458251953125</real>
					<key>y</key>
					<real>230.791748046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.63187103271486</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.51612167358399</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.41650390625</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>488.058251953125</real>
					<key>y</key>
					<real>77.291748046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.63187103271486</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.51612167358399</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.41650390625</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>488.058251953125</real>
					<key>y</key>
					<real>230.791748046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.63187103271486</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.51612167358399</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.41650390625</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>692.658251953125</real>
					<key>y</key>
					<real>384.291748046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.63187103271486</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.51612167358399</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.41650390625</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>692.658251953125</real>
					<key>y</key>
					<real>537.791748046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.63187103271486</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.51612167358399</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.41650390625</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>692.658251953125</real>
					<key>y</key>
					<real>230.791748046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.63187103271486</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.51612167358399</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.41650390625</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>692.658251953125</real>
					<key>y</key>
					<real>77.291748046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>50s_TV_tvshell.png</string>
					<key>width</key>
					<real>204.63187103271486</real>
					<key>height</key>
					<real>153.49927673339846</real>
					<key>x offset</key>
					<real>23.51612167358399</real>
					<key>y offset</key>
					<real>-1.2179260253906374</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>123.41650390625</real>
					<key>height</key>
					<real>123.41650390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>692.658251953125</real>
					<key>y</key>
					<real>691.291748046875</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
