<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>IN PROGRESS</string>
	<key>Missing Image</key>
	<string>novideo.png</string>
	<key>Name</key>
	<string>11 Pixel Perfect</string>
	<key>Version</key>
	<integer>1</integer>
	<key>Absent Image</key>
	<string>novideo.png</string>
</dict>
</plist>
