<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>bg05.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame05.png</string>
					<key>width</key>
					<real>227.86806793212892</real>
					<key>height</key>
					<real>227.88116455078125</real>
					<key>x offset</key>
					<real>-0.0065483093261633485</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>227.88116455078125</real>
					<key>height</key>
					<real>227.88116455078125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>269.4405822753906</real>
					<key>y</key>
					<real>149.95941772460935</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame05.png</string>
					<key>width</key>
					<real>227.86806793212892</real>
					<key>height</key>
					<real>227.88116455078125</real>
					<key>x offset</key>
					<real>-0.0065483093261633485</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>227.88116455078125</real>
					<key>height</key>
					<real>227.88116455078125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>510.3405822753906</real>
					<key>y</key>
					<real>149.95941772460935</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame05.png</string>
					<key>width</key>
					<real>466.8866180419922</real>
					<key>height</key>
					<real>466.9134521484375</real>
					<key>x offset</key>
					<real>-0.013417053222639197</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>466.9134521484375</real>
					<key>height</key>
					<real>466.9134521484375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>389.5567260742188</real>
					<key>y</key>
					<real>509.4432739257812</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame05.png</string>
					<key>width</key>
					<real>227.86806793212892</real>
					<key>height</key>
					<real>227.88116455078125</real>
					<key>x offset</key>
					<real>-0.0065483093261633485</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>227.88116455078125</real>
					<key>height</key>
					<real>227.88116455078125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>750.0405822753906</real>
					<key>y</key>
					<real>629.1594177246094</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame05.png</string>
					<key>width</key>
					<real>227.86806793212892</real>
					<key>height</key>
					<real>227.88116455078125</real>
					<key>x offset</key>
					<real>-0.0065483093261633485</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>227.88116455078125</real>
					<key>height</key>
					<real>227.88116455078125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>750.0405822753906</real>
					<key>y</key>
					<real>389.3594177246094</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
