<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>bg04.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame04.png</string>
					<key>width</key>
					<real>227.86806793212892</real>
					<key>height</key>
					<real>227.88116455078125</real>
					<key>x offset</key>
					<real>-0.0065483093261633485</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>227.88116455078125</real>
					<key>height</key>
					<real>227.88116455078125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>268.8405822753906</real>
					<key>y</key>
					<real>630.1594177246094</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame04.png</string>
					<key>width</key>
					<real>466.9397155761719</real>
					<key>height</key>
					<real>466.966552734375</real>
					<key>x offset</key>
					<real>-0.013418579101539763</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>466.966552734375</real>
					<key>height</key>
					<real>466.966552734375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>628.8332763671875</real>
					<key>y</key>
					<real>512.3667236328125</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame04.png</string>
					<key>width</key>
					<real>227.86806793212892</real>
					<key>height</key>
					<real>227.88116455078125</real>
					<key>x offset</key>
					<real>-0.0065483093261633485</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>227.88116455078125</real>
					<key>height</key>
					<real>227.88116455078125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>268.8405822753906</real>
					<key>y</key>
					<real>149.25941772460936</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame04.png</string>
					<key>width</key>
					<real>227.86806793212892</real>
					<key>height</key>
					<real>227.88116455078125</real>
					<key>x offset</key>
					<real>-0.0065483093261633485</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>227.88116455078125</real>
					<key>height</key>
					<real>227.88116455078125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>749.6405822753907</real>
					<key>y</key>
					<real>149.25941772460936</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
