<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Artist</key>
	<string>By &apos;Leb</string>
	<key>Genre</key>
	<string>Hip Hop</string>
	<key>Name</key>
	<string>Big Time Playaz</string>
	<key>Samples</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Make a low drum sound, like &quot;BOM!&quot;</string>
			<key>Name</key>
			<string>Bass Drum</string>
			<key>Pitched</key>
			<false/>
		</dict>
		<dict>
			<key>Description</key>
			<string>Make a tight drum sound, like &quot;CHK!&quot;</string>
			<key>Name</key>
			<string>Snare Drum</string>
			<key>Pitched</key>
			<false/>
		</dict>
		<dict>
			<key>Description</key>
			<string>Make a quick cymbal sound, like &quot;TSK!&quot;</string>
			<key>Name</key>
			<string>Hi-hat</string>
			<key>Pitched</key>
			<false/>
		</dict>
		<dict>
			<key>Description</key>
			<string>Sing &quot;BWOOW!&quot; to the Guide Note.</string>
			<key>Guide Note</key>
			<string>60</string>
			<key>Name</key>
			<string>Bass</string>
			<key>Pitched</key>
			<true/>
			<key>Root Note</key>
			<string>48</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Say, &quot;Go!&quot;</string>
			<key>Name</key>
			<string>&quot;Go&quot;</string>
			<key>Pitched</key>
			<false/>
		</dict>
		<dict>
			<key>Description</key>
			<string>Say your name!</string>
			<key>Name</key>
			<string>Your Name</string>
			<key>Pitched</key>
			<false/>
		</dict>
	</array>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
