<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Master</key>
	<array>
		<dict>
			<key>preset</key>
			<string>room</string>
			<key>type</key>
			<string>reverb</string>
		</dict>
		<dict>
			<key>attack</key>
			<integer>1</integer>
			<key>gainmakeup</key>
			<integer>0</integer>
			<key>release</key>
			<integer>300</integer>
			<key>threshold</key>
			<integer>-2</integer>
			<key>type</key>
			<string>compressor</string>
		</dict>
	</array>
	<key>Samples</key>
	<array>
		<array>
			<string>Kick</string>
			<integer>-7</integer>
		</array>
		<array>
			<string>Kick 1</string>
			<integer>-26</integer>
			<dict>
				<key>level</key>
				<real>0.7</real>
				<key>type</key>
				<string>distortion</string>
			</dict>
			<dict>
				<key>cutoff</key>
				<integer>40</integer>
				<key>resonance</key>
				<integer>1</integer>
				<key>type</key>
				<string>highpass</string>
			</dict>
			<dict>
				<key>cutoff</key>
				<integer>400</integer>
				<key>resonance</key>
				<integer>1</integer>
				<key>type</key>
				<string>lowpass</string>
			</dict>
			<dict>
				<key>bandwidth</key>
				<integer>3</integer>
				<key>center</key>
				<integer>60</integer>
				<key>gain</key>
				<integer>2</integer>
				<key>type</key>
				<string>eq</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>decayratio</key>
				<real>0.25</real>
				<key>delay</key>
				<integer>240</integer>
				<key>drymix</key>
				<real>1</real>
				<key>type</key>
				<string>echo</string>
				<key>wetmix</key>
				<string>cc00 0 0.5</string>
			</dict>
			<string>Snare</string>
			<integer>-7</integer>
		</array>
		<array>
			<string>Hi Hat</string>
			<integer>-7</integer>
		</array>
		<array>
			<string>Bass</string>
			<integer>-4</integer>
			<dict>
				<key>decayratio</key>
				<real>0.25</real>
				<key>delay</key>
				<integer>240</integer>
				<key>drymix</key>
				<real>1</real>
				<key>type</key>
				<string>echo</string>
				<key>wetmix</key>
				<string>cc01 0 0.5</string>
			</dict>
		</array>
		<array>
			<string>Bass 1</string>
			<integer>-17</integer>
			<dict>
				<key>level</key>
				<real>0.5</real>
				<key>type</key>
				<string>distortion</string>
			</dict>
			<dict>
				<key>cutoff</key>
				<integer>40</integer>
				<key>resonance</key>
				<integer>1</integer>
				<key>type</key>
				<string>highpass</string>
			</dict>
			<dict>
				<key>bandwidth</key>
				<integer>3</integer>
				<key>center</key>
				<integer>60</integer>
				<key>gain</key>
				<integer>2</integer>
				<key>type</key>
				<string>eq</string>
			</dict>
			<dict>
				<key>cutoff</key>
				<integer>40</integer>
				<key>resonance</key>
				<integer>1</integer>
				<key>type</key>
				<string>highpass</string>
			</dict>
		</array>
		<array>
			<string>&quot;Go!&quot;</string>
			<integer>-7</integer>
		</array>
		<array>
			<integer>-7</integer>
			<string>&quot;Your Name&quot;</string>
		</array>
	</array>
</dict>
</plist>
