<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>background.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>236.6205596923828</real>
					<key>height</key>
					<real>236.6205596923828</real>
					<key>x offset</key>
					<real>10.349277877807623</real>
					<key>y offset</key>
					<real>12.623591995239252</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>151.59796829223632</real>
					<key>height</key>
					<real>151.59796829223632</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>136.79898414611816</real>
					<key>y</key>
					<real>620.3510158538818</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>236.6205596923828</real>
					<key>height</key>
					<real>236.6205596923828</real>
					<key>x offset</key>
					<real>10.349277877807623</real>
					<key>y offset</key>
					<real>12.623591995239252</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>151.59796829223632</real>
					<key>height</key>
					<real>151.59796829223632</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>377.2989841461182</real>
					<key>y</key>
					<real>620.3510158538818</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>236.6205596923828</real>
					<key>height</key>
					<real>236.6205596923828</real>
					<key>x offset</key>
					<real>10.349277877807623</real>
					<key>y offset</key>
					<real>12.623591995239252</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>151.59796829223632</real>
					<key>height</key>
					<real>151.59796829223632</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>617.8489841461181</real>
					<key>y</key>
					<real>620.3510158538818</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>236.6205596923828</real>
					<key>height</key>
					<real>236.6205596923828</real>
					<key>x offset</key>
					<real>10.349277877807623</real>
					<key>y offset</key>
					<real>12.623591995239252</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>151.59796829223632</real>
					<key>height</key>
					<real>151.59796829223632</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>617.8489841461181</real>
					<key>y</key>
					<real>379.2510158538819</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>236.6205596923828</real>
					<key>height</key>
					<real>236.6205596923828</real>
					<key>x offset</key>
					<real>10.349277877807623</real>
					<key>y offset</key>
					<real>12.623591995239252</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>151.59796829223632</real>
					<key>height</key>
					<real>151.59796829223632</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>858.3989841461182</real>
					<key>y</key>
					<real>620.3510158538818</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>236.6205596923828</real>
					<key>height</key>
					<real>236.6205596923828</real>
					<key>x offset</key>
					<real>10.349277877807623</real>
					<key>y offset</key>
					<real>12.623591995239252</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>151.59796829223632</real>
					<key>height</key>
					<real>151.59796829223632</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>136.79898414611816</real>
					<key>y</key>
					<real>379.2510158538819</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>236.6205596923828</real>
					<key>height</key>
					<real>236.6205596923828</real>
					<key>x offset</key>
					<real>10.349277877807623</real>
					<key>y offset</key>
					<real>12.623591995239252</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>151.59796829223632</real>
					<key>height</key>
					<real>151.59796829223632</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>377.2989841461182</real>
					<key>y</key>
					<real>379.2510158538819</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>236.6205596923828</real>
					<key>height</key>
					<real>236.6205596923828</real>
					<key>x offset</key>
					<real>10.349277877807623</real>
					<key>y offset</key>
					<real>12.623591995239252</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>151.59796829223632</real>
					<key>height</key>
					<real>151.59796829223632</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>858.3989841461182</real>
					<key>y</key>
					<real>379.2510158538819</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>236.6205596923828</real>
					<key>height</key>
					<real>236.6205596923828</real>
					<key>x offset</key>
					<real>10.349277877807623</real>
					<key>y offset</key>
					<real>12.623591995239252</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>151.59796829223632</real>
					<key>height</key>
					<real>151.59796829223632</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>135.04898414611816</real>
					<key>y</key>
					<real>139.30101585388186</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>236.6205596923828</real>
					<key>height</key>
					<real>236.6205596923828</real>
					<key>x offset</key>
					<real>10.349277877807623</real>
					<key>y offset</key>
					<real>12.623591995239252</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>151.59796829223632</real>
					<key>height</key>
					<real>151.59796829223632</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>375.59898414611814</real>
					<key>y</key>
					<real>139.30101585388186</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>236.6205596923828</real>
					<key>height</key>
					<real>236.6205596923828</real>
					<key>x offset</key>
					<real>10.349277877807623</real>
					<key>y offset</key>
					<real>12.623591995239252</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>151.59796829223632</real>
					<key>height</key>
					<real>151.59796829223632</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>616.1489841461182</real>
					<key>y</key>
					<real>139.30101585388186</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>236.6205596923828</real>
					<key>height</key>
					<real>236.6205596923828</real>
					<key>x offset</key>
					<real>10.349277877807623</real>
					<key>y offset</key>
					<real>12.623591995239252</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>151.59796829223632</real>
					<key>height</key>
					<real>151.59796829223632</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>856.6989841461182</real>
					<key>y</key>
					<real>139.30101585388186</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
