<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>background.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>500.0221252441406</real>
					<key>height</key>
					<real>500.0928497314453</real>
					<key>x offset</key>
					<real>21.86989974975586</real>
					<key>y offset</key>
					<real>26.679710769653326</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>320.3539810180664</real>
					<key>height</key>
					<real>320.39929275512696</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>236.6769905090332</real>
					<key>y</key>
					<real>464.1003536224365</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>161.26754760742188</real>
					<key>height</key>
					<real>161.27540588378906</real>
					<key>x offset</key>
					<real>7.053498077392582</real>
					<key>y offset</key>
					<real>8.603964614868161</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>103.32082977294921</real>
					<key>height</key>
					<real>103.32586441040038</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>584.2604148864747</real>
					<key>y</key>
					<real>629.3870677947998</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>161.26754760742188</real>
					<key>height</key>
					<real>161.27540588378906</real>
					<key>x offset</key>
					<real>7.053498077392582</real>
					<key>y offset</key>
					<real>8.603964614868161</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>103.32082977294921</real>
					<key>height</key>
					<real>103.32586441040038</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>584.2604148864747</real>
					<key>y</key>
					<real>293.8370677947998</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>161.26754760742188</real>
					<key>height</key>
					<real>161.27540588378906</real>
					<key>x offset</key>
					<real>7.053498077392582</real>
					<key>y offset</key>
					<real>8.603964614868161</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>103.32082977294921</real>
					<key>height</key>
					<real>103.32586441040038</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>752.1604148864747</real>
					<key>y</key>
					<real>629.3870677947998</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>161.26754760742188</real>
					<key>height</key>
					<real>161.27540588378906</real>
					<key>x offset</key>
					<real>7.053498077392582</real>
					<key>y offset</key>
					<real>8.603964614868161</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>103.32082977294921</real>
					<key>height</key>
					<real>103.32586441040038</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>752.1604148864747</real>
					<key>y</key>
					<real>293.8370677947998</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>161.26754760742188</real>
					<key>height</key>
					<real>161.27540588378906</real>
					<key>x offset</key>
					<real>7.053498077392582</real>
					<key>y offset</key>
					<real>8.603964614868161</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>103.32082977294921</real>
					<key>height</key>
					<real>103.32586441040038</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>920.1104148864747</real>
					<key>y</key>
					<real>629.3870677947998</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>161.26754760742188</real>
					<key>height</key>
					<real>161.27540588378906</real>
					<key>x offset</key>
					<real>7.053498077392582</real>
					<key>y offset</key>
					<real>8.603964614868161</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>103.32082977294921</real>
					<key>height</key>
					<real>103.32586441040038</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>920.1104148864747</real>
					<key>y</key>
					<real>293.8370677947998</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>161.26754760742188</real>
					<key>height</key>
					<real>161.27540588378906</real>
					<key>x offset</key>
					<real>7.053498077392582</real>
					<key>y offset</key>
					<real>8.603964614868161</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>103.32082977294921</real>
					<key>height</key>
					<real>103.32586441040038</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>584.2604148864747</real>
					<key>y</key>
					<real>461.78706779479984</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>161.26754760742188</real>
					<key>height</key>
					<real>161.27540588378906</real>
					<key>x offset</key>
					<real>7.053498077392582</real>
					<key>y offset</key>
					<real>8.603964614868161</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>103.32082977294921</real>
					<key>height</key>
					<real>103.32586441040038</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>81.3604148864746</real>
					<key>y</key>
					<real>126.23706779479978</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>161.26754760742188</real>
					<key>height</key>
					<real>161.27540588378906</real>
					<key>x offset</key>
					<real>7.053498077392582</real>
					<key>y offset</key>
					<real>8.603964614868161</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>103.32082977294921</real>
					<key>height</key>
					<real>103.32586441040038</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>584.2604148864747</real>
					<key>y</key>
					<real>126.23706779479978</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>161.26754760742188</real>
					<key>height</key>
					<real>161.27540588378906</real>
					<key>x offset</key>
					<real>7.053498077392582</real>
					<key>y offset</key>
					<real>8.603964614868161</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>103.32082977294921</real>
					<key>height</key>
					<real>103.32586441040038</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>752.1604148864747</real>
					<key>y</key>
					<real>461.78706779479984</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>161.26754760742188</real>
					<key>height</key>
					<real>161.27540588378906</real>
					<key>x offset</key>
					<real>7.053498077392582</real>
					<key>y offset</key>
					<real>8.603964614868161</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>103.32082977294921</real>
					<key>height</key>
					<real>103.32586441040038</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>249.2604148864746</real>
					<key>y</key>
					<real>126.23706779479978</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>161.26754760742188</real>
					<key>height</key>
					<real>161.27540588378906</real>
					<key>x offset</key>
					<real>7.053498077392582</real>
					<key>y offset</key>
					<real>8.603964614868161</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>103.32082977294921</real>
					<key>height</key>
					<real>103.32586441040038</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>752.1604148864747</real>
					<key>y</key>
					<real>126.23706779479978</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>6</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>161.26754760742188</real>
					<key>height</key>
					<real>161.27540588378906</real>
					<key>x offset</key>
					<real>7.053498077392582</real>
					<key>y offset</key>
					<real>8.603964614868161</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>103.32082977294921</real>
					<key>height</key>
					<real>103.32586441040038</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>920.1104148864747</real>
					<key>y</key>
					<real>461.78706779479984</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>6</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>161.26754760742188</real>
					<key>height</key>
					<real>161.27540588378906</real>
					<key>x offset</key>
					<real>7.053498077392582</real>
					<key>y offset</key>
					<real>8.603964614868161</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>103.32082977294921</real>
					<key>height</key>
					<real>103.32586441040038</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>417.2104148864746</real>
					<key>y</key>
					<real>126.23706779479978</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>6</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>161.26754760742188</real>
					<key>height</key>
					<real>161.27540588378906</real>
					<key>x offset</key>
					<real>7.053498077392582</real>
					<key>y offset</key>
					<real>8.603964614868161</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>103.32082977294921</real>
					<key>height</key>
					<real>103.32586441040038</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>920.1104148864747</real>
					<key>y</key>
					<real>126.23706779479978</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
