<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>background.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.79859924316406</real>
					<key>height</key>
					<real>143.80645751953125</real>
					<key>x offset</key>
					<real>6.289443588256837</real>
					<key>y offset</key>
					<real>7.672004699707031</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.12883071899414</real>
					<key>height</key>
					<real>92.13386535644531</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>429.76441535949704</real>
					<key>y</key>
					<real>379.03306732177737</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>287.58934020996094</real>
					<key>height</key>
					<real>287.6050567626953</real>
					<key>x offset</key>
					<real>12.578543472290036</real>
					<key>y offset</key>
					<real>15.343590164184562</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>184.25262680053712</real>
					<key>height</key>
					<real>184.26269607543944</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>811.3763134002686</real>
					<key>y</key>
					<real>602.6186519622803</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>287.58934020996094</real>
					<key>height</key>
					<real>287.6050567626953</real>
					<key>x offset</key>
					<real>12.578543472290036</real>
					<key>y offset</key>
					<real>15.343590164184562</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>184.25262680053712</real>
					<key>height</key>
					<real>184.26269607543944</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>506.07631340026853</real>
					<key>y</key>
					<real>151.26865196228027</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.79859924316406</real>
					<key>height</key>
					<real>143.80645751953125</real>
					<key>x offset</key>
					<real>6.289443588256837</real>
					<key>y offset</key>
					<real>7.672004699707031</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.12883071899414</real>
					<key>height</key>
					<real>92.13386535644531</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>429.76441535949704</real>
					<key>y</key>
					<real>682.0330673217774</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.79859924316406</real>
					<key>height</key>
					<real>143.80645751953125</real>
					<key>x offset</key>
					<real>6.289443588256837</real>
					<key>y offset</key>
					<real>7.672004699707031</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.12883071899414</real>
					<key>height</key>
					<real>92.13386535644531</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>580.464415359497</real>
					<key>y</key>
					<real>682.0330673217774</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.79859924316406</real>
					<key>height</key>
					<real>143.80645751953125</real>
					<key>x offset</key>
					<real>6.289443588256837</real>
					<key>y offset</key>
					<real>7.672004699707031</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.12883071899414</real>
					<key>height</key>
					<real>92.13386535644531</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>580.464415359497</real>
					<key>y</key>
					<real>530.5330673217774</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.79859924316406</real>
					<key>height</key>
					<real>143.80645751953125</real>
					<key>x offset</key>
					<real>6.289443588256837</real>
					<key>y offset</key>
					<real>7.672004699707031</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.12883071899414</real>
					<key>height</key>
					<real>92.13386535644531</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>429.76441535949704</real>
					<key>y</key>
					<real>530.5330673217774</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.79859924316406</real>
					<key>height</key>
					<real>143.80645751953125</real>
					<key>x offset</key>
					<real>6.289443588256837</real>
					<key>y offset</key>
					<real>7.672004699707031</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.12883071899414</real>
					<key>height</key>
					<real>92.13386535644531</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>92.01441535949706</real>
					<key>y</key>
					<real>77.78306732177737</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.79859924316406</real>
					<key>height</key>
					<real>143.80645751953125</real>
					<key>x offset</key>
					<real>6.289443588256837</real>
					<key>y offset</key>
					<real>7.672004699707031</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.12883071899414</real>
					<key>height</key>
					<real>92.13386535644531</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>92.01441535949706</real>
					<key>y</key>
					<real>229.58306732177732</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.79859924316406</real>
					<key>height</key>
					<real>143.80645751953125</real>
					<key>x offset</key>
					<real>6.289443588256837</real>
					<key>y offset</key>
					<real>7.672004699707031</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.12883071899414</real>
					<key>height</key>
					<real>92.13386535644531</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>263.4644153594971</real>
					<key>y</key>
					<real>229.58306732177732</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.79859924316406</real>
					<key>height</key>
					<real>143.80645751953125</real>
					<key>x offset</key>
					<real>6.289443588256837</real>
					<key>y offset</key>
					<real>7.672004699707031</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.12883071899414</real>
					<key>height</key>
					<real>92.13386535644531</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>263.4644153594971</real>
					<key>y</key>
					<real>77.78306732177737</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.79859924316406</real>
					<key>height</key>
					<real>143.80645751953125</real>
					<key>x offset</key>
					<real>6.289443588256837</real>
					<key>y offset</key>
					<real>7.672004699707031</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.12883071899414</real>
					<key>height</key>
					<real>92.13386535644531</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>757.964415359497</real>
					<key>y</key>
					<real>76.03306732177737</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.79859924316406</real>
					<key>height</key>
					<real>143.80645751953125</real>
					<key>x offset</key>
					<real>6.289443588256837</real>
					<key>y offset</key>
					<real>7.672004699707031</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.12883071899414</real>
					<key>height</key>
					<real>92.13386535644531</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>757.964415359497</real>
					<key>y</key>
					<real>227.53306732177737</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.79859924316406</real>
					<key>height</key>
					<real>143.80645751953125</real>
					<key>x offset</key>
					<real>6.289443588256837</real>
					<key>y offset</key>
					<real>7.672004699707031</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.12883071899414</real>
					<key>height</key>
					<real>92.13386535644531</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>924.214415359497</real>
					<key>y</key>
					<real>227.53306732177737</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.79859924316406</real>
					<key>height</key>
					<real>143.80645751953125</real>
					<key>x offset</key>
					<real>6.289443588256837</real>
					<key>y offset</key>
					<real>7.672004699707031</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.12883071899414</real>
					<key>height</key>
					<real>92.13386535644531</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>924.214415359497</real>
					<key>y</key>
					<real>76.03306732177737</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.79859924316406</real>
					<key>height</key>
					<real>143.80645751953125</real>
					<key>x offset</key>
					<real>6.289443588256837</real>
					<key>y offset</key>
					<real>7.672004699707031</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.12883071899414</real>
					<key>height</key>
					<real>92.13386535644531</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>580.464415359497</real>
					<key>y</key>
					<real>379.03306732177737</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>287.58934020996094</real>
					<key>height</key>
					<real>287.6050567626953</real>
					<key>x offset</key>
					<real>12.578543472290036</real>
					<key>y offset</key>
					<real>15.343590164184562</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>184.25262680053712</real>
					<key>height</key>
					<real>184.26269607543944</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>183.92631340026855</real>
					<key>y</key>
					<real>602.6186519622803</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.79859924316406</real>
					<key>height</key>
					<real>143.80645751953125</real>
					<key>x offset</key>
					<real>6.289443588256837</real>
					<key>y offset</key>
					<real>7.672004699707031</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.12883071899414</real>
					<key>height</key>
					<real>92.13386535644531</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>923.464415359497</real>
					<key>y</key>
					<real>379.03306732177737</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.79859924316406</real>
					<key>height</key>
					<real>143.80645751953125</real>
					<key>x offset</key>
					<real>6.289443588256837</real>
					<key>y offset</key>
					<real>7.672004699707031</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.12883071899414</real>
					<key>height</key>
					<real>92.13386535644531</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>752.0144153594971</real>
					<key>y</key>
					<real>379.03306732177737</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.79859924316406</real>
					<key>height</key>
					<real>143.80645751953125</real>
					<key>x offset</key>
					<real>6.289443588256837</real>
					<key>y offset</key>
					<real>7.672004699707031</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.12883071899414</real>
					<key>height</key>
					<real>92.13386535644531</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>92.01441535949706</real>
					<key>y</key>
					<real>379.03306732177737</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.79859924316406</real>
					<key>height</key>
					<real>143.80645751953125</real>
					<key>x offset</key>
					<real>6.289443588256837</real>
					<key>y offset</key>
					<real>7.672004699707031</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.12883071899414</real>
					<key>height</key>
					<real>92.13386535644531</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>263.4644153594971</real>
					<key>y</key>
					<real>378.43306732177734</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
