<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>background.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>237.6421356201172</real>
					<key>height</key>
					<real>237.63427734375</real>
					<key>x offset</key>
					<real>10.393959426879888</real>
					<key>y offset</key>
					<real>12.67767333984375</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>152.25247116088866</real>
					<key>height</key>
					<real>152.2474365234375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>139.07623558044435</real>
					<key>y</key>
					<real>630.4762817382813</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>237.68142700195312</real>
					<key>height</key>
					<real>237.68142700195312</real>
					<key>x offset</key>
					<real>10.395677947998053</real>
					<key>y offset</key>
					<real>12.680188751220697</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>152.27764434814452</real>
					<key>height</key>
					<real>152.27764434814452</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>139.08882217407228</real>
					<key>y</key>
					<real>374.31117782592776</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>237.6421356201172</real>
					<key>height</key>
					<real>237.63427734375</real>
					<key>x offset</key>
					<real>10.393959426879888</real>
					<key>y offset</key>
					<real>12.67767333984375</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>152.25247116088866</real>
					<key>height</key>
					<real>152.2474365234375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>377.87623558044436</real>
					<key>y</key>
					<real>630.4762817382813</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>237.68142700195312</real>
					<key>height</key>
					<real>237.68142700195312</real>
					<key>x offset</key>
					<real>10.395677947998053</real>
					<key>y offset</key>
					<real>12.680188751220697</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>152.27764434814452</real>
					<key>height</key>
					<real>152.27764434814452</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>377.8888221740723</real>
					<key>y</key>
					<real>374.31117782592776</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>237.6421356201172</real>
					<key>height</key>
					<real>237.63427734375</real>
					<key>x offset</key>
					<real>10.393959426879888</real>
					<key>y offset</key>
					<real>12.67767333984375</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>152.25247116088866</real>
					<key>height</key>
					<real>152.2474365234375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>616.7262355804444</real>
					<key>y</key>
					<real>374.32628173828124</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>237.68142700195312</real>
					<key>height</key>
					<real>237.68142700195312</real>
					<key>x offset</key>
					<real>10.395677947998053</real>
					<key>y offset</key>
					<real>12.680188751220697</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>152.27764434814452</real>
					<key>height</key>
					<real>152.27764434814452</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>616.7388221740723</real>
					<key>y</key>
					<real>630.4611778259277</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>237.6421356201172</real>
					<key>height</key>
					<real>237.63427734375</real>
					<key>x offset</key>
					<real>10.393959426879888</real>
					<key>y offset</key>
					<real>12.67767333984375</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>152.25247116088866</real>
					<key>height</key>
					<real>152.2474365234375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>855.5762355804444</real>
					<key>y</key>
					<real>374.32628173828124</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>237.68142700195312</real>
					<key>height</key>
					<real>237.68142700195312</real>
					<key>x offset</key>
					<real>10.395677947998053</real>
					<key>y offset</key>
					<real>12.680188751220697</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>152.27764434814452</real>
					<key>height</key>
					<real>152.27764434814452</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>855.5888221740723</real>
					<key>y</key>
					<real>630.4611778259277</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>237.6421356201172</real>
					<key>height</key>
					<real>237.63427734375</real>
					<key>x offset</key>
					<real>10.393959426879888</real>
					<key>y offset</key>
					<real>12.67767333984375</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>152.25247116088866</real>
					<key>height</key>
					<real>152.2474365234375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>139.07623558044435</real>
					<key>y</key>
					<real>118.22628173828127</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>237.6421356201172</real>
					<key>height</key>
					<real>237.63427734375</real>
					<key>x offset</key>
					<real>10.393959426879888</real>
					<key>y offset</key>
					<real>12.67767333984375</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>152.25247116088866</real>
					<key>height</key>
					<real>152.2474365234375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>377.87623558044436</real>
					<key>y</key>
					<real>118.22628173828127</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>237.68142700195312</real>
					<key>height</key>
					<real>237.68142700195312</real>
					<key>x offset</key>
					<real>10.395677947998053</real>
					<key>y offset</key>
					<real>12.680188751220697</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>152.27764434814452</real>
					<key>height</key>
					<real>152.27764434814452</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>616.7388221740723</real>
					<key>y</key>
					<real>118.1611778259277</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>237.68142700195312</real>
					<key>height</key>
					<real>237.68142700195312</real>
					<key>x offset</key>
					<real>10.395677947998053</real>
					<key>y offset</key>
					<real>12.680188751220697</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>152.27764434814452</real>
					<key>height</key>
					<real>152.27764434814452</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>855.5888221740723</real>
					<key>y</key>
					<real>118.1611778259277</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
