<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>background.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.8300323486328</real>
					<key>height</key>
					<real>143.837890625</real>
					<key>x offset</key>
					<real>6.29081840515137</real>
					<key>y offset</key>
					<real>7.673681640624999</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.14896926879882</real>
					<key>height</key>
					<real>92.15400390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>82.02448463439941</real>
					<key>y</key>
					<real>677.972998046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.8300323486328</real>
					<key>height</key>
					<real>143.837890625</real>
					<key>x offset</key>
					<real>6.29081840515137</real>
					<key>y offset</key>
					<real>7.673681640624999</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.14896926879882</real>
					<key>height</key>
					<real>92.15400390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>933.3744846343993</real>
					<key>y</key>
					<real>677.972998046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.8300323486328</real>
					<key>height</key>
					<real>143.837890625</real>
					<key>x offset</key>
					<real>6.29081840515137</real>
					<key>y offset</key>
					<real>7.673681640624999</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.14896926879882</real>
					<key>height</key>
					<real>92.15400390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>365.8244846343994</real>
					<key>y</key>
					<real>677.972998046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.8300323486328</real>
					<key>height</key>
					<real>143.837890625</real>
					<key>x offset</key>
					<real>6.29081840515137</real>
					<key>y offset</key>
					<real>7.673681640624999</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.14896926879882</real>
					<key>height</key>
					<real>92.15400390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>649.6244846343993</real>
					<key>y</key>
					<real>677.972998046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.8300323486328</real>
					<key>height</key>
					<real>143.837890625</real>
					<key>x offset</key>
					<real>6.29081840515137</real>
					<key>y offset</key>
					<real>7.673681640624999</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.14896926879882</real>
					<key>height</key>
					<real>92.15400390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>649.0244846343994</real>
					<key>y</key>
					<real>526.472998046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.8300323486328</real>
					<key>height</key>
					<real>143.837890625</real>
					<key>x offset</key>
					<real>6.29081840515137</real>
					<key>y offset</key>
					<real>7.673681640624999</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.14896926879882</real>
					<key>height</key>
					<real>92.15400390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>932.5744846343994</real>
					<key>y</key>
					<real>526.472998046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.8300323486328</real>
					<key>height</key>
					<real>143.837890625</real>
					<key>x offset</key>
					<real>6.29081840515137</real>
					<key>y offset</key>
					<real>7.673681640624999</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.14896926879882</real>
					<key>height</key>
					<real>92.15400390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>82.02448463439941</real>
					<key>y</key>
					<real>526.472998046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.8300323486328</real>
					<key>height</key>
					<real>143.837890625</real>
					<key>x offset</key>
					<real>6.29081840515137</real>
					<key>y offset</key>
					<real>7.673681640624999</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.14896926879882</real>
					<key>height</key>
					<real>92.15400390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>365.5244846343994</real>
					<key>y</key>
					<real>526.472998046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.8300323486328</real>
					<key>height</key>
					<real>143.837890625</real>
					<key>x offset</key>
					<real>6.29081840515137</real>
					<key>y offset</key>
					<real>7.673681640624999</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.14896926879882</real>
					<key>height</key>
					<real>92.15400390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>649.0244846343994</real>
					<key>y</key>
					<real>374.922998046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.8300323486328</real>
					<key>height</key>
					<real>143.837890625</real>
					<key>x offset</key>
					<real>6.29081840515137</real>
					<key>y offset</key>
					<real>7.673681640624999</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.14896926879882</real>
					<key>height</key>
					<real>92.15400390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>82.02448463439941</real>
					<key>y</key>
					<real>374.922998046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.8300323486328</real>
					<key>height</key>
					<real>143.837890625</real>
					<key>x offset</key>
					<real>6.29081840515137</real>
					<key>y offset</key>
					<real>7.673681640624999</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.14896926879882</real>
					<key>height</key>
					<real>92.15400390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>365.5244846343994</real>
					<key>y</key>
					<real>374.922998046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.8300323486328</real>
					<key>height</key>
					<real>143.837890625</real>
					<key>x offset</key>
					<real>6.29081840515137</real>
					<key>y offset</key>
					<real>7.673681640624999</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.14896926879882</real>
					<key>height</key>
					<real>92.15400390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>932.5744846343994</real>
					<key>y</key>
					<real>374.922998046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.8300323486328</real>
					<key>height</key>
					<real>143.837890625</real>
					<key>x offset</key>
					<real>6.29081840515137</real>
					<key>y offset</key>
					<real>7.673681640624999</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.14896926879882</real>
					<key>height</key>
					<real>92.15400390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>933.3744846343993</real>
					<key>y</key>
					<real>223.422998046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.8300323486328</real>
					<key>height</key>
					<real>143.837890625</real>
					<key>x offset</key>
					<real>6.29081840515137</real>
					<key>y offset</key>
					<real>7.673681640624999</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.14896926879882</real>
					<key>height</key>
					<real>92.15400390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>649.6244846343993</real>
					<key>y</key>
					<real>223.422998046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.8300323486328</real>
					<key>height</key>
					<real>143.837890625</real>
					<key>x offset</key>
					<real>6.29081840515137</real>
					<key>y offset</key>
					<real>7.673681640624999</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.14896926879882</real>
					<key>height</key>
					<real>92.15400390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>82.02448463439941</real>
					<key>y</key>
					<real>223.972998046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.8300323486328</real>
					<key>height</key>
					<real>143.837890625</real>
					<key>x offset</key>
					<real>6.29081840515137</real>
					<key>y offset</key>
					<real>7.673681640624999</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.14896926879882</real>
					<key>height</key>
					<real>92.15400390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>365.8244846343994</real>
					<key>y</key>
					<real>223.422998046875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.8300323486328</real>
					<key>height</key>
					<real>143.837890625</real>
					<key>x offset</key>
					<real>6.29081840515137</real>
					<key>y offset</key>
					<real>7.673681640624999</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.14896926879882</real>
					<key>height</key>
					<real>92.15400390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>933.3744846343993</real>
					<key>y</key>
					<real>71.87299804687504</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.8300323486328</real>
					<key>height</key>
					<real>143.837890625</real>
					<key>x offset</key>
					<real>6.29081840515137</real>
					<key>y offset</key>
					<real>7.673681640624999</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.14896926879882</real>
					<key>height</key>
					<real>92.15400390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>649.6244846343993</real>
					<key>y</key>
					<real>71.87299804687504</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.8300323486328</real>
					<key>height</key>
					<real>143.837890625</real>
					<key>x offset</key>
					<real>6.29081840515137</real>
					<key>y offset</key>
					<real>7.673681640624999</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.14896926879882</real>
					<key>height</key>
					<real>92.15400390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>82.02448463439941</real>
					<key>y</key>
					<real>72.47299804687495</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.8300323486328</real>
					<key>height</key>
					<real>143.837890625</real>
					<key>x offset</key>
					<real>6.29081840515137</real>
					<key>y offset</key>
					<real>7.673681640624999</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>92.14896926879882</real>
					<key>height</key>
					<real>92.15400390625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>365.8244846343994</real>
					<key>y</key>
					<real>71.87299804687504</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
