<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>phase_bg02.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>441.8632507324219</real>
					<key>height</key>
					<real>441.7835998535156</real>
					<key>x offset</key>
					<real>0</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>441.8632507324219</real>
					<key>height</key>
					<real>441.7835998535156</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>246.93162536621094</real>
					<key>y</key>
					<real>392.3582000732422</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>441.8632507324219</real>
					<key>height</key>
					<real>441.7835998535156</real>
					<key>x offset</key>
					<real>-0.012697219848632812</real>
					<key>y offset</key>
					<real>-0.012694931030267753</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>441.88864517211914</real>
					<key>height</key>
					<real>441.80898971557616</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>780.2943225860596</real>
					<key>y</key>
					<real>388.3455051422119</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
