<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Master</key>
	<array>
		<string>Dood it</string>
		<dict>
			<key>attack</key>
			<integer>1</integer>
			<key>gainmakeup</key>
			<integer>0</integer>
			<key>release</key>
			<integer>300</integer>
			<key>threshold</key>
			<integer>-2</integer>
			<key>type</key>
			<string>compressor</string>
		</dict>
	</array>
	<key>Samples</key>
	<array>
		<array>
			<string>kick</string>
			<integer>-10</integer>
		</array>
		<array>
			<string>kick 1</string>
			<integer>-10</integer>
			<dict>
				<key>cutoff</key>
				<integer>400</integer>
				<key>resonance</key>
				<integer>1</integer>
				<key>type</key>
				<string>lowpass</string>
			</dict>
			<dict>
				<key>cutoff</key>
				<integer>40</integer>
				<key>resonance</key>
				<integer>1</integer>
				<key>type</key>
				<string>highpass</string>
			</dict>
			<dict>
				<key>bandwidth</key>
				<integer>2</integer>
				<key>center</key>
				<integer>65</integer>
				<key>gain</key>
				<integer>3</integer>
				<key>type</key>
				<string>eq</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>level</key>
				<real>0.5</real>
				<key>type</key>
				<string>distortion</string>
			</dict>
			<string>snare</string>
			<integer>-7</integer>
		</array>
		<array>
			<string>cymbals</string>
			<integer>-8</integer>
		</array>
		<array>
			<string>toms</string>
			<integer>-6</integer>
		</array>
		<array>
			<string>bass</string>
			<integer>-9</integer>
		</array>
		<array>
			<string>bass 1</string>
			<integer>-9</integer>
		</array>
		<array>
			<string>melody</string>
			<integer>-15</integer>
		</array>
		<array>
			<string>melody 1</string>
			<integer>-15</integer>
			<dict>
				<key>decayratio</key>
				<real>0.1</real>
				<key>delay</key>
				<integer>50</integer>
				<key>drymix</key>
				<real>0.8</real>
				<key>type</key>
				<string>echo</string>
				<key>wetmix</key>
				<real>0.2</real>
			</dict>
			<dict>
				<key>level</key>
				<real>0.5</real>
				<key>type</key>
				<string>distortion</string>
			</dict>
		</array>
	</array>
</dict>
</plist>
