<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Artist</key>
	<string>By Jeff Allen</string>
	<key>Genre</key>
	<string>Novelty</string>
	<key>Name</key>
	<string>Pirates!</string>
	<key>Samples</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Stomp your feet!</string>
			<key>Name</key>
			<string>Stomp</string>
			<key>Pitched</key>
			<false/>
		</dict>
		<dict>
			<key>Description</key>
			<string>Sing the Guide Note in a raspy voice.</string>
			<key>Guide Note</key>
			<string>60</string>
			<key>Name</key>
			<string>Melody</string>
			<key>Pitched</key>
			<true/>
			<key>Root Note</key>
			<string>48</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Say, &quot;Arr!&quot;</string>
			<key>Name</key>
			<string>&quot;Arr&quot;</string>
			<key>Pitched</key>
			<false/>
		</dict>
		<dict>
			<key>Description</key>
			<string>Say, &quot;&apos;Tis.&quot;</string>
			<key>Name</key>
			<string>&quot;&apos;Tis&quot;</string>
			<key>Pitched</key>
			<false/>
		</dict>
		<dict>
			<key>Description</key>
			<string>Say, &quot;Booty!&quot;</string>
			<key>Name</key>
			<string>&quot;Booty&quot;</string>
			<key>Pitched</key>
			<false/>
		</dict>
		<dict>
			<key>Description</key>
			<string>Say, &quot;Rumm!&quot;</string>
			<key>Name</key>
			<string>&quot;Rumm&quot;</string>
			<key>Pitched</key>
			<false/>
		</dict>
	</array>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
