<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>holiday_bg_02.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>191.9970703125</real>
					<key>height</key>
					<real>191.9970703125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>125.14853515625</real>
					<key>y</key>
					<real>643.20146484375</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>191.9970703125</real>
					<key>height</key>
					<real>191.9970703125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>889.74853515625</real>
					<key>y</key>
					<real>643.05146484375</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>191.9970703125</real>
					<key>height</key>
					<real>191.9970703125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>509.99853515625</real>
					<key>y</key>
					<real>396.00146484375</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>191.9970703125</real>
					<key>height</key>
					<real>191.9970703125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>509.99853515625</real>
					<key>y</key>
					<real>146.00146484375</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>191.9970703125</real>
					<key>height</key>
					<real>191.9970703125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>893.99853515625</real>
					<key>y</key>
					<real>146.00146484375</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
