<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>256.00341796875</real>
					<key>height</key>
					<real>256.00341796875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>128.001708984375</real>
					<key>y</key>
					<real>147.998291015625</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>256.00341796875</real>
					<key>height</key>
					<real>256.00341796875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>384.001708984375</real>
					<key>y</key>
					<real>147.998291015625</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>480</real>
					<key>height</key>
					<real>480</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>240</real>
					<key>y</key>
					<real>510</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>256.00341796875</real>
					<key>height</key>
					<real>256.00341796875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>640.001708984375</real>
					<key>y</key>
					<real>147.998291015625</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>256.00341796875</real>
					<key>height</key>
					<real>256.00341796875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>896.001708984375</real>
					<key>y</key>
					<real>147.998291015625</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>480</real>
					<key>height</key>
					<real>480</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>784</real>
					<key>y</key>
					<real>510</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
