<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>background.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>237.12890625</real>
					<key>height</key>
					<real>237.13623046875</real>
					<key>x offset</key>
					<real>-0.24700927734375</real>
					<key>y offset</key>
					<real>-0.7410507202148438</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>234.6588134765625</real>
					<key>height</key>
					<real>234.6660614013672</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>118.02940673828125</real>
					<key>y</key>
					<real>575.9669692993164</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>237.12890625</real>
					<key>height</key>
					<real>237.13623046875</real>
					<key>x offset</key>
					<real>-0.24700927734375</real>
					<key>y offset</key>
					<real>-0.7410507202148438</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>234.6588134765625</real>
					<key>height</key>
					<real>234.6660614013672</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>899.6294067382812</real>
					<key>y</key>
					<real>122.1669692993164</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>237.12890625</real>
					<key>height</key>
					<real>237.13623046875</real>
					<key>x offset</key>
					<real>-0.24700927734375</real>
					<key>y offset</key>
					<real>-0.7410507202148438</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>234.6588134765625</real>
					<key>height</key>
					<real>234.6660614013672</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>899.6294067382812</real>
					<key>y</key>
					<real>577.9169692993164</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>237.12890625</real>
					<key>height</key>
					<real>237.13623046875</real>
					<key>x offset</key>
					<real>-0.24700927734375</real>
					<key>y offset</key>
					<real>-0.7410507202148438</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>234.6588134765625</real>
					<key>height</key>
					<real>234.6660614013672</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>118.02940673828125</real>
					<key>y</key>
					<real>348.5669692993164</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>237.12890625</real>
					<key>height</key>
					<real>237.13623046875</real>
					<key>x offset</key>
					<real>-0.24700927734375</real>
					<key>y offset</key>
					<real>-0.7410507202148438</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>234.6588134765625</real>
					<key>height</key>
					<real>234.6660614013672</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>313.4294067382813</real>
					<key>y</key>
					<real>456.5669692993164</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>237.12890625</real>
					<key>height</key>
					<real>237.13623046875</real>
					<key>x offset</key>
					<real>-0.24700927734375</real>
					<key>y offset</key>
					<real>-0.7410507202148438</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>234.6588134765625</real>
					<key>height</key>
					<real>234.6660614013672</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>508.6794067382813</real>
					<key>y</key>
					<real>573.7169692993164</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>237.12890625</real>
					<key>height</key>
					<real>237.13623046875</real>
					<key>x offset</key>
					<real>-0.24700927734375</real>
					<key>y offset</key>
					<real>-0.7410507202148438</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>234.6588134765625</real>
					<key>height</key>
					<real>234.6660614013672</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>704.2294067382812</real>
					<key>y</key>
					<real>456.71696929931636</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>237.12890625</real>
					<key>height</key>
					<real>237.13623046875</real>
					<key>x offset</key>
					<real>-0.24700927734375</real>
					<key>y offset</key>
					<real>-0.7410507202148438</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>234.6588134765625</real>
					<key>height</key>
					<real>234.6660614013672</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>899.6294067382812</real>
					<key>y</key>
					<real>350.01696929931643</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>237.12890625</real>
					<key>height</key>
					<real>237.13623046875</real>
					<key>x offset</key>
					<real>-0.24700927734375</real>
					<key>y offset</key>
					<real>-0.7410507202148438</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>234.6588134765625</real>
					<key>height</key>
					<real>234.6660614013672</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>313.4294067382813</real>
					<key>y</key>
					<real>228.71696929931642</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>237.12890625</real>
					<key>height</key>
					<real>237.13623046875</real>
					<key>x offset</key>
					<real>-0.24700927734375</real>
					<key>y offset</key>
					<real>-0.7410507202148438</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>234.6588134765625</real>
					<key>height</key>
					<real>234.6660614013672</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>508.6794067382813</real>
					<key>y</key>
					<real>346.1669692993164</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>237.12890625</real>
					<key>height</key>
					<real>237.13623046875</real>
					<key>x offset</key>
					<real>-0.24700927734375</real>
					<key>y offset</key>
					<real>-0.7410507202148438</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>234.6588134765625</real>
					<key>height</key>
					<real>234.6660614013672</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>508.6794067382813</real>
					<key>y</key>
					<real>120.11696929931645</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>237.12890625</real>
					<key>height</key>
					<real>237.13623046875</real>
					<key>x offset</key>
					<real>-0.24700927734375</real>
					<key>y offset</key>
					<real>-0.7410507202148438</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>234.6588134765625</real>
					<key>height</key>
					<real>234.6660614013672</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>704.2294067382812</real>
					<key>y</key>
					<real>229.1169692993164</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
