<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>background.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>256.00341796875</real>
					<key>height</key>
					<real>256.00341796875</real>
					<key>x offset</key>
					<real>-0.26667022705078125</real>
					<key>y offset</key>
					<real>-0.8000106811523438</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>253.3367156982422</real>
					<key>height</key>
					<real>253.3367156982422</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>891.6683578491211</real>
					<key>y</key>
					<real>382.3316421508789</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>256.00341796875</real>
					<key>height</key>
					<real>256.00341796875</real>
					<key>x offset</key>
					<real>-0.26667022705078125</real>
					<key>y offset</key>
					<real>-0.8000106811523438</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>253.3367156982422</real>
					<key>height</key>
					<real>253.3367156982422</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>472.4683578491211</real>
					<key>y</key>
					<real>131.7816421508789</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>350.00244140625</real>
					<key>height</key>
					<real>350.00244140625</real>
					<key>x offset</key>
					<real>-0.36458587646484375</real>
					<key>y offset</key>
					<real>-1.0937576293945312</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>346.35658264160156</real>
					<key>height</key>
					<real>346.35658264160156</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>172.17829132080078</real>
					<key>y</key>
					<real>589.8217086791992</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>256.00341796875</real>
					<key>height</key>
					<real>256.00341796875</real>
					<key>x offset</key>
					<real>-0.26667022705078125</real>
					<key>y offset</key>
					<real>-0.8000106811523438</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>253.3367156982422</real>
					<key>height</key>
					<real>253.3367156982422</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>681.6683578491211</real>
					<key>y</key>
					<real>260.3316421508789</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>256.00341796875</real>
					<key>height</key>
					<real>256.00341796875</real>
					<key>x offset</key>
					<real>-0.26667022705078125</real>
					<key>y offset</key>
					<real>-0.8000106811523438</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>253.3367156982422</real>
					<key>height</key>
					<real>253.3367156982422</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>890.6683578491211</real>
					<key>y</key>
					<real>134.3316421508789</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>350.00244140625</real>
					<key>height</key>
					<real>350.0244140625</real>
					<key>x offset</key>
					<real>-0.36458587646484375</real>
					<key>y offset</key>
					<real>-1.0938262939453125</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>346.35658264160156</real>
					<key>height</key>
					<real>346.3783264160156</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>448.1782913208008</real>
					<key>y</key>
					<real>421.86083679199214</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
