<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>background.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>307.2270782470703</real>
					<key>height</key>
					<real>307.2270782470703</real>
					<key>x offset</key>
					<real>-0.28796539306640057</real>
					<key>y offset</key>
					<real>-0.9918807983398494</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>303.9634704589844</real>
					<key>height</key>
					<real>303.9634704589844</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>670.9817352294922</real>
					<key>y</key>
					<real>223.9682647705078</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>307.2270782470703</real>
					<key>height</key>
					<real>307.2270782470703</real>
					<key>x offset</key>
					<real>-0.28796539306640057</real>
					<key>y offset</key>
					<real>-0.9918807983398494</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>303.9634704589844</real>
					<key>height</key>
					<real>303.9634704589844</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>201.9817352294922</real>
					<key>y</key>
					<real>595.9682647705079</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>307.2270782470703</real>
					<key>height</key>
					<real>307.2270782470703</real>
					<key>x offset</key>
					<real>-0.28796539306640057</real>
					<key>y offset</key>
					<real>-0.9918807983398494</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>303.9634704589844</real>
					<key>height</key>
					<real>303.9634704589844</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>843.7317352294922</real>
					<key>y</key>
					<real>533.5182647705078</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>153.61353912353516</real>
					<key>height</key>
					<real>153.61353912353516</real>
					<key>x offset</key>
					<real>-0.14398269653320028</real>
					<key>y offset</key>
					<real>-0.4959403991699247</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>151.9817352294922</real>
					<key>height</key>
					<real>151.9817352294922</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>879.9408676147461</real>
					<key>y</key>
					<real>301.2091323852539</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>153.61353912353516</real>
					<key>height</key>
					<real>153.61353912353516</real>
					<key>x offset</key>
					<real>-0.14398269653320028</real>
					<key>y offset</key>
					<real>-0.4959403991699247</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>151.9817352294922</real>
					<key>height</key>
					<real>151.9817352294922</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>879.9408676147461</real>
					<key>y</key>
					<real>146.80913238525386</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>153.61353912353516</real>
					<key>height</key>
					<real>153.61353912353516</real>
					<key>x offset</key>
					<real>-0.14398269653320028</real>
					<key>y offset</key>
					<real>-0.4959403991699247</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>151.9817352294922</real>
					<key>height</key>
					<real>151.9817352294922</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>370.2408676147461</real>
					<key>y</key>
					<real>294.4091323852539</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>153.61353912353516</real>
					<key>height</key>
					<real>153.61353912353516</real>
					<key>x offset</key>
					<real>-0.14398269653320028</real>
					<key>y offset</key>
					<real>-0.4959403991699247</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>151.9817352294922</real>
					<key>height</key>
					<real>151.9817352294922</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>106.1408676147461</real>
					<key>y</key>
					<real>147.20913238525395</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>153.61353912353516</real>
					<key>height</key>
					<real>153.61353912353516</real>
					<key>x offset</key>
					<real>-0.14398269653320028</real>
					<key>y offset</key>
					<real>-0.4959403991699247</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>151.9817352294922</real>
					<key>height</key>
					<real>151.9817352294922</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>106.1408676147461</real>
					<key>y</key>
					<real>301.2091323852539</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>153.61353912353516</real>
					<key>height</key>
					<real>153.61353912353516</real>
					<key>x offset</key>
					<real>-0.14398269653320028</real>
					<key>y offset</key>
					<real>-0.4959403991699247</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>151.9817352294922</real>
					<key>height</key>
					<real>151.9817352294922</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>236.7408676147461</real>
					<key>y</key>
					<real>223.2091323852539</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>153.61353912353516</real>
					<key>height</key>
					<real>153.61353912353516</real>
					<key>x offset</key>
					<real>-0.14398269653320028</real>
					<key>y offset</key>
					<real>-0.4959403991699247</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>151.9817352294922</real>
					<key>height</key>
					<real>151.9817352294922</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>502.4908676147461</real>
					<key>y</key>
					<real>370.7591323852539</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>153.61353912353516</real>
					<key>height</key>
					<real>153.61353912353516</real>
					<key>x offset</key>
					<real>-0.14398269653320028</real>
					<key>y offset</key>
					<real>-0.4959403991699247</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>151.9817352294922</real>
					<key>height</key>
					<real>151.9817352294922</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>632.7408676147461</real>
					<key>y</key>
					<real>447.20913238525395</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>153.61353912353516</real>
					<key>height</key>
					<real>153.61353912353516</real>
					<key>x offset</key>
					<real>-0.14398269653320028</real>
					<key>y offset</key>
					<real>-0.4959403991699247</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>151.9817352294922</real>
					<key>height</key>
					<real>151.9817352294922</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>631.8908676147461</real>
					<key>y</key>
					<real>600.8091323852539</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>153.61353912353516</real>
					<key>height</key>
					<real>153.61353912353516</real>
					<key>x offset</key>
					<real>-0.14398269653320028</real>
					<key>y offset</key>
					<real>-0.4959403991699247</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>151.9817352294922</real>
					<key>height</key>
					<real>151.9817352294922</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>502.2908676147461</real>
					<key>y</key>
					<real>524.8091323852539</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>153.61353912353516</real>
					<key>height</key>
					<real>153.61353912353516</real>
					<key>x offset</key>
					<real>-0.14398269653320028</real>
					<key>y offset</key>
					<real>-0.4959403991699247</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>151.9817352294922</real>
					<key>height</key>
					<real>151.9817352294922</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>237.7408676147461</real>
					<key>y</key>
					<real>374.7091323852539</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>153.61353912353516</real>
					<key>height</key>
					<real>153.61353912353516</real>
					<key>x offset</key>
					<real>-0.14398269653320028</real>
					<key>y offset</key>
					<real>-0.4959403991699247</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>151.9817352294922</real>
					<key>height</key>
					<real>151.9817352294922</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>370.2408676147461</real>
					<key>y</key>
					<real>141.20913238525395</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>153.61353912353516</real>
					<key>height</key>
					<real>153.61353912353516</real>
					<key>x offset</key>
					<real>-0.14398269653320028</real>
					<key>y offset</key>
					<real>-0.4959403991699247</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>151.9817352294922</real>
					<key>height</key>
					<real>151.9817352294922</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>370.2408676147461</real>
					<key>y</key>
					<real>446.80913238525386</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
