<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>background.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>227.46437072753906</real>
					<key>height</key>
					<real>227.45704498291016</real>
					<key>x offset</key>
					<real>-0.21320343017578125</real>
					<key>y offset</key>
					<real>-0.7343437194824247</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>225.04806518554688</real>
					<key>height</key>
					<real>225.0408172607422</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>119.92403259277344</real>
					<key>y</key>
					<real>630.7295913696289</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>227.46437072753906</real>
					<key>height</key>
					<real>227.45704498291016</real>
					<key>x offset</key>
					<real>-0.21320343017578125</real>
					<key>y offset</key>
					<real>-0.7343437194824247</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>225.04806518554688</real>
					<key>height</key>
					<real>225.0408172607422</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>513.8740325927735</real>
					<key>y</key>
					<real>630.7295913696289</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>227.46437072753906</real>
					<key>height</key>
					<real>227.45704498291016</real>
					<key>x offset</key>
					<real>-0.21320343017578125</real>
					<key>y offset</key>
					<real>-0.7343437194824247</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>225.04806518554688</real>
					<key>height</key>
					<real>225.0408172607422</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>513.1240325927735</real>
					<key>y</key>
					<real>403.32959136962893</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>227.46437072753906</real>
					<key>height</key>
					<real>227.45704498291016</real>
					<key>x offset</key>
					<real>-0.21320343017578125</real>
					<key>y offset</key>
					<real>-0.7343437194824247</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>225.04806518554688</real>
					<key>height</key>
					<real>225.0408172607422</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>709.7240325927735</real>
					<key>y</key>
					<real>522.9795913696289</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>227.46437072753906</real>
					<key>height</key>
					<real>227.45704498291016</real>
					<key>x offset</key>
					<real>-0.21320343017578125</real>
					<key>y offset</key>
					<real>-0.7343437194824247</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>225.04806518554688</real>
					<key>height</key>
					<real>225.0408172607422</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>119.92403259277344</real>
					<key>y</key>
					<real>403.32959136962893</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>227.46437072753906</real>
					<key>height</key>
					<real>227.45704498291016</real>
					<key>x offset</key>
					<real>-0.21320343017578125</real>
					<key>y offset</key>
					<real>-0.7343437194824247</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>225.04806518554688</real>
					<key>height</key>
					<real>225.0408172607422</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>316.52403259277344</real>
					<key>y</key>
					<real>522.9795913696289</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>227.46437072753906</real>
					<key>height</key>
					<real>227.45704498291016</real>
					<key>x offset</key>
					<real>-0.21320343017578125</real>
					<key>y offset</key>
					<real>-0.7343437194824247</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>225.04806518554688</real>
					<key>height</key>
					<real>225.0408172607422</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>513.1240325927735</real>
					<key>y</key>
					<real>175.87959136962888</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>227.46437072753906</real>
					<key>height</key>
					<real>227.45704498291016</real>
					<key>x offset</key>
					<real>-0.21320343017578125</real>
					<key>y offset</key>
					<real>-0.7343437194824247</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>225.04806518554688</real>
					<key>height</key>
					<real>225.0408172607422</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>119.92403259277344</real>
					<key>y</key>
					<real>175.87959136962888</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>227.46437072753906</real>
					<key>height</key>
					<real>227.45704498291016</real>
					<key>x offset</key>
					<real>-0.21320343017578125</real>
					<key>y offset</key>
					<real>-0.7343437194824247</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>225.04806518554688</real>
					<key>height</key>
					<real>225.0408172607422</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>316.52403259277344</real>
					<key>y</key>
					<real>295.57959136962893</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>227.46437072753906</real>
					<key>height</key>
					<real>227.45704498291016</real>
					<key>x offset</key>
					<real>-0.21320343017578125</real>
					<key>y offset</key>
					<real>-0.7343437194824247</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>225.04806518554688</real>
					<key>height</key>
					<real>225.0408172607422</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>709.7240325927735</real>
					<key>y</key>
					<real>295.57959136962893</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>227.46437072753906</real>
					<key>height</key>
					<real>227.45704498291016</real>
					<key>x offset</key>
					<real>-0.21320343017578125</real>
					<key>y offset</key>
					<real>-0.7343437194824247</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>225.04806518554688</real>
					<key>height</key>
					<real>225.0408172607422</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>912.5240325927734</real>
					<key>y</key>
					<real>179.9795913696289</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>227.46437072753906</real>
					<key>height</key>
					<real>227.45704498291016</real>
					<key>x offset</key>
					<real>-0.21320343017578125</real>
					<key>y offset</key>
					<real>-0.7343437194824247</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>225.04806518554688</real>
					<key>height</key>
					<real>225.0408172607422</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>909.4740325927735</real>
					<key>y</key>
					<real>642.179591369629</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>227.46437072753906</real>
					<key>height</key>
					<real>227.45704498291016</real>
					<key>x offset</key>
					<real>-0.21320343017578125</real>
					<key>y offset</key>
					<real>-0.7343437194824247</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>225.04806518554688</real>
					<key>height</key>
					<real>225.0408172607422</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>909.4740325927735</real>
					<key>y</key>
					<real>415.27959136962886</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
