<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>background.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>217.6478729248047</real>
					<key>height</key>
					<real>217.6332214355469</real>
					<key>x offset</key>
					<real>-0.20400238037109375</real>
					<key>y offset</key>
					<real>-0.7026275634765682</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>215.33584594726562</real>
					<key>height</key>
					<real>215.32135009765625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>245.6679229736328</real>
					<key>y</key>
					<real>553.2393249511719</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>217.67717590332032</real>
					<key>height</key>
					<real>217.67717590332032</real>
					<key>x offset</key>
					<real>-0.2040298461914034</real>
					<key>y offset</key>
					<real>-0.7027694702148466</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>215.36483764648438</real>
					<key>height</key>
					<real>215.36483764648438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>245.6824188232422</real>
					<key>y</key>
					<real>335.5675811767578</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>217.6478729248047</real>
					<key>height</key>
					<real>217.6332214355469</real>
					<key>x offset</key>
					<real>-0.20400238037109375</real>
					<key>y offset</key>
					<real>-0.7026275634765682</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>215.33584594726562</real>
					<key>height</key>
					<real>215.32135009765625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>429.3179229736328</real>
					<key>y</key>
					<real>660.3393249511719</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>217.67717590332032</real>
					<key>height</key>
					<real>217.67717590332032</real>
					<key>x offset</key>
					<real>-0.2040298461914034</real>
					<key>y offset</key>
					<real>-0.7027694702148466</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>215.36483764648438</real>
					<key>height</key>
					<real>215.36483764648438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>429.33241882324216</real>
					<key>y</key>
					<real>442.7175811767578</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>217.6478729248047</real>
					<key>height</key>
					<real>217.6332214355469</real>
					<key>x offset</key>
					<real>-0.20400238037109375</real>
					<key>y offset</key>
					<real>-0.7026275634765682</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>215.33584594726562</real>
					<key>height</key>
					<real>215.32135009765625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>612.9179229736328</real>
					<key>y</key>
					<real>335.5893249511719</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>217.67717590332032</real>
					<key>height</key>
					<real>217.67717590332032</real>
					<key>x offset</key>
					<real>-0.2040298461914034</real>
					<key>y offset</key>
					<real>-0.7027694702148466</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>215.36483764648438</real>
					<key>height</key>
					<real>215.36483764648438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>612.9324188232422</real>
					<key>y</key>
					<real>553.2175811767578</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>217.6478729248047</real>
					<key>height</key>
					<real>217.6332214355469</real>
					<key>x offset</key>
					<real>-0.20400238037109375</real>
					<key>y offset</key>
					<real>-0.7026275634765682</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>215.33584594726562</real>
					<key>height</key>
					<real>215.32135009765625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>796.5679229736328</real>
					<key>y</key>
					<real>442.73932495117185</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>217.67717590332032</real>
					<key>height</key>
					<real>217.67717590332032</real>
					<key>x offset</key>
					<real>-0.2040298461914034</real>
					<key>y offset</key>
					<real>-0.7027694702148466</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>215.36483764648438</real>
					<key>height</key>
					<real>215.36483764648438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>796.5824188232422</real>
					<key>y</key>
					<real>660.3175811767578</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>217.6478729248047</real>
					<key>height</key>
					<real>217.6332214355469</real>
					<key>x offset</key>
					<real>-0.20400238037109375</real>
					<key>y offset</key>
					<real>-0.7026275634765682</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>215.33584594726562</real>
					<key>height</key>
					<real>215.32135009765625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>245.6679229736328</real>
					<key>y</key>
					<real>117.98932495117185</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>217.6478729248047</real>
					<key>height</key>
					<real>217.6332214355469</real>
					<key>x offset</key>
					<real>-0.20400238037109375</real>
					<key>y offset</key>
					<real>-0.7026275634765682</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>215.33584594726562</real>
					<key>height</key>
					<real>215.32135009765625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>429.3179229736328</real>
					<key>y</key>
					<real>225.08932495117188</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>217.67717590332032</real>
					<key>height</key>
					<real>217.67717590332032</real>
					<key>x offset</key>
					<real>-0.2040298461914034</real>
					<key>y offset</key>
					<real>-0.7027694702148466</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>215.36483764648438</real>
					<key>height</key>
					<real>215.36483764648438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>612.9324188232422</real>
					<key>y</key>
					<real>117.91758117675784</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>217.67717590332032</real>
					<key>height</key>
					<real>217.67717590332032</real>
					<key>x offset</key>
					<real>-0.2040298461914034</real>
					<key>y offset</key>
					<real>-0.7027694702148466</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>215.36483764648438</real>
					<key>height</key>
					<real>215.36483764648438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>796.5824188232422</real>
					<key>y</key>
					<real>225.0175811767578</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
