<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>background.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>170.67626953125</real>
					<key>height</key>
					<real>170.67626953125</real>
					<key>x offset</key>
					<real>-0.17778778076171875</real>
					<key>y offset</key>
					<real>-0.5333633422851562</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>168.8983917236328</real>
					<key>height</key>
					<real>168.8983917236328</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>125.84919586181641</real>
					<key>y</key>
					<real>680.2508041381836</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>170.67626953125</real>
					<key>height</key>
					<real>170.67626953125</real>
					<key>x offset</key>
					<real>-0.17778778076171875</real>
					<key>y offset</key>
					<real>-0.5333633422851562</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>168.8983917236328</real>
					<key>height</key>
					<real>168.8983917236328</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>576.8491958618164</real>
					<key>y</key>
					<real>600.2508041381836</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>170.67626953125</real>
					<key>height</key>
					<real>170.67626953125</real>
					<key>x offset</key>
					<real>-0.17778778076171875</real>
					<key>y offset</key>
					<real>-0.5333633422851562</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>168.8983917236328</real>
					<key>height</key>
					<real>168.8983917236328</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>125.84919586181641</real>
					<key>y</key>
					<real>339.2508041381836</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>170.67626953125</real>
					<key>height</key>
					<real>170.67626953125</real>
					<key>x offset</key>
					<real>-0.17778778076171875</real>
					<key>y offset</key>
					<real>-0.5333633422851562</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>168.8983917236328</real>
					<key>height</key>
					<real>168.8983917236328</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>576.8491958618164</real>
					<key>y</key>
					<real>259.2508041381836</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>170.67626953125</real>
					<key>height</key>
					<real>170.67626953125</real>
					<key>x offset</key>
					<real>-0.17778778076171875</real>
					<key>y offset</key>
					<real>-0.5333633422851562</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>168.8983917236328</real>
					<key>height</key>
					<real>168.8983917236328</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>276.4991958618164</real>
					<key>y</key>
					<real>600.2508041381836</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>170.67626953125</real>
					<key>height</key>
					<real>170.67626953125</real>
					<key>x offset</key>
					<real>-0.17778778076171875</real>
					<key>y offset</key>
					<real>-0.5333633422851562</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>168.8983917236328</real>
					<key>height</key>
					<real>168.8983917236328</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>727.4991958618164</real>
					<key>y</key>
					<real>680.2508041381836</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>170.67626953125</real>
					<key>height</key>
					<real>170.67626953125</real>
					<key>x offset</key>
					<real>-0.17778778076171875</real>
					<key>y offset</key>
					<real>-0.5333633422851562</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>168.8983917236328</real>
					<key>height</key>
					<real>168.8983917236328</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>276.4991958618164</real>
					<key>y</key>
					<real>259.2508041381836</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>170.67626953125</real>
					<key>height</key>
					<real>170.67626953125</real>
					<key>x offset</key>
					<real>-0.17778778076171875</real>
					<key>y offset</key>
					<real>-0.5333633422851562</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>168.8983917236328</real>
					<key>height</key>
					<real>168.8983917236328</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>727.4991958618164</real>
					<key>y</key>
					<real>339.2508041381836</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>170.67626953125</real>
					<key>height</key>
					<real>170.67626953125</real>
					<key>x offset</key>
					<real>-0.17778778076171875</real>
					<key>y offset</key>
					<real>-0.5333633422851562</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>168.8983917236328</real>
					<key>height</key>
					<real>168.8983917236328</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>878.1991958618164</real>
					<key>y</key>
					<real>600.2508041381836</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>170.67626953125</real>
					<key>height</key>
					<real>170.67626953125</real>
					<key>x offset</key>
					<real>-0.17778778076171875</real>
					<key>y offset</key>
					<real>-0.5333633422851562</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>168.8983917236328</real>
					<key>height</key>
					<real>168.8983917236328</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>427.1991958618164</real>
					<key>y</key>
					<real>339.2508041381836</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>170.67626953125</real>
					<key>height</key>
					<real>170.67626953125</real>
					<key>x offset</key>
					<real>-0.17778778076171875</real>
					<key>y offset</key>
					<real>-0.5333633422851562</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>168.8983917236328</real>
					<key>height</key>
					<real>168.8983917236328</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>878.1991958618164</real>
					<key>y</key>
					<real>259.2508041381836</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>170.67626953125</real>
					<key>height</key>
					<real>170.67626953125</real>
					<key>x offset</key>
					<real>-0.17778778076171875</real>
					<key>y offset</key>
					<real>-0.5333633422851562</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>168.8983917236328</real>
					<key>height</key>
					<real>168.8983917236328</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>427.1991958618164</real>
					<key>y</key>
					<real>680.2508041381836</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>170.67626953125</real>
					<key>height</key>
					<real>170.67626953125</real>
					<key>x offset</key>
					<real>-0.17778778076171875</real>
					<key>y offset</key>
					<real>-0.5333633422851562</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>168.8983917236328</real>
					<key>height</key>
					<real>168.8983917236328</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>125.84919586181641</real>
					<key>y</key>
					<real>509.95080413818357</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>170.67626953125</real>
					<key>height</key>
					<real>170.67626953125</real>
					<key>x offset</key>
					<real>-0.17778778076171875</real>
					<key>y offset</key>
					<real>-0.5333633422851562</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>168.8983917236328</real>
					<key>height</key>
					<real>168.8983917236328</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>576.8491958618164</real>
					<key>y</key>
					<real>429.95080413818357</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>170.67626953125</real>
					<key>height</key>
					<real>170.67626953125</real>
					<key>x offset</key>
					<real>-0.17778778076171875</real>
					<key>y offset</key>
					<real>-0.5333633422851562</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>168.8983917236328</real>
					<key>height</key>
					<real>168.8983917236328</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>125.84919586181641</real>
					<key>y</key>
					<real>168.95080413818357</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>170.67626953125</real>
					<key>height</key>
					<real>170.67626953125</real>
					<key>x offset</key>
					<real>-0.17778778076171875</real>
					<key>y offset</key>
					<real>-0.5333633422851562</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>168.8983917236328</real>
					<key>height</key>
					<real>168.8983917236328</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>576.8491958618164</real>
					<key>y</key>
					<real>88.95080413818357</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>170.67626953125</real>
					<key>height</key>
					<real>170.67626953125</real>
					<key>x offset</key>
					<real>-0.17778778076171875</real>
					<key>y offset</key>
					<real>-0.5333633422851562</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>168.8983917236328</real>
					<key>height</key>
					<real>168.8983917236328</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>276.4991958618164</real>
					<key>y</key>
					<real>429.95080413818357</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>170.67626953125</real>
					<key>height</key>
					<real>170.67626953125</real>
					<key>x offset</key>
					<real>-0.17778778076171875</real>
					<key>y offset</key>
					<real>-0.5333633422851562</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>168.8983917236328</real>
					<key>height</key>
					<real>168.8983917236328</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>727.4991958618164</real>
					<key>y</key>
					<real>509.95080413818357</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>170.67626953125</real>
					<key>height</key>
					<real>170.67626953125</real>
					<key>x offset</key>
					<real>-0.17778778076171875</real>
					<key>y offset</key>
					<real>-0.5333633422851562</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>168.8983917236328</real>
					<key>height</key>
					<real>168.8983917236328</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>276.4991958618164</real>
					<key>y</key>
					<real>88.95080413818357</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>170.67626953125</real>
					<key>height</key>
					<real>170.67626953125</real>
					<key>x offset</key>
					<real>-0.17778778076171875</real>
					<key>y offset</key>
					<real>-0.5333633422851562</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>168.8983917236328</real>
					<key>height</key>
					<real>168.8983917236328</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>727.4991958618164</real>
					<key>y</key>
					<real>168.95080413818357</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>6</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>170.67626953125</real>
					<key>height</key>
					<real>170.67626953125</real>
					<key>x offset</key>
					<real>-0.17778778076171875</real>
					<key>y offset</key>
					<real>-0.5333633422851562</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>168.8983917236328</real>
					<key>height</key>
					<real>168.8983917236328</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>427.1991958618164</real>
					<key>y</key>
					<real>509.95080413818357</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>6</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>170.67626953125</real>
					<key>height</key>
					<real>170.67626953125</real>
					<key>x offset</key>
					<real>-0.17778778076171875</real>
					<key>y offset</key>
					<real>-0.5333633422851562</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>168.8983917236328</real>
					<key>height</key>
					<real>168.8983917236328</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>878.1991958618164</real>
					<key>y</key>
					<real>429.95080413818357</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>6</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>170.67626953125</real>
					<key>height</key>
					<real>170.67626953125</real>
					<key>x offset</key>
					<real>-0.17778778076171875</real>
					<key>y offset</key>
					<real>-0.5333633422851562</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>168.8983917236328</real>
					<key>height</key>
					<real>168.8983917236328</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>427.1991958618164</real>
					<key>y</key>
					<real>168.95080413818357</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>6</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>170.67626953125</real>
					<key>height</key>
					<real>170.67626953125</real>
					<key>x offset</key>
					<real>-0.17778778076171875</real>
					<key>y offset</key>
					<real>-0.5333633422851562</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>168.8983917236328</real>
					<key>height</key>
					<real>168.8983917236328</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>878.1991958618164</real>
					<key>y</key>
					<real>88.95080413818357</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
