<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>Classy_bg_08.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>150.20307617187498</real>
					<key>height</key>
					<real>150.20307617187498</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>89.65153808593749</real>
					<key>y</key>
					<real>626.1484619140625</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>150.20307617187498</real>
					<key>height</key>
					<real>150.20307617187498</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>600.4015380859374</real>
					<key>y</key>
					<real>626.1484619140625</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>150.20307617187498</real>
					<key>height</key>
					<real>150.20307617187498</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>89.65153808593749</real>
					<key>y</key>
					<real>307.74846191406255</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>150.20307617187498</real>
					<key>height</key>
					<real>150.20307617187498</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>600.4015380859374</real>
					<key>y</key>
					<real>307.74846191406255</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>150.20307617187498</real>
					<key>height</key>
					<real>150.20307617187498</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>259.9015380859375</real>
					<key>y</key>
					<real>626.1484619140625</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>150.20307617187498</real>
					<key>height</key>
					<real>150.20307617187498</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>770.6515380859374</real>
					<key>y</key>
					<real>626.1484619140625</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>150.20307617187498</real>
					<key>height</key>
					<real>150.20307617187498</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>259.9015380859375</real>
					<key>y</key>
					<real>307.74846191406255</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>150.20307617187498</real>
					<key>height</key>
					<real>150.20307617187498</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>770.6515380859374</real>
					<key>y</key>
					<real>307.74846191406255</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>149.99804077148437</real>
					<key>height</key>
					<real>149.99804077148437</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>941.0490203857421</real>
					<key>y</key>
					<real>626.1509796142578</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>150.20307617187498</real>
					<key>height</key>
					<real>150.20307617187498</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>430.1515380859375</real>
					<key>y</key>
					<real>307.74846191406255</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>150.20307617187498</real>
					<key>height</key>
					<real>150.20307617187498</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>941.0515380859375</real>
					<key>y</key>
					<real>307.74846191406255</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>150.20307617187498</real>
					<key>height</key>
					<real>150.20307617187498</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>430.1515380859375</real>
					<key>y</key>
					<real>626.1484619140625</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>150.20307617187498</real>
					<key>height</key>
					<real>150.20307617187498</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>89.65153808593749</real>
					<key>y</key>
					<real>466.99846191406255</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>150.20307617187498</real>
					<key>height</key>
					<real>150.20307617187498</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>600.4015380859374</real>
					<key>y</key>
					<real>466.99846191406255</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>150.20307617187498</real>
					<key>height</key>
					<real>150.20307617187498</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>89.65153808593749</real>
					<key>y</key>
					<real>148.44846191406248</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>150.20307617187498</real>
					<key>height</key>
					<real>150.20307617187498</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>600.4015380859374</real>
					<key>y</key>
					<real>148.44846191406248</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>150.20307617187498</real>
					<key>height</key>
					<real>150.20307617187498</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>259.9015380859375</real>
					<key>y</key>
					<real>466.99846191406255</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>150.20307617187498</real>
					<key>height</key>
					<real>150.20307617187498</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>770.6515380859374</real>
					<key>y</key>
					<real>466.99846191406255</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>150.20307617187498</real>
					<key>height</key>
					<real>150.20307617187498</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>259.9015380859375</real>
					<key>y</key>
					<real>148.44846191406248</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>150.20307617187498</real>
					<key>height</key>
					<real>150.20307617187498</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>770.6515380859374</real>
					<key>y</key>
					<real>148.44846191406248</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>6</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>150.20307617187498</real>
					<key>height</key>
					<real>150.20307617187498</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>430.1515380859375</real>
					<key>y</key>
					<real>466.99846191406255</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>6</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>150.20307617187498</real>
					<key>height</key>
					<real>150.20307617187498</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>941.0515380859375</real>
					<key>y</key>
					<real>466.99846191406255</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>6</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>150.20307617187498</real>
					<key>height</key>
					<real>150.20307617187498</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>430.1515380859375</real>
					<key>y</key>
					<real>148.44846191406248</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>6</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>150.20307617187498</real>
					<key>height</key>
					<real>150.20307617187498</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>941.0515380859375</real>
					<key>y</key>
					<real>148.44846191406248</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
