<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>rb3_bg06.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.50361175537108</real>
					<key>height</key>
					<real>142.87533721923828</real>
					<key>x offset</key>
					<real>1.1506095886230412</real>
					<key>y offset</key>
					<real>1.1536109924316378</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>140.202392578125</real>
					<key>height</key>
					<real>140.568115234375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>75.8511962890625</real>
					<key>y</key>
					<real>385.8159423828125</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.50361175537108</real>
					<key>height</key>
					<real>142.87533721923828</real>
					<key>x offset</key>
					<real>1.1506095886230412</real>
					<key>y offset</key>
					<real>1.1536109924316378</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>140.202392578125</real>
					<key>height</key>
					<real>140.568115234375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>74.9011962890625</real>
					<key>y</key>
					<real>671.7159423828125</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.50361175537108</real>
					<key>height</key>
					<real>142.87533721923828</real>
					<key>x offset</key>
					<real>1.1506095886230412</real>
					<key>y offset</key>
					<real>1.1536109924316378</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>140.202392578125</real>
					<key>height</key>
					<real>140.568115234375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>77.8011962890625</real>
					<key>y</key>
					<real>102.06594238281252</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.50361175537108</real>
					<key>height</key>
					<real>142.87533721923828</real>
					<key>x offset</key>
					<real>1.1506095886230412</real>
					<key>y offset</key>
					<real>1.1536109924316378</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>140.202392578125</real>
					<key>height</key>
					<real>140.568115234375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>652.1511962890625</real>
					<key>y</key>
					<real>101.11594238281248</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.50361175537108</real>
					<key>height</key>
					<real>142.87533721923828</real>
					<key>x offset</key>
					<real>1.6419731140136662</real>
					<key>y offset</key>
					<real>1.6462562561035128</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.21966552734375</real>
					<key>height</key>
					<real>139.58282470703125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>223.00983276367188</real>
					<key>y</key>
					<real>678.7585876464843</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.50361175537108</real>
					<key>height</key>
					<real>142.87533721923828</real>
					<key>x offset</key>
					<real>1.6419731140136662</real>
					<key>y offset</key>
					<real>1.6462562561035128</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.21966552734375</real>
					<key>height</key>
					<real>139.58282470703125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>796.3598327636719</real>
					<key>y</key>
					<real>102.5585876464844</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.50361175537108</real>
					<key>height</key>
					<real>142.87533721923828</real>
					<key>x offset</key>
					<real>1.6419731140136662</real>
					<key>y offset</key>
					<real>1.6462562561035128</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.21966552734375</real>
					<key>height</key>
					<real>139.58282470703125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>942.1598327636718</real>
					<key>y</key>
					<real>392.10858764648435</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.50361175537108</real>
					<key>height</key>
					<real>142.87533721923828</real>
					<key>x offset</key>
					<real>1.6419731140136662</real>
					<key>y offset</key>
					<real>1.6462562561035128</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.21966552734375</real>
					<key>height</key>
					<real>139.58282470703125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>368.80983276367186</real>
					<key>y</key>
					<real>680.7085876464844</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.50361175537108</real>
					<key>height</key>
					<real>142.87533721923828</real>
					<key>x offset</key>
					<real>1.6419731140136662</real>
					<key>y offset</key>
					<real>1.6462562561035128</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.21966552734375</real>
					<key>height</key>
					<real>139.58282470703125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>942.1598327636718</real>
					<key>y</key>
					<real>104.50858764648433</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.50361175537108</real>
					<key>height</key>
					<real>142.87533721923828</real>
					<key>x offset</key>
					<real>1.6419731140136662</real>
					<key>y offset</key>
					<real>1.6462562561035128</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.21966552734375</real>
					<key>height</key>
					<real>139.58282470703125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>942.1598327636718</real>
					<key>y</key>
					<real>677.8085876464844</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.50361175537108</real>
					<key>height</key>
					<real>142.87533721923828</real>
					<key>x offset</key>
					<real>1.6419731140136662</real>
					<key>y offset</key>
					<real>1.6462562561035128</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.21966552734375</real>
					<key>height</key>
					<real>139.58282470703125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>75.35983276367188</real>
					<key>y</key>
					<real>530.1085876464844</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.50361175537108</real>
					<key>height</key>
					<real>142.87533721923828</real>
					<key>x offset</key>
					<real>1.6419731140136662</real>
					<key>y offset</key>
					<real>1.6462562561035128</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.21966552734375</real>
					<key>height</key>
					<real>139.58282470703125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>801.2598327636719</real>
					<key>y</key>
					<real>679.7585876464843</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.50361175537108</real>
					<key>height</key>
					<real>142.87533721923828</real>
					<key>x offset</key>
					<real>1.6419731140136662</real>
					<key>y offset</key>
					<real>1.6462562561035128</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.21966552734375</real>
					<key>height</key>
					<real>139.58282470703125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>76.35983276367188</real>
					<key>y</key>
					<real>244.40858764648436</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.50361175537108</real>
					<key>height</key>
					<real>142.87533721923828</real>
					<key>x offset</key>
					<real>1.6419731140136662</real>
					<key>y offset</key>
					<real>1.6462562561035128</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.21966552734375</real>
					<key>height</key>
					<real>139.58282470703125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>506.8598327636719</real>
					<key>y</key>
					<real>99.65858764648442</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.50361175537108</real>
					<key>height</key>
					<real>142.87533721923828</real>
					<key>x offset</key>
					<real>1.6419731140136662</real>
					<key>y offset</key>
					<real>1.6462562561035128</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.21966552734375</real>
					<key>height</key>
					<real>139.58282470703125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>658.3598327636719</real>
					<key>y</key>
					<real>679.7585876464843</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.50361175537108</real>
					<key>height</key>
					<real>142.87533721923828</real>
					<key>x offset</key>
					<real>1.6419731140136662</real>
					<key>y offset</key>
					<real>1.6462562561035128</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.21966552734375</real>
					<key>height</key>
					<real>139.58282470703125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>363.9598327636719</real>
					<key>y</key>
					<real>99.65858764648442</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.50361175537108</real>
					<key>height</key>
					<real>142.87533721923828</real>
					<key>x offset</key>
					<real>1.6419731140136662</real>
					<key>y offset</key>
					<real>1.6462562561035128</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.21966552734375</real>
					<key>height</key>
					<real>139.58282470703125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>942.1598327636718</real>
					<key>y</key>
					<real>535.9585876464844</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.50361175537108</real>
					<key>height</key>
					<real>142.87533721923828</real>
					<key>x offset</key>
					<real>1.6419731140136662</real>
					<key>y offset</key>
					<real>1.6462562561035128</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.21966552734375</real>
					<key>height</key>
					<real>139.58282470703125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>942.1598327636718</real>
					<key>y</key>
					<real>248.3085876464844</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.50361175537108</real>
					<key>height</key>
					<real>142.87533721923828</real>
					<key>x offset</key>
					<real>1.6419731140136662</real>
					<key>y offset</key>
					<real>1.6462562561035128</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.21966552734375</real>
					<key>height</key>
					<real>139.58282470703125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>516.5098327636719</real>
					<key>y</key>
					<real>679.7585876464843</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>142.50361175537108</real>
					<key>height</key>
					<real>142.87533721923828</real>
					<key>x offset</key>
					<real>1.6419731140136662</real>
					<key>y offset</key>
					<real>1.6462562561035128</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.21966552734375</real>
					<key>height</key>
					<real>139.58282470703125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>222.00983276367188</real>
					<key>y</key>
					<real>100.35858764648435</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
