<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>rb3_bg06.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>147.03069686889648</real>
					<key>height</key>
					<real>147.03069686889648</real>
					<key>x offset</key>
					<real>1.1871623992919922</real>
					<key>y offset</key>
					<real>1.1871623992919922</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>144.6563720703125</real>
					<key>height</key>
					<real>144.6563720703125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>82.97818603515626</real>
					<key>y</key>
					<real>635.4218139648438</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>147.03069686889648</real>
					<key>height</key>
					<real>147.03069686889648</real>
					<key>x offset</key>
					<real>1.1871623992919922</real>
					<key>y offset</key>
					<real>1.1871623992919922</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>144.6563720703125</real>
					<key>height</key>
					<real>144.6563720703125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>593.9781860351562</real>
					<key>y</key>
					<real>635.4218139648438</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>147.03069686889648</real>
					<key>height</key>
					<real>147.03069686889648</real>
					<key>x offset</key>
					<real>1.1871623992919922</real>
					<key>y offset</key>
					<real>1.1871623992919922</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>144.6563720703125</real>
					<key>height</key>
					<real>144.6563720703125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>86.97818603515626</real>
					<key>y</key>
					<real>321.92181396484375</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>147.03069686889648</real>
					<key>height</key>
					<real>147.03069686889648</real>
					<key>x offset</key>
					<real>1.1871623992919922</real>
					<key>y offset</key>
					<real>1.1871623992919922</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>144.6563720703125</real>
					<key>height</key>
					<real>144.6563720703125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>597.9781860351562</real>
					<key>y</key>
					<real>321.92181396484375</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>147.03069686889648</real>
					<key>height</key>
					<real>147.03069686889648</real>
					<key>x offset</key>
					<real>1.6941356658935547</real>
					<key>y offset</key>
					<real>1.6941356658935547</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.64242553710938</real>
					<key>height</key>
					<real>143.64242553710938</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>253.1212127685547</real>
					<key>y</key>
					<real>635.9287872314453</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>147.03069686889648</real>
					<key>height</key>
					<real>147.03069686889648</real>
					<key>x offset</key>
					<real>1.6941356658935547</real>
					<key>y offset</key>
					<real>1.6941356658935547</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.64242553710938</real>
					<key>height</key>
					<real>143.64242553710938</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>764.1212127685546</real>
					<key>y</key>
					<real>635.9287872314453</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>147.03069686889648</real>
					<key>height</key>
					<real>147.03069686889648</real>
					<key>x offset</key>
					<real>1.6941356658935547</real>
					<key>y offset</key>
					<real>1.6941356658935547</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.64242553710938</real>
					<key>height</key>
					<real>143.64242553710938</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>257.1212127685547</real>
					<key>y</key>
					<real>322.4287872314453</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>147.03069686889648</real>
					<key>height</key>
					<real>147.03069686889648</real>
					<key>x offset</key>
					<real>1.6941356658935547</real>
					<key>y offset</key>
					<real>1.6941356658935547</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.64242553710938</real>
					<key>height</key>
					<real>143.64242553710938</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>768.1212127685546</real>
					<key>y</key>
					<real>322.4287872314453</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>147.03069686889648</real>
					<key>height</key>
					<real>147.03069686889648</real>
					<key>x offset</key>
					<real>1.6941356658935547</real>
					<key>y offset</key>
					<real>1.6941356658935547</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.64242553710938</real>
					<key>height</key>
					<real>143.64242553710938</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>934.8212127685547</real>
					<key>y</key>
					<real>635.9287872314453</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>147.03069686889648</real>
					<key>height</key>
					<real>147.03069686889648</real>
					<key>x offset</key>
					<real>1.6941356658935547</real>
					<key>y offset</key>
					<real>1.6941356658935547</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.64242553710938</real>
					<key>height</key>
					<real>143.64242553710938</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>427.8212127685547</real>
					<key>y</key>
					<real>322.4287872314453</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>147.03069686889648</real>
					<key>height</key>
					<real>147.03069686889648</real>
					<key>x offset</key>
					<real>1.6941356658935547</real>
					<key>y offset</key>
					<real>1.6941356658935547</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.64242553710938</real>
					<key>height</key>
					<real>143.64242553710938</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>938.8212127685547</real>
					<key>y</key>
					<real>322.4287872314453</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>147.03069686889648</real>
					<key>height</key>
					<real>147.03069686889648</real>
					<key>x offset</key>
					<real>1.6941356658935547</real>
					<key>y offset</key>
					<real>1.6941356658935547</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.64242553710938</real>
					<key>height</key>
					<real>143.64242553710938</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>423.8212127685547</real>
					<key>y</key>
					<real>635.9287872314453</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>147.03069686889648</real>
					<key>height</key>
					<real>147.03069686889648</real>
					<key>x offset</key>
					<real>1.6941356658935547</real>
					<key>y offset</key>
					<real>1.6941356658935547</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.64242553710938</real>
					<key>height</key>
					<real>143.64242553710938</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>82.4712127685547</real>
					<key>y</key>
					<real>482.1787872314453</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>147.03069686889648</real>
					<key>height</key>
					<real>147.03069686889648</real>
					<key>x offset</key>
					<real>1.6941356658935547</real>
					<key>y offset</key>
					<real>1.6941356658935547</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.64242553710938</real>
					<key>height</key>
					<real>143.64242553710938</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>593.4712127685547</real>
					<key>y</key>
					<real>482.1787872314453</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>147.03069686889648</real>
					<key>height</key>
					<real>147.03069686889648</real>
					<key>x offset</key>
					<real>1.6941356658935547</real>
					<key>y offset</key>
					<real>1.6941356658935547</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.64242553710938</real>
					<key>height</key>
					<real>143.64242553710938</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>86.4712127685547</real>
					<key>y</key>
					<real>158.6787872314453</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>147.03069686889648</real>
					<key>height</key>
					<real>147.03069686889648</real>
					<key>x offset</key>
					<real>1.6941356658935547</real>
					<key>y offset</key>
					<real>1.6941356658935547</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.64242553710938</real>
					<key>height</key>
					<real>143.64242553710938</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>597.4712127685547</real>
					<key>y</key>
					<real>158.6787872314453</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>147.03069686889648</real>
					<key>height</key>
					<real>147.03069686889648</real>
					<key>x offset</key>
					<real>1.6941356658935547</real>
					<key>y offset</key>
					<real>1.6941356658935547</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.64242553710938</real>
					<key>height</key>
					<real>143.64242553710938</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>253.1212127685547</real>
					<key>y</key>
					<real>482.1787872314453</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>147.03069686889648</real>
					<key>height</key>
					<real>147.03069686889648</real>
					<key>x offset</key>
					<real>1.6941356658935547</real>
					<key>y offset</key>
					<real>1.6941356658935547</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.64242553710938</real>
					<key>height</key>
					<real>143.64242553710938</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>764.1212127685546</real>
					<key>y</key>
					<real>482.1787872314453</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>147.03069686889648</real>
					<key>height</key>
					<real>147.03069686889648</real>
					<key>x offset</key>
					<real>1.6941356658935547</real>
					<key>y offset</key>
					<real>1.6941356658935547</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.64242553710938</real>
					<key>height</key>
					<real>143.64242553710938</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>257.1212127685547</real>
					<key>y</key>
					<real>158.6787872314453</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>147.03069686889648</real>
					<key>height</key>
					<real>147.03069686889648</real>
					<key>x offset</key>
					<real>1.6941356658935547</real>
					<key>y offset</key>
					<real>1.6941356658935547</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.64242553710938</real>
					<key>height</key>
					<real>143.64242553710938</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>768.1212127685546</real>
					<key>y</key>
					<real>158.6787872314453</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>147.03069686889648</real>
					<key>height</key>
					<real>147.03069686889648</real>
					<key>x offset</key>
					<real>1.6941356658935547</real>
					<key>y offset</key>
					<real>1.6941356658935547</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.64242553710938</real>
					<key>height</key>
					<real>143.64242553710938</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>423.8212127685547</real>
					<key>y</key>
					<real>482.1787872314453</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>147.03069686889648</real>
					<key>height</key>
					<real>147.03069686889648</real>
					<key>x offset</key>
					<real>1.6941356658935547</real>
					<key>y offset</key>
					<real>1.6941356658935547</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.64242553710938</real>
					<key>height</key>
					<real>143.64242553710938</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>934.8212127685547</real>
					<key>y</key>
					<real>482.1787872314453</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>147.03069686889648</real>
					<key>height</key>
					<real>147.03069686889648</real>
					<key>x offset</key>
					<real>1.6941356658935547</real>
					<key>y offset</key>
					<real>1.6941356658935547</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.64242553710938</real>
					<key>height</key>
					<real>143.64242553710938</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>427.8212127685547</real>
					<key>y</key>
					<real>158.6787872314453</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>147.03069686889648</real>
					<key>height</key>
					<real>147.03069686889648</real>
					<key>x offset</key>
					<real>1.6941356658935547</real>
					<key>y offset</key>
					<real>1.6941356658935547</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>143.64242553710938</real>
					<key>height</key>
					<real>143.64242553710938</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>938.8212127685547</real>
					<key>y</key>
					<real>158.6787872314453</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
