<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>rb3_bg05.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>169.01560287475584</real>
					<key>height</key>
					<real>169.01560287475584</real>
					<key>x offset</key>
					<real>1.9474529266357337</real>
					<key>y offset</key>
					<real>1.9474529266357337</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>165.12069702148438</real>
					<key>height</key>
					<real>165.12069702148438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>522.6603485107422</real>
					<key>y</key>
					<real>438.98965148925777</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>169.01560287475584</real>
					<key>height</key>
					<real>169.01560287475584</real>
					<key>x offset</key>
					<real>1.9474529266357337</real>
					<key>y offset</key>
					<real>1.9474529266357337</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>165.12069702148438</real>
					<key>height</key>
					<real>165.12069702148438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>860.1103485107421</real>
					<key>y</key>
					<real>602.2396514892578</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>169.01560287475584</real>
					<key>height</key>
					<real>169.01560287475584</real>
					<key>x offset</key>
					<real>1.9474529266357337</real>
					<key>y offset</key>
					<real>1.9474529266357337</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>165.12069702148438</real>
					<key>height</key>
					<real>165.12069702148438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>860.1103485107421</real>
					<key>y</key>
					<real>436.1896514892578</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>169.01560287475584</real>
					<key>height</key>
					<real>169.01560287475584</real>
					<key>x offset</key>
					<real>1.9474529266357337</real>
					<key>y offset</key>
					<real>1.9474529266357337</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>165.12069702148438</real>
					<key>height</key>
					<real>165.12069702148438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>860.1103485107421</real>
					<key>y</key>
					<real>270.5896514892578</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>169.01560287475584</real>
					<key>height</key>
					<real>169.01560287475584</real>
					<key>x offset</key>
					<real>1.9474529266357337</real>
					<key>y offset</key>
					<real>1.9474529266357337</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>165.12069702148438</real>
					<key>height</key>
					<real>165.12069702148438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>860.1103485107421</real>
					<key>y</key>
					<real>104.53965148925784</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>169.01560287475584</real>
					<key>height</key>
					<real>169.01560287475584</real>
					<key>x offset</key>
					<real>1.3646739959716712</real>
					<key>y offset</key>
					<real>1.3646739959716712</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>166.2862548828125</real>
					<key>height</key>
					<real>166.2862548828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>181.39312744140625</real>
					<key>y</key>
					<real>103.45687255859377</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>169.01560287475584</real>
					<key>height</key>
					<real>169.01560287475584</real>
					<key>x offset</key>
					<real>1.3646739959716712</real>
					<key>y offset</key>
					<real>1.3646739959716712</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>166.2862548828125</real>
					<key>height</key>
					<real>166.2862548828125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>181.39312744140625</real>
					<key>y</key>
					<real>269.5068725585937</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>394.59985580444334</real>
					<key>height</key>
					<real>394.4803726196289</real>
					<key>x offset</key>
					<real>3.1860973358154183</real>
					<key>y offset</key>
					<real>3.1851325988769474</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>388.2276611328125</real>
					<key>height</key>
					<real>388.110107421875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>230.81383056640624</real>
					<key>y</key>
					<real>563.1449462890625</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>169.01560287475584</real>
					<key>height</key>
					<real>169.01560287475584</real>
					<key>x offset</key>
					<real>1.9474529266357337</real>
					<key>y offset</key>
					<real>1.9474529266357337</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>165.12069702148438</real>
					<key>height</key>
					<real>165.12069702148438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>351.7603485107422</real>
					<key>y</key>
					<real>104.03965148925784</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>169.01560287475584</real>
					<key>height</key>
					<real>169.01560287475584</real>
					<key>x offset</key>
					<real>1.9474529266357337</real>
					<key>y offset</key>
					<real>1.9474529266357337</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>165.12069702148438</real>
					<key>height</key>
					<real>165.12069702148438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>351.7603485107422</real>
					<key>y</key>
					<real>270.0896514892578</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>169.01560287475584</real>
					<key>height</key>
					<real>169.01560287475584</real>
					<key>x offset</key>
					<real>1.9474529266357337</real>
					<key>y offset</key>
					<real>1.9474529266357337</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>165.12069702148438</real>
					<key>height</key>
					<real>165.12069702148438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>522.6603485107422</real>
					<key>y</key>
					<real>104.03965148925784</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>169.01560287475584</real>
					<key>height</key>
					<real>169.01560287475584</real>
					<key>x offset</key>
					<real>1.9474529266357337</real>
					<key>y offset</key>
					<real>1.9474529266357337</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>165.12069702148438</real>
					<key>height</key>
					<real>165.12069702148438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>522.6603485107422</real>
					<key>y</key>
					<real>270.0896514892578</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>169.01560287475584</real>
					<key>height</key>
					<real>169.01560287475584</real>
					<key>x offset</key>
					<real>1.9474529266357337</real>
					<key>y offset</key>
					<real>1.9474529266357337</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>165.12069702148438</real>
					<key>height</key>
					<real>165.12069702148438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>691.1103485107421</real>
					<key>y</key>
					<real>270.5896514892578</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>169.01560287475584</real>
					<key>height</key>
					<real>169.01560287475584</real>
					<key>x offset</key>
					<real>1.9474529266357337</real>
					<key>y offset</key>
					<real>1.9474529266357337</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>165.12069702148438</real>
					<key>height</key>
					<real>165.12069702148438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>691.1103485107421</real>
					<key>y</key>
					<real>436.63965148925786</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>169.01560287475584</real>
					<key>height</key>
					<real>169.01560287475584</real>
					<key>x offset</key>
					<real>1.9474529266357337</real>
					<key>y offset</key>
					<real>1.9474529266357337</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>165.12069702148438</real>
					<key>height</key>
					<real>165.12069702148438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>691.1103485107421</real>
					<key>y</key>
					<real>104.53965148925784</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>169.01560287475584</real>
					<key>height</key>
					<real>169.01560287475584</real>
					<key>x offset</key>
					<real>1.9474529266357337</real>
					<key>y offset</key>
					<real>1.9474529266357337</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>165.12069702148438</real>
					<key>height</key>
					<real>165.12069702148438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>524.0103485107422</real>
					<key>y</key>
					<real>603.5896514892578</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>169.01560287475584</real>
					<key>height</key>
					<real>169.01560287475584</real>
					<key>x offset</key>
					<real>1.9474529266357337</real>
					<key>y offset</key>
					<real>1.9474529266357337</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>165.12069702148438</real>
					<key>height</key>
					<real>165.12069702148438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>691.1103485107421</real>
					<key>y</key>
					<real>602.6896514892578</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
