<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>rb3_bg04.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>182.75616912841795</real>
					<key>height</key>
					<real>182.676513671875</real>
					<key>x offset</key>
					<real>1.4756187438964758</real>
					<key>y offset</key>
					<real>1.4749755859375</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>179.804931640625</real>
					<key>height</key>
					<real>179.7265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>726.9024658203125</real>
					<key>y</key>
					<real>95.58671875000005</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>182.7296173095703</real>
					<key>height</key>
					<real>182.70306549072265</real>
					<key>x offset</key>
					<real>1.4754043579101506</real>
					<key>y offset</key>
					<real>1.4751899719238253</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>179.77880859375</real>
					<key>height</key>
					<real>179.752685546875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>178.389404296875</real>
					<key>y</key>
					<real>673.9736572265625</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>182.7296173095703</real>
					<key>height</key>
					<real>182.7296173095703</real>
					<key>x offset</key>
					<real>1.4754043579101506</real>
					<key>y offset</key>
					<real>1.4754043579101506</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>179.77880859375</real>
					<key>height</key>
					<real>179.77880859375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>98.389404296875</real>
					<key>y</key>
					<real>478.860595703125</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>182.75616912841795</real>
					<key>height</key>
					<real>182.676513671875</real>
					<key>x offset</key>
					<real>1.4756187438964758</real>
					<key>y offset</key>
					<real>1.4749755859375</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>179.804931640625</real>
					<key>height</key>
					<real>179.7265625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>826.9024658203125</real>
					<key>y</key>
					<real>290.83671875</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>182.75616912841795</real>
					<key>height</key>
					<real>182.7296173095703</real>
					<key>x offset</key>
					<real>2.105776214599601</real>
					<key>y offset</key>
					<real>2.1054702758789006</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>178.54461669921875</real>
					<key>height</key>
					<real>178.5186767578125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>289.5223083496094</real>
					<key>y</key>
					<real>479.49066162109375</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>182.7694450378418</real>
					<key>height</key>
					<real>182.71634140014646</real>
					<key>x offset</key>
					<real>2.105929183959958</real>
					<key>y offset</key>
					<real>2.1053173065185433</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>178.55758666992188</real>
					<key>height</key>
					<real>178.50570678710938</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>157.52879333496094</real>
					<key>y</key>
					<real>291.4471466064453</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>182.75616912841795</real>
					<key>height</key>
					<real>182.676513671875</real>
					<key>x offset</key>
					<real>2.105776214599601</real>
					<key>y offset</key>
					<real>2.1048583984375</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>178.54461669921875</real>
					<key>height</key>
					<real>178.466796875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>927.2723083496094</real>
					<key>y</key>
					<real>479.5166015625</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>182.7694450378418</real>
					<key>height</key>
					<real>182.7296173095703</real>
					<key>x offset</key>
					<real>2.105929183959958</real>
					<key>y offset</key>
					<real>2.1054702758789006</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>178.55758666992188</real>
					<key>height</key>
					<real>178.5186767578125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>827.2787933349609</real>
					<key>y</key>
					<real>675.7906616210937</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>182.7694450378418</real>
					<key>height</key>
					<real>182.7296173095703</real>
					<key>x offset</key>
					<real>2.105929183959958</real>
					<key>y offset</key>
					<real>2.1054702758789006</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>178.55758666992188</real>
					<key>height</key>
					<real>178.5186767578125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>309.27879333496094</real>
					<key>y</key>
					<real>96.1906616210938</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>182.75616912841795</real>
					<key>height</key>
					<real>182.676513671875</real>
					<key>x offset</key>
					<real>2.105776214599601</real>
					<key>y offset</key>
					<real>2.1048583984375</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>178.54461669921875</real>
					<key>height</key>
					<real>178.466796875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>603.3223083496093</real>
					<key>y</key>
					<real>291.4666015625</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>182.7694450378418</real>
					<key>height</key>
					<real>182.7296173095703</real>
					<key>x offset</key>
					<real>2.105929183959958</real>
					<key>y offset</key>
					<real>2.1054702758789006</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>178.55758666992188</real>
					<key>height</key>
					<real>178.5186767578125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>733.0287933349609</real>
					<key>y</key>
					<real>479.49066162109375</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>182.7694450378418</real>
					<key>height</key>
					<real>182.7296173095703</real>
					<key>x offset</key>
					<real>2.105929183959958</real>
					<key>y offset</key>
					<real>2.1054702758789006</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>178.55758666992188</real>
					<key>height</key>
					<real>178.5186767578125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>380.4287933349609</real>
					<key>y</key>
					<real>291.44066162109374</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>182.7694450378418</real>
					<key>height</key>
					<real>182.7296173095703</real>
					<key>x offset</key>
					<real>2.105929183959958</real>
					<key>y offset</key>
					<real>2.1054702758789006</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>178.55758666992188</real>
					<key>height</key>
					<real>178.5186767578125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>517.7787933349609</real>
					<key>y</key>
					<real>96.1906616210938</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
