<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>rb3_bg05.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.18068313598633</real>
					<key>height</key>
					<real>143.18068313598633</real>
					<key>x offset</key>
					<real>1.6497745513916016</real>
					<key>y offset</key>
					<real>1.6497745513916016</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.88113403320312</real>
					<key>height</key>
					<real>139.88113403320312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>944.8405670166015</real>
					<key>y</key>
					<real>88.35943298339839</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.18068313598633</real>
					<key>height</key>
					<real>143.18068313598633</real>
					<key>x offset</key>
					<real>1.6497745513916016</real>
					<key>y offset</key>
					<real>1.6497745513916016</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.88113403320312</real>
					<key>height</key>
					<real>139.88113403320312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>944.8405670166015</real>
					<key>y</key>
					<real>682.9594329833984</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.18068313598633</real>
					<key>height</key>
					<real>143.18068313598633</real>
					<key>x offset</key>
					<real>1.6497745513916016</real>
					<key>y offset</key>
					<real>1.6497745513916016</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.88113403320312</real>
					<key>height</key>
					<real>139.88113403320312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>944.8405670166015</real>
					<key>y</key>
					<real>534.2094329833984</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.18068313598633</real>
					<key>height</key>
					<real>143.18068313598633</real>
					<key>x offset</key>
					<real>1.6497745513916016</real>
					<key>y offset</key>
					<real>1.6497745513916016</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.88113403320312</real>
					<key>height</key>
					<real>139.88113403320312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>944.8405670166015</real>
					<key>y</key>
					<real>385.85943298339845</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.18068313598633</real>
					<key>height</key>
					<real>143.18068313598633</real>
					<key>x offset</key>
					<real>1.6497745513916016</real>
					<key>y offset</key>
					<real>1.6497745513916016</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.88113403320312</real>
					<key>height</key>
					<real>139.88113403320312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>944.8405670166015</real>
					<key>y</key>
					<real>237.10943298339845</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.18068313598633</real>
					<key>height</key>
					<real>143.18068313598633</real>
					<key>x offset</key>
					<real>1.156076431274414</real>
					<key>y offset</key>
					<real>1.156076431274414</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>140.8685302734375</real>
					<key>height</key>
					<real>140.8685302734375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>81.78426513671874</real>
					<key>y</key>
					<real>87.8657348632812</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.18068313598633</real>
					<key>height</key>
					<real>143.18068313598633</real>
					<key>x offset</key>
					<real>1.156076431274414</real>
					<key>y offset</key>
					<real>1.156076431274414</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>140.8685302734375</real>
					<key>height</key>
					<real>140.8685302734375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>81.78426513671874</real>
					<key>y</key>
					<real>236.61573486328126</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.52585678100584</real>
					<key>height</key>
					<real>143.27361450195312</real>
					<key>x offset</key>
					<real>1.1588634490966712</real>
					<key>y offset</key>
					<real>1.1568267822265597</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>141.2081298828125</real>
					<key>height</key>
					<real>140.9599609375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>81.30406494140625</real>
					<key>y</key>
					<real>683.22001953125</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.18068313598633</real>
					<key>height</key>
					<real>143.18068313598633</real>
					<key>x offset</key>
					<real>1.156076431274414</real>
					<key>y offset</key>
					<real>1.156076431274414</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>140.8685302734375</real>
					<key>height</key>
					<real>140.8685302734375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>81.78426513671874</real>
					<key>y</key>
					<real>534.1657348632813</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.18068313598633</real>
					<key>height</key>
					<real>143.18068313598633</real>
					<key>x offset</key>
					<real>1.156076431274414</real>
					<key>y offset</key>
					<real>1.156076431274414</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>140.8685302734375</real>
					<key>height</key>
					<real>140.8685302734375</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>81.78426513671874</real>
					<key>y</key>
					<real>385.36573486328126</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.18068313598633</real>
					<key>height</key>
					<real>143.18068313598633</real>
					<key>x offset</key>
					<real>1.6497745513916016</real>
					<key>y offset</key>
					<real>1.6497745513916016</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.88113403320312</real>
					<key>height</key>
					<real>139.88113403320312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>297.14056701660155</real>
					<key>y</key>
					<real>88.35943298339839</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.18068313598633</real>
					<key>height</key>
					<real>143.18068313598633</real>
					<key>x offset</key>
					<real>1.6497745513916016</real>
					<key>y offset</key>
					<real>1.6497745513916016</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.88113403320312</real>
					<key>height</key>
					<real>139.88113403320312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>297.14056701660155</real>
					<key>y</key>
					<real>534.6594329833985</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.18068313598633</real>
					<key>height</key>
					<real>143.18068313598633</real>
					<key>x offset</key>
					<real>1.6497745513916016</real>
					<key>y offset</key>
					<real>1.6497745513916016</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.88113403320312</real>
					<key>height</key>
					<real>139.88113403320312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>296.7905670166016</real>
					<key>y</key>
					<real>683.7094329833984</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.18068313598633</real>
					<key>height</key>
					<real>143.18068313598633</real>
					<key>x offset</key>
					<real>1.6497745513916016</real>
					<key>y offset</key>
					<real>1.6497745513916016</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.88113403320312</real>
					<key>height</key>
					<real>139.88113403320312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>297.14056701660155</real>
					<key>y</key>
					<real>237.10943298339845</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.18068313598633</real>
					<key>height</key>
					<real>143.18068313598633</real>
					<key>x offset</key>
					<real>1.6497745513916016</real>
					<key>y offset</key>
					<real>1.6497745513916016</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.88113403320312</real>
					<key>height</key>
					<real>139.88113403320312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>297.14056701660155</real>
					<key>y</key>
					<real>385.85943298339845</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.18068313598633</real>
					<key>height</key>
					<real>143.18068313598633</real>
					<key>x offset</key>
					<real>1.6497745513916016</real>
					<key>y offset</key>
					<real>1.6497745513916016</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.88113403320312</real>
					<key>height</key>
					<real>139.88113403320312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>512.7905670166016</real>
					<key>y</key>
					<real>683.4094329833985</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.18068313598633</real>
					<key>height</key>
					<real>143.18068313598633</real>
					<key>x offset</key>
					<real>1.6497745513916016</real>
					<key>y offset</key>
					<real>1.6497745513916016</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.88113403320312</real>
					<key>height</key>
					<real>139.88113403320312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>512.9905670166015</real>
					<key>y</key>
					<real>534.6594329833985</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.18068313598633</real>
					<key>height</key>
					<real>143.18068313598633</real>
					<key>x offset</key>
					<real>1.6497745513916016</real>
					<key>y offset</key>
					<real>1.6497745513916016</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.88113403320312</real>
					<key>height</key>
					<real>139.88113403320312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>512.9905670166015</real>
					<key>y</key>
					<real>88.35943298339839</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.18068313598633</real>
					<key>height</key>
					<real>143.18068313598633</real>
					<key>x offset</key>
					<real>1.6497745513916016</real>
					<key>y offset</key>
					<real>1.6497745513916016</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.88113403320312</real>
					<key>height</key>
					<real>139.88113403320312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>512.9905670166015</real>
					<key>y</key>
					<real>237.10943298339845</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.18068313598633</real>
					<key>height</key>
					<real>143.18068313598633</real>
					<key>x offset</key>
					<real>1.6497745513916016</real>
					<key>y offset</key>
					<real>1.6497745513916016</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.88113403320312</real>
					<key>height</key>
					<real>139.88113403320312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>512.9905670166015</real>
					<key>y</key>
					<real>385.85943298339845</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.18068313598633</real>
					<key>height</key>
					<real>143.18068313598633</real>
					<key>x offset</key>
					<real>1.6497745513916016</real>
					<key>y offset</key>
					<real>1.6497745513916016</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.88113403320312</real>
					<key>height</key>
					<real>139.88113403320312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>728.8405670166015</real>
					<key>y</key>
					<real>385.85943298339845</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.18068313598633</real>
					<key>height</key>
					<real>143.18068313598633</real>
					<key>x offset</key>
					<real>1.6497745513916016</real>
					<key>y offset</key>
					<real>1.6497745513916016</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.88113403320312</real>
					<key>height</key>
					<real>139.88113403320312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>728.8405670166015</real>
					<key>y</key>
					<real>534.6594329833985</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.18068313598633</real>
					<key>height</key>
					<real>143.18068313598633</real>
					<key>x offset</key>
					<real>1.6497745513916016</real>
					<key>y offset</key>
					<real>1.6497745513916016</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.88113403320312</real>
					<key>height</key>
					<real>139.88113403320312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>728.8405670166015</real>
					<key>y</key>
					<real>237.10943298339845</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.18068313598633</real>
					<key>height</key>
					<real>143.18068313598633</real>
					<key>x offset</key>
					<real>1.6497745513916016</real>
					<key>y offset</key>
					<real>1.6497745513916016</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.88113403320312</real>
					<key>height</key>
					<real>139.88113403320312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>728.8405670166015</real>
					<key>y</key>
					<real>88.35943298339839</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>143.18068313598633</real>
					<key>height</key>
					<real>143.18068313598633</real>
					<key>x offset</key>
					<real>1.6497745513916016</real>
					<key>y offset</key>
					<real>1.6497745513916016</real>
				</dict>
				<key>mask</key>
				<string>frame_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>139.88113403320312</real>
					<key>height</key>
					<real>139.88113403320312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>728.7905670166016</real>
					<key>y</key>
					<real>683.4094329833985</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
