<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Master</key>
	<array>
		<dict>
			<key>preset</key>
			<string>room</string>
			<key>type</key>
			<string>reverb</string>
		</dict>
		<dict>
			<key>attack</key>
			<integer>1</integer>
			<key>gainmakeup</key>
			<integer>0</integer>
			<key>release</key>
			<integer>300</integer>
			<key>threshold</key>
			<integer>-2</integer>
			<key>type</key>
			<string>compressor</string>
		</dict>
		<string>MIAMI</string>
	</array>
	<key>Samples</key>
	<array>
		<array>
			<integer>-9</integer>
			<string>kick</string>
			<dict>
				<key>bandwidth</key>
				<integer>3</integer>
				<key>center</key>
				<integer>65</integer>
				<key>gain</key>
				<integer>3</integer>
				<key>type</key>
				<string>eq</string>
			</dict>
		</array>
		<array>
			<integer>-15</integer>
			<string>kick 1</string>
			<dict>
				<key>cutoff</key>
				<integer>200</integer>
				<key>resonance</key>
				<integer>1</integer>
				<key>type</key>
				<string>lowpass</string>
			</dict>
			<dict>
				<key>cutoff</key>
				<integer>40</integer>
				<key>resonance</key>
				<integer>1</integer>
				<key>type</key>
				<string>highpass</string>
			</dict>
			<dict>
				<key>bandwidth</key>
				<integer>3</integer>
				<key>center</key>
				<integer>65</integer>
				<key>gain</key>
				<integer>3</integer>
				<key>type</key>
				<string>eq</string>
			</dict>
		</array>
		<array>
			<string>snare</string>
			<integer>-4</integer>
			<dict>
				<key>bandwidth</key>
				<integer>5</integer>
				<key>center</key>
				<integer>100</integer>
				<key>gain</key>
				<real>-0.5</real>
				<key>type</key>
				<string>eq</string>
			</dict>
			<dict>
				<key>bandwidth</key>
				<integer>3</integer>
				<key>center</key>
				<integer>1100</integer>
				<key>gain</key>
				<integer>1</integer>
				<key>type</key>
				<string>eq</string>
			</dict>
			<dict>
				<key>decayratio</key>
				<real>0.1</real>
				<key>delay</key>
				<integer>100</integer>
				<key>drymix</key>
				<integer>1</integer>
				<key>type</key>
				<string>echo</string>
				<key>wetmix</key>
				<real>0.2</real>
			</dict>
			<dict>
				<key>level</key>
				<real>0.4</real>
				<key>type</key>
				<string>distortion</string>
			</dict>
		</array>
		<array>
			<string>cymbal</string>
			<integer>-6</integer>
			<dict>
				<key>cutoff</key>
				<integer>400</integer>
				<key>resonance</key>
				<integer>1</integer>
				<key>type</key>
				<string>highpass</string>
			</dict>
		</array>
		<array>
			<string>mi</string>
			<integer>-5</integer>
			<dict>
				<key>cutoff</key>
				<integer>400</integer>
				<key>resonance</key>
				<integer>1</integer>
				<key>type</key>
				<string>highpass</string>
			</dict>
		</array>
		<array>
			<string>mi 1</string>
			<integer>-10</integer>
			<dict>
				<key>delay</key>
				<integer>40</integer>
				<key>depth</key>
				<real>0.03</real>
				<key>drymix</key>
				<integer>1</integer>
				<key>feedback</key>
				<integer>0</integer>
				<key>rate</key>
				<real>0.8</real>
				<key>type</key>
				<string>chorus</string>
				<key>wetmix1</key>
				<string>cc05 0 0.5</string>
				<key>wetmix2</key>
				<string>cc05 0 0.5</string>
				<key>wetmix3</key>
				<string>cc05 0 0.5</string>
			</dict>
			<dict>
				<key>level</key>
				<real>0.3</real>
				<key>type</key>
				<string>distortion</string>
			</dict>
			<dict>
				<key>cutoff</key>
				<integer>60</integer>
				<key>resonance</key>
				<integer>1</integer>
				<key>type</key>
				<string>highpass</string>
			</dict>
			<dict>
				<key>bandwidth</key>
				<integer>2</integer>
				<key>center</key>
				<integer>65</integer>
				<key>gain</key>
				<integer>1</integer>
				<key>type</key>
				<string>eq</string>
			</dict>
		</array>
		<array>
			<string>a</string>
			<integer>-5</integer>
		</array>
		<array>
			<string>a 1</string>
			<integer>-7</integer>
			<dict>
				<key>depth</key>
				<integer>1</integer>
				<key>rate</key>
				<real>0.2</real>
				<key>type</key>
				<string>flange</string>
			</dict>
		</array>
		<array>
			<string>me</string>
			<integer>-5</integer>
		</array>
	</array>
</dict>
</plist>
