<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Master</key>
	<array>
		<string>saxyname</string>
		<dict>
			<key>preset</key>
			<string>hall</string>
			<key>type</key>
			<string>reverb</string>
		</dict>
		<dict>
			<key>attack</key>
			<integer>1</integer>
			<key>gainmakeup</key>
			<integer>0</integer>
			<key>release</key>
			<integer>300</integer>
			<key>threshold</key>
			<integer>-2</integer>
			<key>type</key>
			<string>compressor</string>
		</dict>
	</array>
	<key>Samples</key>
	<array>
		<array>
			<string>kick</string>
			<integer>-8</integer>
		</array>
		<array>
			<string>kick 1</string>
			<integer>-11</integer>
			<dict>
				<key>bandwidth</key>
				<integer>2</integer>
				<key>center</key>
				<integer>65</integer>
				<key>gain</key>
				<integer>3</integer>
				<key>type</key>
				<string>eq</string>
			</dict>
			<dict>
				<key>cutoff</key>
				<integer>40</integer>
				<key>resonance</key>
				<integer>1</integer>
				<key>type</key>
				<string>highpass</string>
			</dict>
			<dict>
				<key>cutoff</key>
				<integer>400</integer>
				<key>resonance</key>
				<integer>1</integer>
				<key>type</key>
				<string>lowpass</string>
			</dict>
		</array>
		<array>
			<integer>-7</integer>
			<string>snare</string>
		</array>
		<array>
			<integer>-7</integer>
			<string>cymbal</string>
		</array>
		<array>
			<integer>-9</integer>
			<string>harmony</string>
		</array>
		<array>
			<integer>-10</integer>
			<string>harmony</string>
		</array>
		<array>
			<integer>-5</integer>
			<string>sax</string>
			<dict>
				<key>decayratio</key>
				<real>0.25</real>
				<key>delay</key>
				<integer>200</integer>
				<key>drymix</key>
				<integer>1</integer>
				<key>type</key>
				<string>echo</string>
				<key>wetmix</key>
				<real>0.4</real>
			</dict>
		</array>
		<array>
			<integer>-4</integer>
			<string>name</string>
			<dict>
				<key>decayratio</key>
				<real>0.25</real>
				<key>delay</key>
				<integer>200</integer>
				<key>drymix</key>
				<integer>1</integer>
				<key>type</key>
				<string>echo</string>
				<key>wetmix</key>
				<string>cc01 0 0.4</string>
			</dict>
		</array>
	</array>
</dict>
</plist>
