<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>256.00866546630857</real>
					<key>height</key>
					<real>256.00866546630857</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>384.0043327331543</real>
					<key>y</key>
					<real>127.99566726684571</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>256.00866546630857</real>
					<key>height</key>
					<real>256.00866546630857</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>128.00433273315429</real>
					<key>y</key>
					<real>127.99566726684571</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>512.0173309326171</real>
					<key>height</key>
					<real>512.0173309326171</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>256.00866546630857</real>
					<key>y</key>
					<real>511.99133453369143</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>255.9866973876953</real>
					<key>height</key>
					<real>255.9793746948242</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>639.9933486938477</real>
					<key>y</key>
					<real>640.0103126525879</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>255.9866973876953</real>
					<key>height</key>
					<real>255.9866973876953</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>639.9933486938477</real>
					<key>y</key>
					<real>128.00665130615235</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>255.9866973876953</real>
					<key>height</key>
					<real>255.9866973876953</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>639.9933486938477</real>
					<key>y</key>
					<real>384.0066513061523</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>255.9866973876953</real>
					<key>height</key>
					<real>255.9866973876953</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>895.9933486938477</real>
					<key>y</key>
					<real>640.0066513061523</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>255.9866973876953</real>
					<key>height</key>
					<real>255.9866973876953</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>895.9933486938477</real>
					<key>y</key>
					<real>128.00665130615235</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>255.9866973876953</real>
					<key>height</key>
					<real>255.9866973876953</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>895.9933486938477</real>
					<key>y</key>
					<real>384.0066513061523</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
