<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>dog_bg06.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>96.87645111083985</real>
					<key>height</key>
					<real>96.88201904296875</real>
					<key>x offset</key>
					<real>-0.0027839660644488617</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>96.88201904296875</real>
					<key>height</key>
					<real>96.88201904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>730.0410095214844</real>
					<key>y</key>
					<real>168.05899047851562</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>96.87645111083985</real>
					<key>height</key>
					<real>96.88201904296875</real>
					<key>x offset</key>
					<real>-0.0027839660644488617</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>96.88201904296875</real>
					<key>height</key>
					<real>96.88201904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>730.0410095214844</real>
					<key>y</key>
					<real>570.4089904785156</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>96.87645111083985</real>
					<key>height</key>
					<real>96.88201904296875</real>
					<key>x offset</key>
					<real>-0.0027839660644488617</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>96.88201904296875</real>
					<key>height</key>
					<real>96.88201904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>969.8910095214844</real>
					<key>y</key>
					<real>485.8089904785156</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>96.87645111083985</real>
					<key>height</key>
					<real>96.88201904296875</real>
					<key>x offset</key>
					<real>-0.0027839660644488617</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>96.88201904296875</real>
					<key>height</key>
					<real>96.88201904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>969.8910095214844</real>
					<key>y</key>
					<real>385.35899047851564</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>96.87645111083985</real>
					<key>height</key>
					<real>96.88201904296875</real>
					<key>x offset</key>
					<real>-0.0027839660644488617</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>96.88201904296875</real>
					<key>height</key>
					<real>96.88201904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>969.8910095214844</real>
					<key>y</key>
					<real>284.7589904785156</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>96.87645111083985</real>
					<key>height</key>
					<real>96.88201904296875</real>
					<key>x offset</key>
					<real>-0.0027839660644488617</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>96.88201904296875</real>
					<key>height</key>
					<real>96.88201904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>280.9910095214844</real>
					<key>y</key>
					<real>168.05899047851562</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>96.87645111083985</real>
					<key>height</key>
					<real>96.88201904296875</real>
					<key>x offset</key>
					<real>-0.0027839660644488617</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>96.88201904296875</real>
					<key>height</key>
					<real>96.88201904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>57.74100952148437</real>
					<key>y</key>
					<real>289.40899047851565</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>97.10211563110352</real>
					<key>height</key>
					<real>96.93511962890625</real>
					<key>x offset</key>
					<real>-0.0027904510498046875</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>97.10769653320312</real>
					<key>height</key>
					<real>96.93511962890625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>280.70384826660154</real>
					<key>y</key>
					<real>570.9324401855469</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>96.87645111083985</real>
					<key>height</key>
					<real>96.88201904296875</real>
					<key>x offset</key>
					<real>-0.0027839660644488617</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>96.88201904296875</real>
					<key>height</key>
					<real>96.88201904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>57.74100952148437</real>
					<key>y</key>
					<real>490.7089904785156</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>96.87645111083985</real>
					<key>height</key>
					<real>96.88201904296875</real>
					<key>x offset</key>
					<real>-0.0027839660644488617</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>96.88201904296875</real>
					<key>height</key>
					<real>96.88201904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>57.74100952148437</real>
					<key>y</key>
					<real>390.0089904785156</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>96.87645111083985</real>
					<key>height</key>
					<real>96.88201904296875</real>
					<key>x offset</key>
					<real>-0.0027839660644488617</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>96.88201904296875</real>
					<key>height</key>
					<real>96.88201904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>377.7910095214844</real>
					<key>y</key>
					<real>65.35899047851558</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>96.87645111083985</real>
					<key>height</key>
					<real>96.88201904296875</real>
					<key>x offset</key>
					<real>-0.0027839660644488617</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>96.88201904296875</real>
					<key>height</key>
					<real>96.88201904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>169.79100952148437</real>
					<key>y</key>
					<real>369.35899047851564</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>96.87645111083985</real>
					<key>height</key>
					<real>96.88201904296875</real>
					<key>x offset</key>
					<real>-0.0027839660644488617</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>96.88201904296875</real>
					<key>height</key>
					<real>96.88201904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>169.4910095214844</real>
					<key>y</key>
					<real>470.25899047851567</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>96.87645111083985</real>
					<key>height</key>
					<real>96.88201904296875</real>
					<key>x offset</key>
					<real>-0.0027839660644488617</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>96.88201904296875</real>
					<key>height</key>
					<real>96.88201904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>393.2910095214844</real>
					<key>y</key>
					<real>268.7589904785156</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>96.87645111083985</real>
					<key>height</key>
					<real>96.88201904296875</real>
					<key>x offset</key>
					<real>-0.0027839660644488617</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>96.88201904296875</real>
					<key>height</key>
					<real>96.88201904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>281.7910095214844</real>
					<key>y</key>
					<real>369.35899047851564</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>96.87645111083985</real>
					<key>height</key>
					<real>96.88201904296875</real>
					<key>x offset</key>
					<real>-0.0027839660644488617</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>96.88201904296875</real>
					<key>height</key>
					<real>96.88201904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>377.7910095214844</real>
					<key>y</key>
					<real>673.4089904785156</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>96.87645111083985</real>
					<key>height</key>
					<real>96.88201904296875</real>
					<key>x offset</key>
					<real>-0.0027839660644488617</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>96.88201904296875</real>
					<key>height</key>
					<real>96.88201904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>633.7910095214844</real>
					<key>y</key>
					<real>673.3589904785156</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>96.87645111083985</real>
					<key>height</key>
					<real>96.88201904296875</real>
					<key>x offset</key>
					<real>-0.0027839660644488617</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>96.88201904296875</real>
					<key>height</key>
					<real>96.88201904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>505.5410095214844</real>
					<key>y</key>
					<real>64.05899047851562</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>96.87645111083985</real>
					<key>height</key>
					<real>96.88201904296875</real>
					<key>x offset</key>
					<real>-0.0027839660644488617</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>96.88201904296875</real>
					<key>height</key>
					<real>96.88201904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>505.5410095214844</real>
					<key>y</key>
					<real>164.75899047851567</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>96.87645111083985</real>
					<key>height</key>
					<real>96.88201904296875</real>
					<key>x offset</key>
					<real>-0.0027839660644488617</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>96.88201904296875</real>
					<key>height</key>
					<real>96.88201904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>505.5410095214844</real>
					<key>y</key>
					<real>265.35899047851564</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>96.87645111083985</real>
					<key>height</key>
					<real>96.88201904296875</real>
					<key>x offset</key>
					<real>-0.0027839660644488617</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>96.88201904296875</real>
					<key>height</key>
					<real>96.88201904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>729.7410095214843</real>
					<key>y</key>
					<real>369.35899047851564</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>96.87645111083985</real>
					<key>height</key>
					<real>96.88201904296875</real>
					<key>x offset</key>
					<real>-0.0027839660644488617</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>96.88201904296875</real>
					<key>height</key>
					<real>96.88201904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>857.7410095214843</real>
					<key>y</key>
					<real>369.35899047851564</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>96.87645111083985</real>
					<key>height</key>
					<real>96.88201904296875</real>
					<key>x offset</key>
					<real>-0.0027839660644488617</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>96.88201904296875</real>
					<key>height</key>
					<real>96.88201904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>617.7410095214843</real>
					<key>y</key>
					<real>268.7589904785156</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>96.87645111083985</real>
					<key>height</key>
					<real>96.88201904296875</real>
					<key>x offset</key>
					<real>-0.0027839660644488617</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>96.88201904296875</real>
					<key>height</key>
					<real>96.88201904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>633.7410095214843</real>
					<key>y</key>
					<real>65.35899047851558</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>96.87645111083985</real>
					<key>height</key>
					<real>96.88201904296875</real>
					<key>x offset</key>
					<real>-0.0027839660644488617</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>96.88201904296875</real>
					<key>height</key>
					<real>96.88201904296875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>857.7410095214843</real>
					<key>y</key>
					<real>470.0589904785156</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
