<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>dog_bg06.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>140.85448379516603</real>
					<key>height</key>
					<real>140.86257934570312</real>
					<key>x offset</key>
					<real>-0.004047775268546161</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>140.86257934570312</real>
					<key>height</key>
					<real>140.86257934570312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>529.8312896728515</real>
					<key>y</key>
					<real>447.91871032714846</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>140.85448379516603</real>
					<key>height</key>
					<real>140.86257934570312</real>
					<key>x offset</key>
					<real>-0.004047775268546161</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>140.86257934570312</real>
					<key>height</key>
					<real>140.86257934570312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>811.0812896728515</real>
					<key>y</key>
					<real>583.9687103271484</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>140.85448379516603</real>
					<key>height</key>
					<real>140.86257934570312</real>
					<key>x offset</key>
					<real>-0.004047775268546161</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>140.86257934570312</real>
					<key>height</key>
					<real>140.86257934570312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>811.0812896728515</real>
					<key>y</key>
					<real>445.56871032714844</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>140.85448379516603</real>
					<key>height</key>
					<real>140.86257934570312</real>
					<key>x offset</key>
					<real>-0.004047775268546161</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>140.86257934570312</real>
					<key>height</key>
					<real>140.86257934570312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>811.0812896728515</real>
					<key>y</key>
					<real>307.5187103271484</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>140.85448379516603</real>
					<key>height</key>
					<real>140.86257934570312</real>
					<key>x offset</key>
					<real>-0.004047775268546161</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>140.86257934570312</real>
					<key>height</key>
					<real>140.86257934570312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>811.0812896728515</real>
					<key>y</key>
					<real>169.1187103271484</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>140.85448379516603</real>
					<key>height</key>
					<real>140.86257934570312</real>
					<key>x offset</key>
					<real>-0.004047775268546161</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>140.86257934570312</real>
					<key>height</key>
					<real>140.86257934570312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>244.88128967285155</real>
					<key>y</key>
					<real>168.71871032714841</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>140.85448379516603</real>
					<key>height</key>
					<real>140.86257934570312</real>
					<key>x offset</key>
					<real>-0.004047775268546161</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>140.86257934570312</real>
					<key>height</key>
					<real>140.86257934570312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>244.88128967285155</real>
					<key>y</key>
					<real>307.11871032714845</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>328.84630355834963</real>
					<key>height</key>
					<real>328.77227783203125</real>
					<key>x offset</key>
					<real>-0.009450149536121444</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>328.8652038574219</real>
					<key>height</key>
					<real>328.77227783203125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>295.93260192871094</real>
					<key>y</key>
					<real>543.6638610839843</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>140.85448379516603</real>
					<key>height</key>
					<real>140.86257934570312</real>
					<key>x offset</key>
					<real>-0.004047775268546161</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>140.86257934570312</real>
					<key>height</key>
					<real>140.86257934570312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>387.38128967285155</real>
					<key>y</key>
					<real>168.71871032714841</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>140.85448379516603</real>
					<key>height</key>
					<real>140.86257934570312</real>
					<key>x offset</key>
					<real>-0.004047775268546161</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>140.86257934570312</real>
					<key>height</key>
					<real>140.86257934570312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>387.38128967285155</real>
					<key>y</key>
					<real>307.11871032714845</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>140.85448379516603</real>
					<key>height</key>
					<real>140.86257934570312</real>
					<key>x offset</key>
					<real>-0.004047775268546161</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>140.86257934570312</real>
					<key>height</key>
					<real>140.86257934570312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>529.8312896728515</real>
					<key>y</key>
					<real>168.71871032714841</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>140.85448379516603</real>
					<key>height</key>
					<real>140.86257934570312</real>
					<key>x offset</key>
					<real>-0.004047775268546161</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>140.86257934570312</real>
					<key>height</key>
					<real>140.86257934570312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>529.8312896728515</real>
					<key>y</key>
					<real>307.11871032714845</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>140.85448379516603</real>
					<key>height</key>
					<real>140.86257934570312</real>
					<key>x offset</key>
					<real>-0.004047775268546161</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>140.86257934570312</real>
					<key>height</key>
					<real>140.86257934570312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>670.2312896728515</real>
					<key>y</key>
					<real>307.5187103271484</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>140.85448379516603</real>
					<key>height</key>
					<real>140.86257934570312</real>
					<key>x offset</key>
					<real>-0.004047775268546161</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>140.86257934570312</real>
					<key>height</key>
					<real>140.86257934570312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>670.2312896728515</real>
					<key>y</key>
					<real>445.91871032714846</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>140.85448379516603</real>
					<key>height</key>
					<real>140.86257934570312</real>
					<key>x offset</key>
					<real>-0.004047775268546161</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>140.86257934570312</real>
					<key>height</key>
					<real>140.86257934570312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>670.2312896728515</real>
					<key>y</key>
					<real>169.1187103271484</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>140.85448379516603</real>
					<key>height</key>
					<real>140.86257934570312</real>
					<key>x offset</key>
					<real>-0.004047775268546161</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>140.86257934570312</real>
					<key>height</key>
					<real>140.86257934570312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>530.9312896728516</real>
					<key>y</key>
					<real>585.0687103271484</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>frame.png</string>
					<key>width</key>
					<real>140.85448379516603</real>
					<key>height</key>
					<real>140.86257934570312</real>
					<key>x offset</key>
					<real>-0.004047775268546161</real>
					<key>y offset</key>
					<real>0</real>
				</dict>
				<key>mask</key>
				<string>mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>140.86257934570312</real>
					<key>height</key>
					<real>140.86257934570312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>670.2312896728515</real>
					<key>y</key>
					<real>584.3187103271484</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
