<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>color_tv_background.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>767.0996704101562</real>
					<key>height</key>
					<real>574.940396118164</real>
					<key>x offset</key>
					<real>79.34609985351562</real>
					<key>y offset</key>
					<real>-3.1248794555663864</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>501.763916015625</real>
					<key>height</key>
					<real>501.4776611328125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>560.6819580078125</real>
					<key>y</key>
					<real>483.6611694335937</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>259.1383972167969</real>
					<key>height</key>
					<real>194.3465446472168</real>
					<key>x offset</key>
					<real>26.804367065429688</real>
					<key>y offset</key>
					<real>-1.0562999725341822</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>169.5037841796875</real>
					<key>height</key>
					<real>169.51400756835938</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>102.75189208984375</real>
					<key>y</key>
					<real>671.2929962158203</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>259.1383972167969</real>
					<key>height</key>
					<real>194.3465446472168</real>
					<key>x offset</key>
					<real>26.804367065429688</real>
					<key>y offset</key>
					<real>-1.0562999725341822</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>169.5037841796875</real>
					<key>height</key>
					<real>169.51400756835938</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>102.75189208984375</real>
					<key>y</key>
					<real>479.94299621582036</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>259.1383972167969</real>
					<key>height</key>
					<real>194.3465446472168</real>
					<key>x offset</key>
					<real>26.804367065429688</real>
					<key>y offset</key>
					<real>-1.0562999725341822</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>169.5037841796875</real>
					<key>height</key>
					<real>169.51400756835938</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>102.75189208984375</real>
					<key>y</key>
					<real>288.59299621582034</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>259.1383972167969</real>
					<key>height</key>
					<real>194.3465446472168</real>
					<key>x offset</key>
					<real>26.804367065429688</real>
					<key>y offset</key>
					<real>-1.0562999725341822</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>169.5037841796875</real>
					<key>height</key>
					<real>169.51400756835938</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>102.75189208984375</real>
					<key>y</key>
					<real>97.19299621582036</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>259.1383972167969</real>
					<key>height</key>
					<real>194.3465446472168</real>
					<key>x offset</key>
					<real>26.804367065429688</real>
					<key>y offset</key>
					<real>-1.0562999725341822</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>169.5037841796875</real>
					<key>height</key>
					<real>169.51400756835938</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>612.6018920898438</real>
					<key>y</key>
					<real>97.59299621582034</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>259.1383972167969</real>
					<key>height</key>
					<real>194.3465446472168</real>
					<key>x offset</key>
					<real>26.804367065429688</real>
					<key>y offset</key>
					<real>-1.0562999725341822</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>169.5037841796875</real>
					<key>height</key>
					<real>169.51400756835938</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>867.6018920898438</real>
					<key>y</key>
					<real>97.59299621582034</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>259.1383972167969</real>
					<key>height</key>
					<real>194.3465446472168</real>
					<key>x offset</key>
					<real>26.804367065429688</real>
					<key>y offset</key>
					<real>-1.0562999725341822</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>169.5037841796875</real>
					<key>height</key>
					<real>169.51400756835938</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>357.55189208984376</real>
					<key>y</key>
					<real>97.59299621582034</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
