<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>color_tv_background.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>341.56878967285155</real>
					<key>height</key>
					<real>256.0578140258789</real>
					<key>x offset</key>
					<real>35.33067779541015</real>
					<key>y offset</key>
					<real>-1.391709136962879</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>223.42193603515625</real>
					<key>height</key>
					<real>223.34014892578125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>135.81096801757812</real>
					<key>y</key>
					<real>641.2299255371094</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>341.4593826293945</real>
					<key>height</key>
					<real>256.0578140258789</real>
					<key>x offset</key>
					<real>35.31936111450193</real>
					<key>y offset</key>
					<real>-1.391709136962879</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>223.35037231445312</real>
					<key>height</key>
					<real>223.34014892578125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>135.67518615722656</real>
					<key>y</key>
					<real>386.52992553710936</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>341.4593826293945</real>
					<key>height</key>
					<real>256.0578140258789</real>
					<key>x offset</key>
					<real>35.31936111450193</real>
					<key>y offset</key>
					<real>-1.391709136962879</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>223.35037231445312</real>
					<key>height</key>
					<real>223.34014892578125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>475.2751861572266</real>
					<key>y</key>
					<real>641.2299255371094</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>341.4593826293945</real>
					<key>height</key>
					<real>256.0578140258789</real>
					<key>x offset</key>
					<real>35.31936111450193</real>
					<key>y offset</key>
					<real>-1.391709136962879</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>223.35037231445312</real>
					<key>height</key>
					<real>223.34014892578125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>814.7751861572266</real>
					<key>y</key>
					<real>386.52992553710936</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>341.4593826293945</real>
					<key>height</key>
					<real>256.0578140258789</real>
					<key>x offset</key>
					<real>35.31936111450193</real>
					<key>y offset</key>
					<real>-1.391709136962879</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>223.35037231445312</real>
					<key>height</key>
					<real>223.34014892578125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>814.7751861572266</real>
					<key>y</key>
					<real>641.2299255371094</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>341.4593826293945</real>
					<key>height</key>
					<real>256.0578140258789</real>
					<key>x offset</key>
					<real>35.31936111450193</real>
					<key>y offset</key>
					<real>-1.391709136962879</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>223.35037231445312</real>
					<key>height</key>
					<real>223.34014892578125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>475.2751861572266</real>
					<key>y</key>
					<real>386.52992553710936</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>341.4593826293945</real>
					<key>height</key>
					<real>256.0578140258789</real>
					<key>x offset</key>
					<real>35.31936111450193</real>
					<key>y offset</key>
					<real>-1.391709136962879</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>223.35037231445312</real>
					<key>height</key>
					<real>223.34014892578125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>135.67518615722656</real>
					<key>y</key>
					<real>129.82992553710938</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>341.4593826293945</real>
					<key>height</key>
					<real>256.0578140258789</real>
					<key>x offset</key>
					<real>35.31936111450193</real>
					<key>y offset</key>
					<real>-1.391709136962879</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>223.35037231445312</real>
					<key>height</key>
					<real>223.34014892578125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>475.2751861572266</real>
					<key>y</key>
					<real>129.82992553710938</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>341.4593826293945</real>
					<key>height</key>
					<real>256.0578140258789</real>
					<key>x offset</key>
					<real>35.31936111450193</real>
					<key>y offset</key>
					<real>-1.391709136962879</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>223.35037231445312</real>
					<key>height</key>
					<real>223.34014892578125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>814.7751861572266</real>
					<key>y</key>
					<real>129.82992553710938</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
