<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>color_tv_background.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>259.0915084838867</real>
					<key>height</key>
					<real>194.20589218139648</real>
					<key>x offset</key>
					<real>26.799517059326153</real>
					<key>y offset</key>
					<real>-1.055535507202146</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>169.47311401367188</real>
					<key>height</key>
					<real>169.39132690429688</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>102.73655700683594</real>
					<key>y</key>
					<real>98.30433654785156</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>259.0289901733398</real>
					<key>height</key>
					<real>194.2293342590332</real>
					<key>x offset</key>
					<real>26.79305038452147</real>
					<key>y offset</key>
					<real>-1.0556629180908228</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>169.43222045898438</real>
					<key>height</key>
					<real>169.41177368164062</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>102.71611022949219</real>
					<key>y</key>
					<real>671.9441131591797</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>259.0602493286133</real>
					<key>height</key>
					<real>194.2527763366699</real>
					<key>x offset</key>
					<real>26.796283721923828</real>
					<key>y offset</key>
					<real>-1.0557903289794872</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>169.45266723632812</real>
					<key>height</key>
					<real>169.43222045898438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>102.72633361816406</real>
					<key>y</key>
					<real>480.73388977050786</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>259.0915084838867</real>
					<key>height</key>
					<real>194.20589218139648</real>
					<key>x offset</key>
					<real>26.799517059326153</real>
					<key>y offset</key>
					<real>-1.055535507202146</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>169.47311401367188</real>
					<key>height</key>
					<real>169.39132690429688</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>102.73655700683594</real>
					<key>y</key>
					<real>289.50433654785155</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>259.0915084838867</real>
					<key>height</key>
					<real>194.2527763366699</real>
					<key>x offset</key>
					<real>26.799517059326153</real>
					<key>y offset</key>
					<real>-1.0557903289794872</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>169.47311401367188</real>
					<key>height</key>
					<real>169.43222045898438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>357.6365570068359</real>
					<key>y</key>
					<real>479.73388977050786</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>259.0915084838867</real>
					<key>height</key>
					<real>194.2527763366699</real>
					<key>x offset</key>
					<real>26.799517059326153</real>
					<key>y offset</key>
					<real>-1.0557903289794872</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>169.47311401367188</real>
					<key>height</key>
					<real>169.43222045898438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>357.6365570068359</real>
					<key>y</key>
					<real>670.9838897705079</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>259.0915084838867</real>
					<key>height</key>
					<real>194.2527763366699</real>
					<key>x offset</key>
					<real>26.799517059326153</real>
					<key>y offset</key>
					<real>-1.0557903289794872</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>169.47311401367188</real>
					<key>height</key>
					<real>169.43222045898438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>357.6365570068359</real>
					<key>y</key>
					<real>97.23388977050786</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>259.1071380615234</real>
					<key>height</key>
					<real>194.24105529785155</real>
					<key>x offset</key>
					<real>26.80113372802733</real>
					<key>y offset</key>
					<real>-1.0557266235351488</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>169.48333740234375</real>
					<key>height</key>
					<real>169.4219970703125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>357.64166870117185</real>
					<key>y</key>
					<real>288.48900146484374</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>259.0915084838867</real>
					<key>height</key>
					<real>194.20589218139648</real>
					<key>x offset</key>
					<real>26.799517059326153</real>
					<key>y offset</key>
					<real>-1.055535507202146</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>169.47311401367188</real>
					<key>height</key>
					<real>169.39132690429688</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>612.6365570068359</real>
					<key>y</key>
					<real>479.7543365478516</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>259.1071380615234</real>
					<key>height</key>
					<real>194.2527763366699</real>
					<key>x offset</key>
					<real>26.80113372802733</real>
					<key>y offset</key>
					<real>-1.0557903289794872</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>169.48333740234375</real>
					<key>height</key>
					<real>169.43222045898438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>612.6416687011719</real>
					<key>y</key>
					<real>670.9838897705079</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>259.1071380615234</real>
					<key>height</key>
					<real>194.2527763366699</real>
					<key>x offset</key>
					<real>26.80113372802733</real>
					<key>y offset</key>
					<real>-1.0557903289794872</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>169.48333740234375</real>
					<key>height</key>
					<real>169.43222045898438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>612.6416687011719</real>
					<key>y</key>
					<real>97.23388977050786</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>259.0915084838867</real>
					<key>height</key>
					<real>194.20589218139648</real>
					<key>x offset</key>
					<real>26.799517059326153</real>
					<key>y offset</key>
					<real>-1.055535507202146</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>169.47311401367188</real>
					<key>height</key>
					<real>169.39132690429688</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>867.6365570068359</real>
					<key>y</key>
					<real>288.55433654785156</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>259.1071380615234</real>
					<key>height</key>
					<real>194.2527763366699</real>
					<key>x offset</key>
					<real>26.80113372802733</real>
					<key>y offset</key>
					<real>-1.0557903289794872</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>169.48333740234375</real>
					<key>height</key>
					<real>169.43222045898438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>867.6416687011719</real>
					<key>y</key>
					<real>479.73388977050786</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>259.1071380615234</real>
					<key>height</key>
					<real>194.2527763366699</real>
					<key>x offset</key>
					<real>26.80113372802733</real>
					<key>y offset</key>
					<real>-1.0557903289794872</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>169.48333740234375</real>
					<key>height</key>
					<real>169.43222045898438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>612.6416687011719</real>
					<key>y</key>
					<real>288.5338897705078</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>259.1071380615234</real>
					<key>height</key>
					<real>194.2527763366699</real>
					<key>x offset</key>
					<real>26.80113372802733</real>
					<key>y offset</key>
					<real>-1.0557903289794872</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>169.48333740234375</real>
					<key>height</key>
					<real>169.43222045898438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>867.6916687011719</real>
					<key>y</key>
					<real>98.23388977050786</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>259.1071380615234</real>
					<key>height</key>
					<real>194.2527763366699</real>
					<key>x offset</key>
					<real>26.80113372802733</real>
					<key>y offset</key>
					<real>-1.0557903289794872</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>169.48333740234375</real>
					<key>height</key>
					<real>169.43222045898438</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>867.6416687011719</real>
					<key>y</key>
					<real>670.9838897705079</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
