<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>color_tv_background.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>675.8385665893554</real>
					<key>height</key>
					<real>508.0953117370605</real>
					<key>x offset</key>
					<real>69.90637130737302</real>
					<key>y offset</key>
					<real>-2.7615673065185398</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>442.0695495605469</real>
					<key>height</key>
					<real>443.1736755371094</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>441.38477478027346</real>
					<key>y</key>
					<real>384.76316223144534</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>172.17542724609373</real>
					<key>height</key>
					<real>129.47059478759766</real>
					<key>x offset</key>
					<real>17.809222412109364</real>
					<key>y offset</key>
					<real>-0.703690338134769</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>112.620849609375</real>
					<key>height</key>
					<real>112.92755126953125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>69.2604248046875</real>
					<key>y</key>
					<real>446.68622436523435</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>172.17542724609373</real>
					<key>height</key>
					<real>129.47059478759766</real>
					<key>x offset</key>
					<real>17.809222412109364</real>
					<key>y offset</key>
					<real>-0.703690338134769</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>112.620849609375</real>
					<key>height</key>
					<real>112.92755126953125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>69.2604248046875</real>
					<key>y</key>
					<real>702.9862243652344</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>172.17542724609373</real>
					<key>height</key>
					<real>129.47059478759766</real>
					<key>x offset</key>
					<real>17.809222412109364</real>
					<key>y offset</key>
					<real>-0.703690338134769</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>112.620849609375</real>
					<key>height</key>
					<real>112.92755126953125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>69.2604248046875</real>
					<key>y</key>
					<real>191.83622436523433</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>172.17542724609373</real>
					<key>height</key>
					<real>129.47059478759766</real>
					<key>x offset</key>
					<real>17.809222412109364</real>
					<key>y offset</key>
					<real>-0.703690338134769</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>112.620849609375</real>
					<key>height</key>
					<real>112.92755126953125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>577.5604248046875</real>
					<key>y</key>
					<real>702.9862243652344</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>172.17542724609373</real>
					<key>height</key>
					<real>129.47059478759766</real>
					<key>x offset</key>
					<real>17.809222412109364</real>
					<key>y offset</key>
					<real>-0.703690338134769</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>112.620849609375</real>
					<key>height</key>
					<real>112.92755126953125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>239.0104248046875</real>
					<key>y</key>
					<real>702.9862243652344</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>172.17542724609373</real>
					<key>height</key>
					<real>129.47059478759766</real>
					<key>x offset</key>
					<real>17.809222412109364</real>
					<key>y offset</key>
					<real>-0.703690338134769</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>112.620849609375</real>
					<key>height</key>
					<real>112.92755126953125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>747.3104248046875</real>
					<key>y</key>
					<real>702.9862243652344</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>172.17542724609373</real>
					<key>height</key>
					<real>129.47059478759766</real>
					<key>x offset</key>
					<real>17.809222412109364</real>
					<key>y offset</key>
					<real>-0.703690338134769</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>112.620849609375</real>
					<key>height</key>
					<real>112.92755126953125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>917.1104248046875</real>
					<key>y</key>
					<real>446.68622436523435</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>172.17542724609373</real>
					<key>height</key>
					<real>129.47059478759766</real>
					<key>x offset</key>
					<real>17.809222412109364</real>
					<key>y offset</key>
					<real>-0.703690338134769</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>112.620849609375</real>
					<key>height</key>
					<real>112.92755126953125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>408.8104248046875</real>
					<key>y</key>
					<real>702.9862243652344</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>172.17542724609373</real>
					<key>height</key>
					<real>129.47059478759766</real>
					<key>x offset</key>
					<real>17.809222412109364</real>
					<key>y offset</key>
					<real>-0.703690338134769</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>112.620849609375</real>
					<key>height</key>
					<real>112.92755126953125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>917.1104248046875</real>
					<key>y</key>
					<real>191.83622436523433</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>172.17542724609373</real>
					<key>height</key>
					<real>129.47059478759766</real>
					<key>x offset</key>
					<real>17.809222412109364</real>
					<key>y offset</key>
					<real>-0.703690338134769</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>112.620849609375</real>
					<key>height</key>
					<real>112.92755126953125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>918.4604248046875</real>
					<key>y</key>
					<real>702.9862243652344</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>172.17542724609373</real>
					<key>height</key>
					<real>129.47059478759766</real>
					<key>x offset</key>
					<real>17.809222412109364</real>
					<key>y offset</key>
					<real>-0.703690338134769</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>112.620849609375</real>
					<key>height</key>
					<real>112.92755126953125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>69.2604248046875</real>
					<key>y</key>
					<real>319.2862243652344</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>172.17542724609373</real>
					<key>height</key>
					<real>129.47059478759766</real>
					<key>x offset</key>
					<real>17.809222412109364</real>
					<key>y offset</key>
					<real>-0.703690338134769</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>112.620849609375</real>
					<key>height</key>
					<real>112.92755126953125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>69.2604248046875</real>
					<key>y</key>
					<real>575.5862243652343</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>172.17542724609373</real>
					<key>height</key>
					<real>129.47059478759766</real>
					<key>x offset</key>
					<real>17.809222412109364</real>
					<key>y offset</key>
					<real>-0.703690338134769</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>112.620849609375</real>
					<key>height</key>
					<real>112.92755126953125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>69.2604248046875</real>
					<key>y</key>
					<real>64.43622436523435</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>172.17542724609373</real>
					<key>height</key>
					<real>129.47059478759766</real>
					<key>x offset</key>
					<real>17.809222412109364</real>
					<key>y offset</key>
					<real>-0.703690338134769</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>112.620849609375</real>
					<key>height</key>
					<real>112.92755126953125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>577.5604248046875</real>
					<key>y</key>
					<real>64.43622436523435</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>172.17542724609373</real>
					<key>height</key>
					<real>129.47059478759766</real>
					<key>x offset</key>
					<real>17.809222412109364</real>
					<key>y offset</key>
					<real>-0.703690338134769</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>112.620849609375</real>
					<key>height</key>
					<real>112.92755126953125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>239.0104248046875</real>
					<key>y</key>
					<real>64.43622436523435</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>172.17542724609373</real>
					<key>height</key>
					<real>129.47059478759766</real>
					<key>x offset</key>
					<real>17.809222412109364</real>
					<key>y offset</key>
					<real>-0.703690338134769</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>112.620849609375</real>
					<key>height</key>
					<real>112.92755126953125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>747.3104248046875</real>
					<key>y</key>
					<real>64.43622436523435</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>6</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>172.17542724609373</real>
					<key>height</key>
					<real>129.47059478759766</real>
					<key>x offset</key>
					<real>17.809222412109364</real>
					<key>y offset</key>
					<real>-0.703690338134769</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>112.620849609375</real>
					<key>height</key>
					<real>112.92755126953125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>918.4604248046875</real>
					<key>y</key>
					<real>575.5862243652343</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>6</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>172.17542724609373</real>
					<key>height</key>
					<real>129.47059478759766</real>
					<key>x offset</key>
					<real>17.809222412109364</real>
					<key>y offset</key>
					<real>-0.703690338134769</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>112.620849609375</real>
					<key>height</key>
					<real>112.92755126953125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>917.1104248046875</real>
					<key>y</key>
					<real>319.2862243652344</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>6</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>172.17542724609373</real>
					<key>height</key>
					<real>129.47059478759766</real>
					<key>x offset</key>
					<real>17.809222412109364</real>
					<key>y offset</key>
					<real>-0.703690338134769</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>112.620849609375</real>
					<key>height</key>
					<real>112.92755126953125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>408.8104248046875</real>
					<key>y</key>
					<real>64.43622436523435</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>6</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>172.17542724609373</real>
					<key>height</key>
					<real>129.47059478759766</real>
					<key>x offset</key>
					<real>17.809222412109364</real>
					<key>y offset</key>
					<real>-0.703690338134769</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>112.620849609375</real>
					<key>height</key>
					<real>112.92755126953125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>917.1104248046875</real>
					<key>y</key>
					<real>64.43622436523435</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
