<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>color_tv_background.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.27945861816406</real>
					<key>height</key>
					<real>155.444416809082</real>
					<key>x offset</key>
					<real>21.440260314941405</real>
					<key>y offset</key>
					<real>-0.8448616027831957</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>135.58258056640625</real>
					<key>height</key>
					<real>135.58258056640625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>898.9412902832031</real>
					<key>y</key>
					<real>78.5587097167969</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.27945861816406</real>
					<key>height</key>
					<real>155.444416809082</real>
					<key>x offset</key>
					<real>21.440260314941405</real>
					<key>y offset</key>
					<real>-0.8448616027831957</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>135.58258056640625</real>
					<key>height</key>
					<real>135.58258056640625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>898.9412902832031</real>
					<key>y</key>
					<real>690.2087097167969</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.27945861816406</real>
					<key>height</key>
					<real>155.444416809082</real>
					<key>x offset</key>
					<real>21.440260314941405</real>
					<key>y offset</key>
					<real>-0.8448616027831957</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>135.58258056640625</real>
					<key>height</key>
					<real>135.58258056640625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>898.9412902832031</real>
					<key>y</key>
					<real>537.1587097167969</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.27945861816406</real>
					<key>height</key>
					<real>155.444416809082</real>
					<key>x offset</key>
					<real>21.440260314941405</real>
					<key>y offset</key>
					<real>-0.8448616027831957</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>135.58258056640625</real>
					<key>height</key>
					<real>135.58258056640625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>898.9412902832031</real>
					<key>y</key>
					<real>384.60870971679685</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.27945861816406</real>
					<key>height</key>
					<real>155.444416809082</real>
					<key>x offset</key>
					<real>21.440260314941405</real>
					<key>y offset</key>
					<real>-0.8448616027831957</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>135.58258056640625</real>
					<key>height</key>
					<real>135.58258056640625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>898.9412902832031</real>
					<key>y</key>
					<real>231.60870971679685</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.27945861816406</real>
					<key>height</key>
					<real>155.444416809082</real>
					<key>x offset</key>
					<real>21.440260314941405</real>
					<key>y offset</key>
					<real>-0.8448616027831957</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>135.58258056640625</real>
					<key>height</key>
					<real>135.58258056640625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>83.09129028320312</real>
					<key>y</key>
					<real>78.5587097167969</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.27945861816406</real>
					<key>height</key>
					<real>155.444416809082</real>
					<key>x offset</key>
					<real>21.440260314941405</real>
					<key>y offset</key>
					<real>-0.8448616027831957</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>135.58258056640625</real>
					<key>height</key>
					<real>135.58258056640625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>83.09129028320312</real>
					<key>y</key>
					<real>231.60870971679685</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.74834594726562</real>
					<key>height</key>
					<real>155.5381851196289</real>
					<key>x offset</key>
					<real>21.48876037597656</real>
					<key>y offset</key>
					<real>-0.8453712463378906</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>135.8892822265625</real>
					<key>height</key>
					<real>135.66436767578125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>82.39464111328125</real>
					<key>y</key>
					<real>691.0678161621094</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.27945861816406</real>
					<key>height</key>
					<real>155.444416809082</real>
					<key>x offset</key>
					<real>21.440260314941405</real>
					<key>y offset</key>
					<real>-0.8448616027831957</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>135.58258056640625</real>
					<key>height</key>
					<real>135.58258056640625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>83.09129028320312</real>
					<key>y</key>
					<real>537.6587097167969</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.27945861816406</real>
					<key>height</key>
					<real>155.444416809082</real>
					<key>x offset</key>
					<real>21.440260314941405</real>
					<key>y offset</key>
					<real>-0.8448616027831957</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>135.58258056640625</real>
					<key>height</key>
					<real>135.58258056640625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>83.09129028320312</real>
					<key>y</key>
					<real>384.60870971679685</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.27945861816406</real>
					<key>height</key>
					<real>155.444416809082</real>
					<key>x offset</key>
					<real>21.440260314941405</real>
					<key>y offset</key>
					<real>-0.8448616027831957</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>135.58258056640625</real>
					<key>height</key>
					<real>135.58258056640625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>287.0412902832031</real>
					<key>y</key>
					<real>78.5587097167969</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.27945861816406</real>
					<key>height</key>
					<real>155.444416809082</real>
					<key>x offset</key>
					<real>21.440260314941405</real>
					<key>y offset</key>
					<real>-0.8448616027831957</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>135.58258056640625</real>
					<key>height</key>
					<real>135.58258056640625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>287.0412902832031</real>
					<key>y</key>
					<real>537.6587097167969</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.27945861816406</real>
					<key>height</key>
					<real>155.444416809082</real>
					<key>x offset</key>
					<real>21.440260314941405</real>
					<key>y offset</key>
					<real>-0.8448616027831957</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>135.58258056640625</real>
					<key>height</key>
					<real>135.58258056640625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>286.59129028320314</real>
					<key>y</key>
					<real>691.0587097167969</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.27945861816406</real>
					<key>height</key>
					<real>155.444416809082</real>
					<key>x offset</key>
					<real>21.440260314941405</real>
					<key>y offset</key>
					<real>-0.8448616027831957</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>135.58258056640625</real>
					<key>height</key>
					<real>135.58258056640625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>287.0412902832031</real>
					<key>y</key>
					<real>231.60870971679685</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.27945861816406</real>
					<key>height</key>
					<real>155.444416809082</real>
					<key>x offset</key>
					<real>21.440260314941405</real>
					<key>y offset</key>
					<real>-0.8448616027831957</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>135.58258056640625</real>
					<key>height</key>
					<real>135.58258056640625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>287.0412902832031</real>
					<key>y</key>
					<real>384.60870971679685</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.27945861816406</real>
					<key>height</key>
					<real>155.444416809082</real>
					<key>x offset</key>
					<real>21.440260314941405</real>
					<key>y offset</key>
					<real>-0.8448616027831957</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>135.58258056640625</real>
					<key>height</key>
					<real>135.58258056640625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>491.0412902832031</real>
					<key>y</key>
					<real>690.6587097167969</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.27945861816406</real>
					<key>height</key>
					<real>155.444416809082</real>
					<key>x offset</key>
					<real>21.440260314941405</real>
					<key>y offset</key>
					<real>-0.8448616027831957</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>135.58258056640625</real>
					<key>height</key>
					<real>135.58258056640625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>491.0412902832031</real>
					<key>y</key>
					<real>537.6587097167969</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.27945861816406</real>
					<key>height</key>
					<real>155.444416809082</real>
					<key>x offset</key>
					<real>21.440260314941405</real>
					<key>y offset</key>
					<real>-0.8448616027831957</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>135.58258056640625</real>
					<key>height</key>
					<real>135.58258056640625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>491.0412902832031</real>
					<key>y</key>
					<real>78.5587097167969</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.27945861816406</real>
					<key>height</key>
					<real>155.444416809082</real>
					<key>x offset</key>
					<real>21.440260314941405</real>
					<key>y offset</key>
					<real>-0.8448616027831957</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>135.58258056640625</real>
					<key>height</key>
					<real>135.58258056640625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>491.0412902832031</real>
					<key>y</key>
					<real>231.60870971679685</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.27945861816406</real>
					<key>height</key>
					<real>155.444416809082</real>
					<key>x offset</key>
					<real>21.440260314941405</real>
					<key>y offset</key>
					<real>-0.8448616027831957</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>135.58258056640625</real>
					<key>height</key>
					<real>135.58258056640625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>491.0412902832031</real>
					<key>y</key>
					<real>384.60870971679685</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.27945861816406</real>
					<key>height</key>
					<real>155.444416809082</real>
					<key>x offset</key>
					<real>21.440260314941405</real>
					<key>y offset</key>
					<real>-0.8448616027831957</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>135.58258056640625</real>
					<key>height</key>
					<real>135.58258056640625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>694.9912902832032</real>
					<key>y</key>
					<real>384.60870971679685</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.27945861816406</real>
					<key>height</key>
					<real>155.444416809082</real>
					<key>x offset</key>
					<real>21.440260314941405</real>
					<key>y offset</key>
					<real>-0.8448616027831957</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>135.58258056640625</real>
					<key>height</key>
					<real>135.58258056640625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>694.9912902832032</real>
					<key>y</key>
					<real>537.6587097167969</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.27945861816406</real>
					<key>height</key>
					<real>155.444416809082</real>
					<key>x offset</key>
					<real>21.440260314941405</real>
					<key>y offset</key>
					<real>-0.8448616027831957</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>135.58258056640625</real>
					<key>height</key>
					<real>135.58258056640625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>694.9912902832032</real>
					<key>y</key>
					<real>231.60870971679685</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.27945861816406</real>
					<key>height</key>
					<real>155.444416809082</real>
					<key>x offset</key>
					<real>21.440260314941405</real>
					<key>y offset</key>
					<real>-0.8448616027831957</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>135.58258056640625</real>
					<key>height</key>
					<real>135.58258056640625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>694.9912902832032</real>
					<key>y</key>
					<real>78.5587097167969</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.27945861816406</real>
					<key>height</key>
					<real>155.444416809082</real>
					<key>x offset</key>
					<real>21.440260314941405</real>
					<key>y offset</key>
					<real>-0.8448616027831957</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>135.58258056640625</real>
					<key>height</key>
					<real>135.58258056640625</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>694.9912902832032</real>
					<key>y</key>
					<real>690.6587097167969</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
