<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>color_tv_background.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>746.9844039916992</real>
					<key>height</key>
					<real>560.0898399353027</real>
					<key>x offset</key>
					<real>77.26544723510742</real>
					<key>y offset</key>
					<real>-3.0441646575927734</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>488.6064147949219</real>
					<key>height</key>
					<real>488.5246276855469</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>444.5032073974609</real>
					<key>y</key>
					<real>487.9376861572266</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>260.1699493408203</real>
					<key>height</key>
					<real>195.10841217041016</real>
					<key>x offset</key>
					<real>26.911067199707038</real>
					<key>y offset</key>
					<real>-1.0604408264160181</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>170.17852783203125</real>
					<key>height</key>
					<real>170.17852783203125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>240.23926391601563</real>
					<key>y</key>
					<real>102.86073608398442</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>260.1699493408203</real>
					<key>height</key>
					<real>195.10841217041016</real>
					<key>x offset</key>
					<real>26.911067199707038</real>
					<key>y offset</key>
					<real>-1.0604408264160181</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>170.17852783203125</real>
					<key>height</key>
					<real>170.17852783203125</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>496.0892639160156</real>
					<key>y</key>
					<real>102.86073608398442</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>260.12306060791013</real>
					<key>height</key>
					<real>195.0380859375</real>
					<key>x offset</key>
					<real>26.906217193603503</real>
					<key>y offset</key>
					<real>-1.06005859375</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>170.14785766601562</real>
					<key>height</key>
					<real>170.1171875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>752.0739288330078</real>
					<key>y</key>
					<real>102.94140625</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
