<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>color_tv_background.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.9202713012695</real>
					<key>height</key>
					<real>155.92497940063475</real>
					<key>x offset</key>
					<real>21.50654373168944</real>
					<key>y offset</key>
					<real>-0.8474735260009716</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>136.00173950195312</real>
					<key>height</key>
					<real>136.00173950195312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>901.0008697509766</real>
					<key>y</key>
					<real>77.94913024902348</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.9202713012695</real>
					<key>height</key>
					<real>155.92497940063475</real>
					<key>x offset</key>
					<real>21.50654373168944</real>
					<key>y offset</key>
					<real>-0.8474735260009716</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>136.00173950195312</real>
					<key>height</key>
					<real>136.00173950195312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>901.0008697509766</real>
					<key>y</key>
					<real>691.4491302490235</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.9202713012695</real>
					<key>height</key>
					<real>155.92497940063475</real>
					<key>x offset</key>
					<real>21.50654373168944</real>
					<key>y offset</key>
					<real>-0.8474735260009716</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>136.00173950195312</real>
					<key>height</key>
					<real>136.00173950195312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>901.0008697509766</real>
					<key>y</key>
					<real>537.9491302490235</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.9202713012695</real>
					<key>height</key>
					<real>155.92497940063475</real>
					<key>x offset</key>
					<real>21.50654373168944</real>
					<key>y offset</key>
					<real>-0.8474735260009716</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>136.00173950195312</real>
					<key>height</key>
					<real>136.00173950195312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>901.0008697509766</real>
					<key>y</key>
					<real>384.9491302490234</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>5</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.9202713012695</real>
					<key>height</key>
					<real>155.92497940063475</real>
					<key>x offset</key>
					<real>21.50654373168944</real>
					<key>y offset</key>
					<real>-0.8474735260009716</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>136.00173950195312</real>
					<key>height</key>
					<real>136.00173950195312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>901.0008697509766</real>
					<key>y</key>
					<real>231.44913024902343</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.9202713012695</real>
					<key>height</key>
					<real>155.92497940063475</real>
					<key>x offset</key>
					<real>21.50654373168944</real>
					<key>y offset</key>
					<real>-0.8474735260009716</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>136.00173950195312</real>
					<key>height</key>
					<real>136.00173950195312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>82.60086975097656</real>
					<key>y</key>
					<real>77.94913024902348</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.9202713012695</real>
					<key>height</key>
					<real>155.92497940063475</real>
					<key>x offset</key>
					<real>21.50654373168944</real>
					<key>y offset</key>
					<real>-0.8474735260009716</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>136.00173950195312</real>
					<key>height</key>
					<real>136.00173950195312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>82.60086975097656</real>
					<key>y</key>
					<real>231.44913024902343</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>604.3332489013671</real>
					<key>height</key>
					<real>453.20568695068357</real>
					<key>x offset</key>
					<real>62.51011199951169</real>
					<key>y offset</key>
					<real>-2.4632347106933494</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>395.29754638671875</real>
					<key>height</key>
					<real>395.29754638671875</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>245.29877319335938</real>
					<key>y</key>
					<real>539.7012268066406</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.9202713012695</real>
					<key>height</key>
					<real>155.92497940063475</real>
					<key>x offset</key>
					<real>21.50654373168944</real>
					<key>y offset</key>
					<real>-0.8474735260009716</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>136.00173950195312</real>
					<key>height</key>
					<real>136.00173950195312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>287.20086975097655</real>
					<key>y</key>
					<real>77.94913024902348</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.9202713012695</real>
					<key>height</key>
					<real>155.92497940063475</real>
					<key>x offset</key>
					<real>21.50654373168944</real>
					<key>y offset</key>
					<real>-0.8474735260009716</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>136.00173950195312</real>
					<key>height</key>
					<real>136.00173950195312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>287.20086975097655</real>
					<key>y</key>
					<real>231.44913024902343</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.9202713012695</real>
					<key>height</key>
					<real>155.92497940063475</real>
					<key>x offset</key>
					<real>21.50654373168944</real>
					<key>y offset</key>
					<real>-0.8474735260009716</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>136.00173950195312</real>
					<key>height</key>
					<real>136.00173950195312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>491.8008697509766</real>
					<key>y</key>
					<real>77.94913024902348</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>3</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.9202713012695</real>
					<key>height</key>
					<real>155.92497940063475</real>
					<key>x offset</key>
					<real>21.50654373168944</real>
					<key>y offset</key>
					<real>-0.8474735260009716</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>136.00173950195312</real>
					<key>height</key>
					<real>136.00173950195312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>491.8008697509766</real>
					<key>y</key>
					<real>231.44913024902343</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.9202713012695</real>
					<key>height</key>
					<real>155.92497940063475</real>
					<key>x offset</key>
					<real>21.50654373168944</real>
					<key>y offset</key>
					<real>-0.8474735260009716</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>136.00173950195312</real>
					<key>height</key>
					<real>136.00173950195312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>696.4008697509765</real>
					<key>y</key>
					<real>384.9491302490234</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.9202713012695</real>
					<key>height</key>
					<real>155.92497940063475</real>
					<key>x offset</key>
					<real>21.50654373168944</real>
					<key>y offset</key>
					<real>-0.8474735260009716</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>136.00173950195312</real>
					<key>height</key>
					<real>136.00173950195312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>696.4008697509765</real>
					<key>y</key>
					<real>538.4491302490235</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.9202713012695</real>
					<key>height</key>
					<real>155.92497940063475</real>
					<key>x offset</key>
					<real>21.50654373168944</real>
					<key>y offset</key>
					<real>-0.8474735260009716</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>136.00173950195312</real>
					<key>height</key>
					<real>136.00173950195312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>696.4008697509765</real>
					<key>y</key>
					<real>231.44913024902343</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.9202713012695</real>
					<key>height</key>
					<real>155.92497940063475</real>
					<key>x offset</key>
					<real>21.50654373168944</real>
					<key>y offset</key>
					<real>-0.8474735260009716</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>136.00173950195312</real>
					<key>height</key>
					<real>136.00173950195312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>696.4008697509765</real>
					<key>y</key>
					<real>77.94913024902348</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>4</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>207.9202713012695</real>
					<key>height</key>
					<real>155.92497940063475</real>
					<key>x offset</key>
					<real>21.50654373168944</real>
					<key>y offset</key>
					<real>-0.8474735260009716</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>136.00173950195312</real>
					<key>height</key>
					<real>136.00173950195312</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>696.4008697509765</real>
					<key>y</key>
					<real>691.9491302490235</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
