<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>image</key>
			<string>color_tv_background.jpg</string>
		</dict>
		<key>targets</key>
		<array>
			<dict>
				<key>sample</key>
				<integer>1</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>512.1812591552734</real>
					<key>height</key>
					<real>384.06327896118165</real>
					<key>x offset</key>
					<real>52.978233337402344</real>
					<key>y offset</key>
					<real>-2.087436294555669</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>335.02044677734375</real>
					<key>height</key>
					<real>334.9897766113281</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>445.3102233886719</real>
					<key>y</key>
					<real>577.9051116943359</real>
				</dict>
			</dict>
			<dict>
				<key>sample</key>
				<integer>2</integer>
				<key>frame</key>
				<dict>
					<key>image</key>
					<string>60s_TV_tvshell.png</string>
					<key>width</key>
					<real>512.1812591552734</real>
					<key>height</key>
					<real>384.06327896118165</real>
					<key>x offset</key>
					<real>52.978233337402344</real>
					<key>y offset</key>
					<real>-2.087436294555669</real>
				</dict>
				<key>mask</key>
				<string>50sTV_mask.png</string>
				<key>dimensions</key>
				<dict>
					<key>width</key>
					<real>335.02044677734375</real>
					<key>height</key>
					<real>334.9897766113281</real>
				</dict>
				<key>transformation</key>
				<dict>
					<key>rotation degrees</key>
					<real>0</real>
					<key>x</key>
					<real>445.3102233886719</real>
					<key>y</key>
					<real>194.50511169433594</real>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
