<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Artist</key>
	<string>By Unknown</string>
	<key>Genre</key>
	<string>Holiday</string>
	<key>Name</key>
	<string>Deck The Halls</string>
	<key>Samples</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Make a low drum sound, like &quot;BOM!&quot;</string>
			<key>Name</key>
			<string>Bass Drum</string>
			<key>Pitched</key>
			<false/>
		</dict>
		<dict>
			<key>Description</key>
			<string>Make a high drum sound, like &quot;CHK!&quot;</string>
			<key>Name</key>
			<string>Snare Drum</string>
			<key>Pitched</key>
			<false/>
		</dict>
		<dict>
			<key>Description</key>
			<string>Clap your hands!</string>
			<key>Name</key>
			<string>Clap</string>
			<key>Pitched</key>
			<false/>
		</dict>
		<dict>
			<key>Root Note</key>
			<string>53</string>
			<key>Guide Note</key>
			<string>65</string>
			<key>Description</key>
			<string>Sing &quot;DOO&quot; to the Guide Note.</string>
			<key>Name</key>
			<string>&quot;Doo!&quot;</string>
			<key>Pitched</key>
			<true/>
		</dict>
		<dict>
			<key>Description</key>
			<string>Sing &quot;Fa!&quot; to the Guide Note.</string>
			<key>Guide Note</key>
			<string>65</string>
			<key>Name</key>
			<string>&quot;Fa!&quot;</string>
			<key>Pitched</key>
			<true/>
			<key>Root Note</key>
			<string>53</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Sing &quot;La!&quot; to the Guide Note.</string>
			<key>Guide Note</key>
			<string>65</string>
			<key>Name</key>
			<string>&quot;La!&quot;</string>
			<key>Pitched</key>
			<true/>
			<key>Root Note</key>
			<string>53</string>
		</dict>
	</array>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
