<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Master</key>
	<array>
		<dict>
			<key>preset</key>
			<string>room</string>
			<key>type</key>
			<string>reverb</string>
		</dict>
		<dict>
			<key>attack</key>
			<integer>1</integer>
			<key>gainmakeup</key>
			<integer>0</integer>
			<key>release</key>
			<integer>300</integer>
			<key>threshold</key>
			<integer>-2</integer>
			<key>type</key>
			<string>compressor</string>
		</dict>
		<string>birthdaymom</string>
	</array>
	<key>Samples</key>
	<array>
		<array>
			<integer>-7</integer>
			<string>kick</string>
		</array>
		<array>
			<string>kick 1</string>
			<integer>-9</integer>
			<dict>
				<key>cutoff</key>
				<integer>2000</integer>
				<key>resonance</key>
				<integer>4</integer>
				<key>type</key>
				<string>lowpass</string>
			</dict>
		</array>
		<array>
			<real>-7.5</real>
			<string>snare</string>
		</array>
		<array>
			<dict>
				<key>level</key>
				<real>0.7</real>
				<key>type</key>
				<string>distortion</string>
			</dict>
			<string>snare 1</string>
			<real>-15.5</real>
		</array>
		<array>
			<string>super</string>
			<real>-7.5</real>
		</array>
		<array>
			<string>birthday</string>
			<integer>-6</integer>
		</array>
		<array>
			<dict>
				<key>cutoff</key>
				<integer>1800</integer>
				<key>resonance</key>
				<integer>5</integer>
				<key>type</key>
				<string>lowpass</string>
			</dict>
			<dict>
				<key>decayratio</key>
				<real>0.4</real>
				<key>delay</key>
				<integer>40</integer>
				<key>drymix</key>
				<real>0.9</real>
				<key>type</key>
				<string>echo</string>
				<key>wetmix</key>
				<real>0.4</real>
			</dict>
			<string>birthday 1</string>
			<real>-7.5</real>
		</array>
		<array>
			<string>mom</string>
			<real>-7.5</real>
		</array>
		<array>
			<dict>
				<key>cutoff</key>
				<integer>5000</integer>
				<key>resonance</key>
				<real>5</real>
				<key>type</key>
				<string>lowpass</string>
			</dict>
			<dict>
				<key>decayratio</key>
				<real>0.7</real>
				<key>delay</key>
				<integer>70</integer>
				<key>drymix</key>
				<real>0.9</real>
				<key>type</key>
				<string>echo</string>
				<key>wetmix</key>
				<real>0.5</real>
			</dict>
			<string>mom 1</string>
			<real>-7.5</real>
		</array>
		<array>
			<string>woot</string>
			<real>-7.5</real>
		</array>
		<array>
			<dict>
				<key>decayratio</key>
				<real>0.7</real>
				<key>delay</key>
				<integer>100</integer>
				<key>drymix</key>
				<real>0.9</real>
				<key>type</key>
				<string>echo</string>
				<key>wetmix</key>
				<real>0.5</real>
			</dict>
			<string>woot 1</string>
			<real>-6.5</real>
		</array>
	</array>
</dict>
</plist>
