<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Artist</key>
	<string>By Steve Pardo</string>
	<key>Genre</key>
	<string>Beats</string>
	<key>Name</key>
	<string>Asterdroid</string>
	<key>Samples</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Make a low drum sound, like &quot;BOM!&quot;</string>
			<key>Name</key>
			<string>Bass Drum</string>
			<key>Pitched</key>
			<false/>
		</dict>
		<dict>
			<key>Description</key>
			<string>Make a tight drum sound, like &quot;CHK!&quot;</string>
			<key>Name</key>
			<string>Snare Drum</string>
			<key>Pitched</key>
			<false/>
		</dict>
		<dict>
			<key>Description</key>
			<string>Make a drum sound, like &quot;BAM!&quot;</string>
			<key>Name</key>
			<string>Tom Drum</string>
			<key>Pitched</key>
			<false/>
		</dict>
		<dict>
			<key>Description</key>
			<string>Make a cymbal sound, like &quot;PSHH!&quot;</string>
			<key>Name</key>
			<string>Cymbal</string>
			<key>Pitched</key>
			<false/>
		</dict>
		<dict>
			<key>Description</key>
			<string>Snap your fingers.</string>
			<key>Name</key>
			<string>Snap</string>
			<key>Pitched</key>
			<false/>
		</dict>
		<dict>
			<key>Description</key>
			<string>Clap your hands.</string>
			<key>Name</key>
			<string>Clap</string>
			<key>Pitched</key>
			<false/>
		</dict>
	</array>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
